{% extends 'base.html.twig' %}

{% block bigBody %}
    <article>
        <div class="container">
            <h1 class="title">Signal</h1>
            <p class="installation">
                <h2 class="title is-2">Installation</h2>
                <div class="desktop">
                    <span class="platform-linux"></span>
                    <span class="platform-windows"></span>
                    <span class="platform-apple"></span>
                </div>
                <div class="mobile">
                    <span class="platform-fdroid"></span>
                    <span class="platform-android"></span>
                    <span class="platform-appstore"></span>
                </div>
            </p>
            <p class="original-website">
                <a href="https://www.signal.org" class="btn btn-primary">www.signal.org</a>
            </p>
            <hr>
            <div class="container">
                <div class="columns">
                    <div class="column   is-5 center-sm vcenter"><h3 class="product">Rapide, simple, sécurisé.</h3>
                        <h3 class="product-subtitle">La protection de vie privée qui tient dans votre poche.</h3>
                        <ul class="download">
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms">
                                    <i
                                            class="fa fa-android fa-fw" aria-hidden="true"></i>
                                    Android
                                </a>
                            </li>
                            <li>
                                <a href="https://itunes.apple.com/us/app/signal-private-messenger/id874139669?mt=8">
                                    <i
                                            class="fa fa-apple fa-fw" aria-hidden="true"></i>
                                    iPhone
                                </a>
                            </li>
                            <li>
                                <a href="/download/">
                                    <i class="fa fa-desktop fa-fw" aria-hidden="true"></i>
                                    Desktop
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="column   is-5 text-center vcenter"><img
                                src="https://signal.org/assets/header/nietzche-04f33953b2398c045dc664aaa5bea560bf83ea6bf45b32a3066a766b5c10082d.png"
                                style="max-width: 100%;"></div>
                </div>
                <blockquote>
                    <div class="columns">
                        <div class="column  ">
                            <img class="img-circle center-block"
                                    src="https://signal.org/assets/testimonials/snowden-e54d914f15e0becb358d375451978bbb5a307d12a6b91b49cdc1031fd062a0b8.jpg"
                                    style="width: 100px;height:100px;">
                            <p>Utilisez n'importe quel produit fait par Open Whisper Systems.
                                <small>
                                    <span class="source">Edward Snowden</span>
                                    , lanceur d'alerte et avocat de la vie privée.
                                </small>
                            </p>
                        </div>
                        <div class="column  ">
                            <img class="img-circle center-block"
                                    src="https://signal.org/assets/testimonials/poitras-e8c538d3efb17cffba9fe675b291d7787c9a70cf4ae06ba836e852b26b3c1b13.jpg"
                                    style="width: 100px;height:100px;">
                            <p>Signal est le plus utilisable à grande échelle des outils pour le chiffrement à notre
                                disposition. C'est libre et soumis à la revue de pairs. J'encourage les gens à
                                l'utiliser tous les jours.
                                <small>
                                    <span class="source">Laura Poitras</span>
                                    , Réalisatrice de film et journaliste récompensée aux Oscars.
                                </small>
                            </p>
                        </div>
                        <div class="column  "><img class="img-circle center-block"
                                    src="https://signal.org/assets/testimonials/schneier-c24b9a5a1aebd05202b96f20b20357dd0e121f73de06fecb10653a6f778a2680.jpg"
                                    style="width: 100px;height:100px;">
                            <p>
                                Je suis régulièrement impressionné par le soin et la qualité mises à la fois dans la
                                sécurité et l'expérience d'utilisation de cette app. C'est mon premier choix pour une
                                conversation chiffrée.
                                <small>
                                    <span class="source">Bruce Schneier</span>
                                    , technologiste de sécurité de renommée internationale.
                                </small>
                            </p>
                        </div>
                        <div class="column  "><img class="img-circle center-block"
                                    src="https://signal.org/assets/testimonials/mattgreen-6ea4f83daaa6dfd98ba31b41cbed94b4ceb0b886e5a0fface19cff6e7f924491.jpg"
                                    style="width: 100px;height:100px;">
                            <p>
                                Après avoir lu le code, j'ai littéralement découvert que j'étais en train de baver.
                                C'est vraiment bien fait.
                                <small>
                                    <span class="source">Matt Green</span>
                                    , Cryptographe, de l'universé Johns Hopkins.
                                </small>
                            </p>
                        </div>
                    </div>
                </blockquote>
                <div class="column  s is-table-row feature-margin">
                    <div class="column   text-center feature-container bg-signal-secondary">
                        <h3
                                class="title is-3 product-description-header">Dites ce que vous voulez</h3>
                        <div class="feature-circle bg-signal-feature1 fileheart"></div>
                        <div class="product-description product-description-padding-bottom">
                            Envoyez à vos groupes et contacts, du texte, de la voix, de la vidéo, des documents et des images n'importe où dans le monde sans frais de SMS ou de MMS. Simplement avec votre connexion internet.
                        </div>
                    </div>
                    <div class="column   text-center feature-container bg-signal-tertiary"><h3
                                class="product-description-header">Parlez librement</h3>
                        <div class="product-description">
                            Passez des appels vocaux et vidéos avec la clarté du cristal à des personnes vivant à l'autre bout de la ville, ou de l'autre côté de l'océan, sans frais.
                        </div>
                        <img src="https://signal.org/assets/features/voice-09a0b62404b42b01284076cf941344e730b22fe274597a39e365f0409d2a6f0d.png"
                                height="430px"></div>
                </div>
                <div class="column  s is-table-row feature-margin">
                    <div class="column   text-center feature-container bg-signal-tertiary">
                        <h3
                                class=" title is-3 product-description-header">Restez dans la confidence</h3>
                        <div class="product-description">
                            Les appels et messages Signal sont toujours chiffrés de bout en bout et ingénirés sans relâche pour garder vos communications sûres. Nous ne pouvons pas lire vos messages ni voir vos appels, et personne d'autre ne le peut non plus.
                        </div>
                        <div class="feature-circle bg-signal-secondary product-image"><img
                                    src="https://signal.org/assets/features/key-622aa8e0adfc7365674c21141a7299d8faac759deb338498c0071c4c225ebdba.png"
                                    width="300px"></div>
                    </div>
                    <div class="column   text-center bg-signal-secondary">
                        <h3 class="title is-3 product-description-header">
                            Contrôllez le temps</h3>
                        <div class="feature-circle bg-signal-feature1"><img
                                    src="https://signal.org/assets/features/disappearing-233686d124ae78366bc80fa9469d1528b54a3f650bc18b6bec89d01758ace704.png"
                                    width="300px" height="300px"></div>
                        <div class="product-description product-description-padding-bottom"> Keep your chat history tidy
                            with messages that you can set to disappear. Choose different disappearing message intervals
                            for each conversation. Everyone in the thread shares the same setting. Good memories will
                            last even if the words vanish.
                        </div>
                    </div>
                </div>
                <div class="column  s feature-margin">
                    <div class="column  "><img
                                src="https://signal.org/assets/features/gift-4158b7b0e45f0dd65a88391184878035d1f4d205fc03492259d25d7477f588af.png"
                                style="margin-left:-15px; display: block; float: left; max-width: 100%;">
                        <h3 class="title is-3 product-description-header">Libre et gratuit pour tout le monde</h3>
                        <div class="product-description"> Signal is made for you. As an Open Source project supported by
                            grants and donations, Signal can put users first. There are no ads, no affiliate marketers,
                            no creepy tracking. Just open technology for a fast, simple, and secure messaging
                            experience. The way it should be.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
    <div class="container">

        {% include 'Pages/privacy/listing.html.twig' %}
    </div>
{% endblock %}

