{% extends 'base.html.twig' %}


{% block bigBody %}
    <article>
        <h1>Telegram</h1>
        {% include 'Pages/privacy/telegram-style.html.twig' %}
        <div class="container">
            <p class="description">

            </p>
            <p class="features">

            </p>
            <p class="a-propos">

            </p>
            <p class="installation">
            <h2>Installation</h2>
            <div class="desktop">
                <span class="platform-linux"></span>
                <span class="platform-windows"></span>
                <span class="platform-apple"></span>
            </div>
            <div class="mobile">
                <span class="platform-fdroid"></span>
                <span class="platform-android"></span>
                <span class="platform-appstore"></span>
            </div>
            </p>
            <p class="original-website">
                <a href="https://www.telegram.org" class="btn btn-primary">www.telegram.org</a>
            </p>

            <div class="tl_page">
                <div class="tl_main_wrap">
                    <div class="tl_main_head">
                        <div class="tl_main_side_blog">
                            <div class="side_blog_wrap">
                                <a href="https://www.telegram.org/blog" class="side_blog_header">Actualités</a>
                                <div class="side_blog_entries">
                                    <a href="https://www.telegram.org/blog/passport" class="side_blog_entry">
                                        <div class="side_blog_title">Introduction au Passport Telegram</div>
                                    </a><a href="https://www.telegram.org/blog/unread-replace-2x" class="side_blog_entry">
                                        <div class="side_blog_title">Remplacez des Médias, Partagez des vCards, Marquer en tant que non lu, 2X
                                            Messages vocaux, et plus encore
                                        </div>
                                    </a><a href="https://www.telegram.org/blog/200-million" class="side_blog_entry">
                                        <div class="side_blog_title">200,000,000 Utilisateurs actifs mensuels</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tl_main_logo_wrap">
                            <a href="https://www.telegram.org/" class="tl_main_logo">
                                <img class="tl_main_logo" src="https://www.telegram.org/img/t_logo.png"
                                     alt="Telegram logo">
                                <div class="tl_main_logo_title_image"></div>
                            </a>
                            <p class="tl_main_logo_lead">Une nouvelle ère de messagerie</p>
                        </div>
                    </div>

                    <div class="tl_main_download_mobile clearfix">
                        <div class="tl_main_download_mobile clearfix">
                            <a href="https://www.telegram.org/dl/android" class="tl_main_download_link tl_main_download_link_android"
                               target="_blank" data-track="AppDownload/Android" >
                                <i class="icon icon-android"></i>Telegram pour <strong>Android</strong>
                            </a><a href="https://www.telegram.org/dl/ios" class="tl_main_download_link tl_main_download_link_ios"
                                   target="_blank" data-track="AppDownload/iOS" >
                                <i class="icon icon-ios"></i>Telegram pour <strong>iPhone</strong> /
                                <strong>iPad</strong>
                            </a><a href="https://www.telegram.org/dl/wp" class="tl_main_download_link tl_main_download_link_wp" target="_blank"
                                   data-track="AppDownload/WP" >
                                <i class="icon icon-wp"></i>Telegram pour <strong>WP</strong>
                            </a>
                            <a href="https://www.telegram.org/desktop.telegram.org/"
                               class="tl_main_download_link tl_main_download_link_tdesktop"
                               data-track="AppDownload/TDesktop" >
                                Telegram pour <strong>Windows / Mac / Linux</strong>
                            </a>

                            <a class="tl_main_download_more_btn" href="https://www.telegram.org/apps">Browse more Telegram apps<i
                                        class="icon icon-arrow-more"></i></a>
                        </div>
                    </div>

                    <div class="tl_main_download_desktop_section">
                        <h3 class="tl_main_download_desktop_header">Une appli native pour chaque plateforme</h3>

                        <div class="tl_main_download_desktop_wrap1">
                            <div class="tl_main_download_desktop_wrap">
                                <div class="tl_main_download_desktop clearfix">
                                    <div class="tl_main_download_desktop_links clearfix">
                                        <a href="https://www.telegram.org/dl/webogram"
                                           class="tl_main_download_desktop_link tl_main_download_link_web"
                                           target="_blank" data-track="DesktopDownload/Web"
                                           >
                                            Telegram <strong>sur le Web</strong>
                                        </a><a href="https://www.telegram.org/macos.telegram.org/"
                                               class="tl_main_download_desktop_link tl_main_download_link_osx"
                                               data-track="DesktopDownload/OSX" >
                                            Telegram&nbsp;pour <strong>macOS</strong>
                                        </a><a href="https://www.telegram.org/desktop.telegram.org/"
                                               class="tl_main_download_desktop_link tl_main_download_link_td"
                                               data-track="DesktopDownload/TDesktop"
                                               >
                                            Telegram&nbsp;pour <strong>PC/Mac/Linux</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tl_main_body">
                        <a name="why-switch-to-Telegram"></a>
                        <h3 class="tl_main_body_header">Pourquoi passer à Telegram?</h3>

                        <div class="tl_main_cards clearfix">
                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_private"></div>
                                    <h3 class="tl_main_card_header">Privé</h3>
                                    <div class="tl_main_card_lead">
                                        Les messages <strong>Telegram</strong> sont fortement chiffrés et peuvent s'auto-détruire.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_cloud"></div>
                                    <h3 class="tl_main_card_header">Basé sur le Cloud</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> vous donne accès à vos messages depuis plusieurs terminaux.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_fast"></div>
                                    <h3 class="tl_main_card_header">Rapide</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> livre les messages plus rapidement que n'importe quelle application.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_decentralized"></div>
                                    <h3 class="tl_main_card_header">Distribué</h3>
                                    <div class="tl_main_card_lead"> Les serveurs de <strong>Telegram</strong> sont répandus dans le monde entier pour la sécurité et la rapidité.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_open"></div>
                                    <h3 class="tl_main_card_header">Ouvert</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> dispose d'une <a
                                                href="https://www.telegram.org/core.telegram.org/api">API</a> et d'un <a
                                                href="https://www.telegram.org/core.telegram.org/mtproto">protocole</a> ouvert, libre pour tout un chacun.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_free"></div>
                                    <h3 class="tl_main_card_header">Gratuit</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> sera toujours gratuit. Pas de pubs. Pas de frais d'inscription.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_secure"></div>
                                    <h3 class="tl_main_card_header">Secure</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> garde vos messages à l'abri des attaques.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_powerful"></div>
                                    <h3 class="tl_main_card_header">Powerful</h3>
                                    <div class="tl_main_card_lead"><strong>Telegram</strong> n'a pas de limite de taille de media et de chat<s>t</s>s.
                                    </div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell_last">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_wecandoit"></div>
                                    <h3 class="tl_main_card_header">Nous pouvons le faire!</h3>
                                    <div class="tl_main_card_lead">Aidez à rendre la messagerie safe again – faites connaître au monde <strong>Telegram</strong>.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl_main_body">
                        <a name="what-can-you-do-with-Telegram"></a>
                        <h3 class="tl_main_body_header">Que pouvez-vous faire avec Telegram?</h3>

                        <div class="tl_main_cards clearfix">
                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_connect"
                                         title="Tour the Moon with robots"></div>
                                    <h3 class="tl_main_card_header">Connecter</h3>
                                    <div class="tl_main_card_lead">des lieux les plus lointains.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_coordinate"
                                         title="Take a hot bath in your suit"></div>
                                    <h3 class="tl_main_card_header">Coordiner</h3>
                                    <div class="tl_main_card_lead">par groupes jusqu'à 100 000 membres.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_synchronize"
                                         title="Discover a twin brother in your toilet"></div>
                                    <h3 class="tl_main_card_header">Synchronisez</h3>
                                    <div class="tl_main_card_lead">vos discussions à travers tous vos terminaux.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_send" title="Say no to a parrot"></div>
                                    <h3 class="tl_main_card_header">Envoyez</h3>
                                    <div class="tl_main_card_lead">des documents de toute sorte.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_encrypt"
                                         title="Walk around wearing a horse head"></div>
                                    <h3 class="tl_main_card_header">Chiffrez</h3>
                                    <div class="tl_main_card_lead">des secrets personnels et d'entreprise.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_destruct"
                                         title="Help a cat blow up the parliament"></div>
                                    <h3 class="tl_main_card_header">Détruisez</h3>
                                    <div class="tl_main_card_lead">vos messages avec un compte à rebours.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell_last">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_store" title="Grow 4 extra arms"></div>
                                    <h3 class="tl_main_card_header">Stockez</h3>
                                    <div class="tl_main_card_lead">vos médias dans les nuages.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_build"
                                         title="Extract phones from a hippo"></div>
                                    <h3 class="tl_main_card_header">Construisez</h3>
                                    <div class="tl_main_card_lead">vos propres outils sur notre API.</div>
                                </div>
                            </div>

                            <div class="tl_main_card_cell">
                                <div class="tl_main_card_wrap">
                                    <div class="tl_main_card tl_main_card_process" title="Get famous and busy"></div>
                                    <h3 class="tl_main_card_header">Profitez</h3>
                                    <div class="tl_main_card_lead">de retours de vos clients.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tl_main_noshare clearfix"></div>

                </div>

            </div>
        </div>

    </article>
    <div class="container">

    {% include 'Pages/privacy/listing.html.twig' %}
    </div>
{% endblock %}

