{% extends "base.html.twig" %}
            {% block main %}
                <div class="well content">
                    <h1 class="title">Calcul de pénalités de retard de paiement sur facture</h1>
                    <div class="columns">
                        <div class="column">
                            <article class="message is-dark">
                                <div class="message-header">

                                    <p>Contexte</p>
                                </div>
                                <div class="message-body">
                                    <p>
                                        <strong> Le moindre retard met en danger votre activité, </strong> et les organismes
                                        officiels tels que
                                        <em>

                                        les impots, l'urssaf, la cipav et bien d'autres n'hésiteront pas un
                                        seul instant à vous demander des indémnités pour le moindre jour de retard.</em>
                                    </p>
                                    <p>
                                        Vous êtes un indépendant qui a facturé un service et vous ne savez pas combien ajouter
                                        de pénalités de retard à votre client, faites le calcul ici. Au delà de 30 jours de
                                        retard vous êtes obligés de faire ces pénalités. Faites toujours figurer sur vos facture
                                        la date d'exigibilité de paiement, et la mention
                                        <i>"Tout retard de paiement conduira à une majoration selon les tarifs en vigueur."</i>
                                        . Ce n'est pas obligé mais cela rapellera à votre client que ces retards ne seront pas
                                        tolérés, que vous n'êtes pas bénévole, et qu'il risquent de lui coûter cher.
                                    </p>
                                    <blockquote>
                                        L'indemnité est due en totalité même en cas de paiement partiel de la facture à
                                        l'échéance, quelle que soit la durée du retard (elle n'est pas due pour chaque jour de
                                        retard)
                                    </blockquote>

                                </div>
                            </article>
                            <article class="message is-dark">
                                <div class="message-header">
                                    <p>Délais de paiement</p>
                                </div>
                                <div class="message-body">
                                    <ul>
                                        <li>
                                            <strong>
                                                paiement comptant : </strong> le client a l'obligation de payer le bien ou
                                            la prestation le jour de la livraison ou de la réalisation
                                        </li>
                                        <li>
                                            <strong>


                                                paiement à réception : </strong> avec un délai d'au moins une semaine,
                                            incluant le temps d'acheminement de la facture
                                        </li>
                                        <li>
                                            <strong>


                                                paiement avec délai par défaut :</strong> avec un délai maximal fixé au 30e
                                            jour suivant la réception des marchandises ou l'exécution de la prestation (en
                                            l'absence de mention de délai dans le contrat)
                                        </li>
                                        <li>
                                            <strong>


                                                paiement avec délai négocié :</strong> des clauses particulières figurant
                                            aux conditions de vente ou convenues entre les parties peuvent amener le délai
                                            jusqu'à 60 jours après l'émission de la facture ou, à condition d'être mentionné
                                            dans le contrat, à la fin du mois après 45 jours.
                                        </li>

                                    </ul>
                                    <h3 class="title is-3">Spécificité des 45 jours et factures régulières</h3>
                                    Pour le délai de 45 jours fin de mois, <strong>deux modes de calcul sont possibles
                                        :</strong>
                                    <ul>
                                        <li>
                                            ajouter 45 jours à la fin du mois d'émission de la facture (une facture datée du
                                            2 janvier doit être payée avant le 17 mars),
                                        </li>
                                        <li>
                                            ajouter 45 jours à la date d'émission de la facture, la limite de paiement
                                            intervenant à la fin du mois au cours duquel expirent ces 45 jours (une facture
                                            datée du 2 janvier doit être payée avant le 28 ou 29 février).
                                        </li>
                                    </ul>
                                    Les factures périodiques (ou récapitulatives) doivent être payées dans un délai de 45
                                    jours <strong> maximum après leur émission.</strong>
                                    <hr>
                                    <p> source:  <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23211">
                                            service-public.fr
                                        </a></p>
                                </div>

                            </article>


                        </div>
                        <div class="column">
                            <p>

                                {% verbatim %}
                        <div ng-app='tk'>
                              <div ng-controller='mainCtrl'>
                                <h2 class="title is-2">Calcul</h2>
                                <div class="alert alert-info">

                                <div class="columns">
                                    <div class="column">
                                        Nombre de jours de retard:
                                        <input class="input" type="number" ng-model="jours"/>
                                    </div>
                                    <div class="column">
                                        Montant de la somme facturée en attente de paiement TTC
                                        <input class="input" type="number" ng-model="facture" />
                                        euros
                                    </div>
                                    <div class="column">
                                        Taux courant (qui change régulièrement, à consulter sur le site du service public.)
                                        <input class="input" type="number" ng-model="tauxCourant"/>
                                    </div>
                                    <div class="column">
                                        Indemnité forfétaire légale
                                        <input class="input" type="number" ng-model="forfait"/> euros
                                    </div>
                                    <div class="column">
                                        Pourcentage de majoration
                                        <input class="input" type="number" ng-model="pourcentageMajoration" min="2.7"/>
                                    </div>

                                </div>
                                </div>
                                <div class="alert alert-success">
                                <h3 class="title is-3">
                                    Montant calculé des pénalités de retard
                                </h3>

<span class="is-success title">
{{ penalite() |number:1 }} euros
</span>
                                (se met a jour quand vous changez un champ)

                              </div>
                              <div>
                              Si votre client n'est pas en mesure de vous fournir de preuve de l'envoi de virement deux jours avant l'échéance de paiement prévue, ou s'il vous paie effectivement avec le moindre jour de retard vous êtes en droit de lui faire payer.
                              <br>
                              Réalisez un courrier (avec vos infos habituelles d'entreprise) à envoyer en recommandé à votre client lui informant que vous le mettez en demeure de payer la facture en question en donnant sa référence / son numéro, ainsi que l'indemnité de retard du montant de {{ penalite() |number:1 }} euros.
                              Et c'est tout.
                                </div>
                                    </div>
                                    <div class="well">
                                Les indemnités ne sont pas soumises à la TVA.
                                <i class="fa fa-arrow-right"></i>
                                sources servant au calcul:
                                <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23211">
                                    service-public
                                </a>
                            </div>
                        </div>
                    {% endverbatim %}

                            </p>
                        </div>
                    </div>

                    {% include 'part/links-interactive.html.twig' %}
                    {% include 'part/js-cdn.html.twig' %}
                    <script>
                        /**
                         * code principal
                         */
                        angular.module("tk", ['tk.controllers']);
                        angular.module("tk.controllers", [])
                          .controller('mainCtrl', ['$scope', function ($scope) {
                              $scope.test = 20;
                              $scope.jours = 7;
                              $scope.forfait = 40;
                              $scope.facture = 10000;
                              $scope.pourcentageMajoration = 10;
                              $scope.tauxCourant = 0.93;
                              $scope.penalite = function () {
                                  return ($scope.facture * ($scope.tauxCourant + $scope.pourcentageMajoration / 100) * $scope.jours / 360) + $scope.forfait;

                              }

                          }])
                    </script>

                </div>
            {% endblock %}
