{% extends "base.html.twig" %}
            {% block main %}
                <h1 class="rubberBand">Circles</h1>
                <div class="well">
                    Une démonstration CSS en Javascript pour le bling bling. Passez le curseur sur le cercle pour voir
                    la magie opérer. <br/>
                    Le code est disponible sur <a href="https://github.com/tykayn">Github.com/tykayn</a>
                </div>

                <div class="rubberBand animated" id="circles_demo">
                    <div width=100% class="center-block c block" data-level="1" data-splittable="1" data-bg="#fff">

                    </div>
                </div>
                <hr/>
                <h2>Capacités du code</h2>

                <ul>
                    <li>
                        choix de mélanger les couleurs ou non avec le cercle parent.
                    </li>
                    <li>
                        choix de profondeur de découpe.
                    </li>
                    <li>
                        cercles ou carrés.
                    </li>
                </ul>

                {% include('part/links-interactive.html.twig') %}
                <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                <script>
                    // gloabl settings
                    levelMax = 6; // default is 6 like the circles demo
                    hexa = '0123456789ABCDEF'; // all colours
                    //hexa = '89ABCDEF'; // lightful colours
                    //hexa = '0123456'; // colours batman would like

                    hexLength = 6; // 3 or 6. the length of hexacolour code to be generated
                    sideDivider = 2; // divide with a floating number since 2 would make a back return of the circles.

                    mixingColours = true; // to mix or not to mix with parent circle's colour.
                    square = 0; // display circles with the value of 0 or squares with 1
                    // end of settings


                    if (square) {
                        $('body').append('<style> .c.block {    border-radius: 0%;}</style>')
                    }
                    //get a random colour
                    rColor = function () {
                        var color = '#';
                        for (var i = 0; i < hexLength; i++) {
                            color += hexa[Math.floor(Math.random() * hexa.length)];
                        }
                        return color;
                    }

                    //mixing colours
                    mixColors = function (selfcol, rcol) {
                        var newCol = '#';
                        // average of each hexcode
                        for (var i = 1; i < selfcol.length; i++) {
                            var a = hexa.indexOf(selfcol[i]);
                            if (a == -1) {
                                a = 5;
                            }
                            var b = hexa.indexOf(rcol[i]);
                            if (b == -1) {
                                b = 5;
                            }
                            var ab = Math.round((a * 1 + b * 1) / 2);
                            //    console.log(' a + b = ab ' + a + ' + ' + b + '  = ' + ( (a*1 + b*1) / 2))
                            newCol += hexa[ab];
                        }
                        console.log('mixcolors ' + selfcol + ' ' + rcol + ' = ' + newCol);
                        return newCol;
                    }


                    // manages the 4 sub blocks with their deepness.
                    subBlocks = function (level, selfCol) {
                        var splittable = 1;
                        if (level >= levelMax) {
                            splittable = 0;
                        }
                        var b = '';
                        for (var i = 0; i < 4; i++) {
                            var rcol = rColor();
                            if (mixingColours) {
                                var color = mixColors(selfCol, rcol);
                                var color = mixColors(selfCol, color);
//         var color = mixColors(selfCol, color);
                            }
                            else {
                                var color = rcol;
                            }


                            var style = 'background : ' + color;
                            var block = '  <div class="c block sub" style="' + style + '" data-level="' + level + '" data-splittable="' + splittable + '" data-bg="' + color + '"></div>';
                            if (block !== undefined) {
                                b += block;
                            }

                        }
                        return b;
                    };

                    // set the width and height of splittable blocks
                    setSides = function () {
                        $('.c[data-splittable]').each(function (index, e) {
                            var self = $(this);
                            console.log(self.attr('data-level'));

                            var side = Math.floor(self.parent().width() / sideDivider);
                            //first circle should be large.
                            if (self.attr('data-level') != '1') {
                                var side = Math.floor(self.parent().width() / sideDivider);

                            }
                            else {
                                var side = Math.floor(self.parent().width() * 0.99);
                            }
                            css = {
                                'width': side + 'px',
                                'height': side + 'px',
                                'display': 'block'
                            };
                            self.css(css);

                        })
                        $('.sub').removeClass('sub'); // for transition

                    }

                    // splits a circle in four circles
                    splitCircle = function (obj, level) {
                        var self = $(obj);
                        var selfCol = self.data('bg');
                        if (selfCol == '#' || '' || '#ccc') {
                            var selfCol = '#fff';
                        }

// var selfCol = self.css('background-colour');
                        console.log('selfCol ');
                        console.log(selfCol);

                        self.data('level', 10)
                                .data('splittable', 0)
                                .removeClass('c')
                                .css('background', '')
                                .append(subBlocks(level, selfCol));
                        init();
                    };

                    // checks the circle is ready to be splitted
                    checkCircle = function () {
                        var self = $(this);
                        var level = self.data('level');
                        if (level < levelMax) {
                            self
                            splitCircle(self, level + 1);
                        }
                    };

                    init = function () {
                        setSides();
                        $('.c[data-splittable=1]').on('mouseenter', checkCircle);
                    }
                    init()

                </script>
                <style type="text/css">
                    div {
                        text-align: center;
                    }

                    .c {
                        padding: 0;
                        margin: 0;
                        background: #4679BD;
                    }

                    .c[data-splittable~='1']:hover {
                        background: yellow;
                    }

                    .c.block {
                        border-radius: 100%;
                        display: inline-block;
                        background: #def;
                    }

                    .c.block.sub {
                        border-radius: 0;
                    }

                    .block {
                        padding: 0;
                        margin: 0 !important;
                        float: left;
                        border-radius: 0;
                        transition: all 0.5s ease-in-out;
                    }

                </style>

            {% endblock %}
