{% extends "base.html.twig" %}

{% block main %}
    <h1>Politique de confidentialité</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur deleniti distinctio eligendi eveniet fuga harum, impedit iusto laboriosam modi natus numquam pariatur quasi reiciendis repellat rerum saepe sint tempora tenetur veniam! Aut, consequuntur, cumque, delectus ea eius fugiat hic ipsa iure laudantium libero maiores modi necessitatibus neque odio vitae.
{% endblock %}