{% extends "base.html.twig" %}
{% block main %}
    <div class="column is-12">
        <h1 class="">{% trans %}Contactez-moi{% endtrans %}</h1>
    </div>
    <div class="columns padded">

        <div class="column is-6">

            <div class="telecom">
                <img
                        class="EntityPhoto-circle-5 marged pull-left"
                        alt="Baptiste Lemoine"
                        src="https://media.licdn.com/dms/image/C4D03AQFOdiNXsCamGg/profile-displayphoto-shrink_100_100/0?e=1572480000&amp;v=beta&amp;t=mw1zNu3JGGwAPj2JzdQ8H-Xvg9kXPGDjgAkmfqtGX4w"
                        width="64"
                        height="64"
                >
                <div class="well">
                    <a class="btn btn-primary" href="{{ asset('docs/baptiste-lemoine-cipherbliss.vcf') }}">

                        Téléchargez ma carte de contact .vcf
                    </a> , elle résume toutes les infos présentes ici, et est à ajouter à votre carnet d'addresse sur votre téléphone ou votre logiciel de gestion d'email.
                    Privilégiez le téléphone/SMS et l'email pour me joindre.
                </div>
                <br>
                Tel :
                <a class="btn btn-info" href="https://signal.org">
                    Signal
                </a>
                <a class="btn btn-primary" href="tel:06 27 13 08 37">
                   Bureau 06 27 13 08 37
                </a>
                <a class="btn btn-primary" href="tel:0627130837">
                   Portable 0627130837
                </a>

            </div>
            <div class="mail-land">
                <h2>
                    {% trans %}par mail{% endtrans %}
                </h2>
                <div class=columns>
                    <div class="column is-6">
                        <a
                                class="btn"
                                href="mailto:contact@cipherbliss.com"
                        >
                            contact@cipherbliss.com
                        </a>
                    </div>
                    <div class="column is-6 text-right">
                        Empreinte mail GPG: <br>  64A8 9B18 65E6 6523 FD86 7CB5 8796 1FCA F978 54FF
                    </div>
                </div>
            </div>
            <div class="libre columns row">
                <div class="column is-4 column">
                    <a href="https://mastodon.cipherbliss.com/@tykayn">
                        <h2>
                            <img src="{{ asset('img/mastodon.png') }}"
                                 style="width : 2em; height : 2em"
                                 alt="mastodon logo">

                            Mastodon:</h2>
                        <sub>
                        https://mastodon.cipherbliss.com/@tykayn
                        </sub>
                    </a>
                </div>
                <div class="column is-4 column">
                    <a href="https://t.me/tykayn">
                    <h2>
                        <img src="{{ asset('img/telegram.png') }}" alt="telegram logo"
                             style="width : 2em; height : 2em"> Telegram:
                    </h2>
{#                        https://t.me/tykayn#}
                    </a>
                </div>
                <div class="column is-4 column">
                    <h2>
                        <img src="{{ asset('img/element.svg') }}" alt="telegram logo"
                             style="width : 2em; height : 2em">
                        Element/Matrix
                    </h2>
                    @tykaynchu:matrix.org
                    <a href="https://riot.im/app/#/room/#cipherbliss:matrix.org">
                        Canal Matrix de CipherBliss
                    </a>
                </div>

            </div>
            <div class="privative-apps">
                <h2>Services privateurs</h2>
                <div class='columns'>
                    <div class='column'>
                        Mon compte Twitter
                        <a href="https://twitter.com/tykayn"> @tykayn</a>
                        n'est que le reflet de ce que je publie publiquement sur Mastodon grâce à du crossposting.
                        <br>
                    </div>
                    <div class='column'>
                        LinkedIn
                        <a href="https://www.linkedin.com/in/baptiste-lemoine-cipher-bliss/">
                            Baptiste Lemoine - CipherBliss
                        </a>
                        <br >
                        J'ai supprimé mes comptes Facebook et Google depuis le nouvel an 2019, et
                        <a href="https://www.cipherbliss.com/2018/facebook-est-mort-vive-mastodon/">
                            vous devriez en faire autant
                        </a>
                        si vous tenez à vos proches et à votre vie privée regardez plutôt ce qui se fait de libre et ouvert,
                        comme
                        <a href='https://mastodon.cipherbliss.com/@tykayn' >
                            Mastodon
                        </a >
                         par exemple.

                    </div>
                </div>




                <br>

            </div>

            <br/>
            {% trans %}Développeur front-end en Essonne et île de France.{% endtrans %}
            <a href="https://www.cipherbliss.com">
                www.cipherbliss.com
            </a>
        </div>
    </div>
    <div class=columns>
        <div class="column is-4 column">
            <h2>
                <img
                        src="https://joinpeertube.org/img/brand.png"
                        alt="Peertube"
                >
            </h2>
            <a href="https://peertube.cipherbliss.com/">
                https://peertube.cipherbliss.com
            </a>
            <br>
            <a href="https://peertube.cipherbliss.com/video-channels/root_channel/videos">
                Ma chaine perso
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column is-4 column ">
            <a href="https://www.openstreetmap.org/user/tykayn">
                <img
                        src="{{ asset('img/osm.png') }}"
                        style="width : 2em; height : 2em"
                        alt=""
                > OpenStreetMap Tykayn
            </a>
            <br>
            <a href="https://t.me/osmfr">
                <img
                        src="https://www.telegram.org/img/t_logo.png"
                        alt="telegram logo"
                        style="width : 1.5em; height : 1.5em"
                > OpenStreetMap Canal Fr sur Telegram
            </a>
        </div>
        <div class="column is-4 column ">
            <a href="https://framagit.org/tykayn">
                Sources de projets libres sur le Gitlab Framagit
            </a>

        </div>
        <div class="column is-4 column ">
            N° SIRET Cipher Bliss:
            <a href="https://www.infogreffe.fr/entreprise-societe/799424163-lemoine-baptiste-paul-jean-79942416300019.html?typeProduitOnglet=EXTRAIT&afficherretour=false">
                79942416300027
            </a>
        </div>
        <div class="column is-4 column ">

        </div>
    </div>

    <div>
        {% include 'part/gmap.html.twig' %}
    </div>

{% endblock %}
