{% extends 'base.html.twig' %}



{% block bigBody %}
<div class="cryptocurrencies">

    <div class="container-fluid text-center">
        <h2>
            Cours actuel de cryptomonnaies
        </h2>
        <div class="well">
            <a href="https://www.cipherbliss.com/tag/cryptomonnaie/">
                Mes articles sur la cryptomonnaie: bitcoin, ethereum, monero, dogecoin, etc.
            </a>
        </div>
        <script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
        <h3>Sur l'année passée</h3>


        <div class="graphs">

            <script type="text/javascript">
                baseUrl = "https://widgets.cryptocompare.com/";
                var scripts = document.getElementsByTagName("script");
                var embedder = scripts[scripts.length - 1];
                var cccTheme = {
                    "General": {"background": "#333", "borderColor": "#545454", "borderRadius": "4px 4px 0 0"},
                    "Header": {"background": "#000", "color": "#FFF"},
                    "Followers": {
                        "background": "#f7931a",
                        "color": "#FFF",
                        "borderColor": "#e0bd93",
                        "counterBorderColor": "#fdab48",
                        "counterColor": "#f5d7b2"
                    },
                    "Data": {"priceColor": "#FFF", "infoLabelColor": "#CCC", "infoValueColor": "#CCC"},
                    "Chart": {"fillColor": "rgba(86,202,158,0.5)", "borderColor": "#56ca9e"},
                    "Conversion": {"background": "#000", "color": "#999"}
                };
                (function () {
                    var appName = encodeURIComponent(window.location.hostname);
                    if (appName == "") {
                        appName = "local";
                    }
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    var theUrl = baseUrl + 'serve/v2/coin/chart?fsym=BTC&tsym=EUR&period=1Y';
                    s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                    embedder.parentNode.appendChild(s);
                })();

                baseUrl = "https://widgets.cryptocompare.com/";
                var scripts = document.getElementsByTagName("script");
                var embedder = scripts[scripts.length - 1];
                var cccTheme = {
                    "General": {"background": "#333", "borderColor": "#545454", "borderRadius": "4px 4px 0 0"},
                    "Header": {"background": "#000", "color": "#FFF"},
                    "Followers": {
                        "background": "#f7931a",
                        "color": "#FFF",
                        "borderColor": "#e0bd93",
                        "counterBorderColor": "#fdab48",
                        "counterColor": "#f5d7b2"
                    },
                    "Data": {"priceColor": "#FFF", "infoLabelColor": "#CCC", "infoValueColor": "#CCC"},
                    "Chart": {"fillColor": "rgba(86,202,158,0.5)", "borderColor": "#56ca9e"},
                    "Conversion": {"background": "#000", "color": "#999"}
                };
                (function () {
                    var appName = encodeURIComponent(window.location.hostname);
                    if (appName == "") {
                        appName = "local";
                    }
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    var theUrl = baseUrl + 'serve/v2/coin/chart?fsym=ETH&tsym=EUR&period=1Y';
                    s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                    embedder.parentNode.appendChild(s);
                })();

                baseUrl = "https://widgets.cryptocompare.com/";
                var scripts = document.getElementsByTagName("script");
                var embedder = scripts[scripts.length - 1];
                var cccTheme = {
                    "General": {"background": "#333", "borderColor": "#545454", "borderRadius": "4px 4px 0 0"},
                    "Header": {"background": "#000", "color": "#FFF"},
                    "Followers": {
                        "background": "#f7931a",
                        "color": "#FFF",
                        "borderColor": "#e0bd93",
                        "counterBorderColor": "#fdab48",
                        "counterColor": "#f5d7b2"
                    },
                    "Data": {"priceColor": "#FFF", "infoLabelColor": "#CCC", "infoValueColor": "#CCC"},
                    "Chart": {"fillColor": "rgba(86,202,158,0.5)", "borderColor": "#56ca9e"},
                    "Conversion": {"background": "#000", "color": "#999"}
                };
                (function () {
                    var appName = encodeURIComponent(window.location.hostname);
                    if (appName == "") {
                        appName = "local";
                    }
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    var theUrl = baseUrl + 'serve/v2/coin/chart?fsym=XMR&tsym=EUR&period=1Y';
                    s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                    embedder.parentNode.appendChild(s);
                })();
            </script>

        </div>
        <div class="resume-cryptomonnaies">

{#            <coingecko-coin-list-widget currency="eur" coin-ids="bitcoin,ethereum,monero,dogecoin" locale="fr"#}
{#                                        width="400px"></coingecko-coin-list-widget>#}
            <div class="well">
                <a href="https://www.cipherbliss.com/tag/cryptomonnaie/">
                    Mes articles sur la cryptomonnaie: bitcoin, ethereum, monero, dogecoin, etc.
                </a>
            </div>
        </div>

    </div>

</div>


{% endblock %}