{% extends "base.html.twig" %}

{% block main %}
    <div class="cv" class="content">
        <section class="section    columns">
            <span class="cv centred cv-description column is-8">
                <div class="columns">
                    <div class="column">
                     <h1 class="title">
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                         CV - Baptiste Lemoine - CipherBliss
                    </h1>
                    <div>
                        Currently: available for a mission.
                    </div>
                </div>
                    <div class="column">
{#                <a class="btn button is-primary" href="{{ asset('docs/b-lemoine-cv-cipherbliss-latest.doc') }}"#}
{#                   target="_blank">#}
{#                <i class="fa fa-download"></i>#}
{#                Téléchargez mon CV détaillé .doc#}
{#                </a>#}
                        <a class="btn button is-primary" href="{{ asset('docs/b-lemoine-cv-cipherbliss-latest.odt') }}"
                           target="_blank">
                            Téléchargez mon CV
                        </a>
                    </div>
                </div>
<img src="{{ asset('img/undraw_adventure_4hum.svg') }}" alt="">
                <p>
                <h2>
                    Expériences
                </h2>
                <div>
                    <ul>
                        <li>
                            <img class="icon" src="https://www.openstreetmap.fr/wp-content/uploads/2024/07/cropped-cropped-cropped-Logo-OSM-2024-e1720618276656.png" alt="osm fr">
                            Membre du CA d’OpenStreetMap France depuis 2023
                        </li>
                        <li>
                            <img class="icon" src="https://fposm.fr/wp-content/uploads/2022/06/cropped-Logo-clair-transparent.png" alt="fposm logo">
                            Membre de la fédération des pros d’OpenStreetMap depuis 2023
                        </li>
                        <li>
                            Dirigeant de CipherBliss depuis 2014
                        </li>
                          <li>
                              Contribution à des communs numériques depuis 2008
                          </li>
                    </ul>
                </div>
                <span class="latest">

                <h2>
                    2023-2024
                </h2>
                <h3>
                    SNCF Réseau – Open Source Railway Designer
                </h3>
Développeur frontend pour le logiciel libre de la SNCF visant à faciliter la collaboration entre les pays afin de réaliser des simulations de trajet en train. Ajout de fonctionnalités et conseil pour l’amélioration de l’application ainsi que la complétion de tests unitaires dans les diverses parties de ce service supporté par l’union européenne et l’Open Railway foundation et contribue à la recherche scientifique de pointe dans le domaine ferroviaire. Le service permet de partager des études d’exploitation, des caractéristiques de matériel roulant, de dessiner de nouvelles infrastructures ou d’en modfiier des existantes dans un éditeur de cartes basé sur Maplibre et à partir de sources de données multiples, dont une partie est enrichie par la base de données partagée OpenStreetMap. Utilisation de Jest, Typescript, SCSS, React. <br>
Durée 1 an, 50 personnes, principalement à distance avec présence épisodique au campus Rimbaud.

                </span>
                <h2>2023</h2>

                <span class="covid-land">

                    <h3>

	• LemonWay -  Embedded card fields,
                    </h3>
Pour le projet Embedded card fields, développement d’un SDK permettant aux boutiques d’e-commerce partenaires de Lemon Way d'intégrer des formulaires de paiement de carte bleue personnalisables et conformes à la norme PCIDSS. <br>
Contributions à la sécurisation des données côté client et de leur transport, mise en forme des champs de carte bleue, réalisation de tests unitaires et End to End avec Cypress et Jest. Architecture ViteJS et Vue3 avec Typescript et SCSS. Création d’un serveur nodeJS Express.<br>
Durée 1 an, 10 personnes, full remote,<br>
<br>
                    <h2>
                        2022
                    </h2>
                    <h3>

	• La Direction interministérielle du numérique (DINUM) – Framadate mobile
                    </h3>
Le logiciel libre Framadate est une application web basée sur un service de Framasoft, permettant de convenir de rendez-vous par la création et diffusion de sondages par assentiment. Intégration de maquettes, développement de l’API Symfony pour faire les sondages, intégration des emails, traduction collaborative sur Weblate, réalisation de tests unitaires et End to End. Migration d’Angular vers la version 10, mise à jour des bonnes pratiques.  Versionning git, gitlab, gitlab CI,  SCSS, BulmaCSS, maquettes sur Figma. <br>

	Durée 8 mois, 6 personnes, full remote. <br>
                    <h2>

2021
                    </h2>
                    <h3>

	• Le Centre de Recherche scientifique International de Paris – projects directory
                    </h3>
	Maintenance d’une plateforme en NuxtJS permettant à des chercheurs et des citoyens de promouvoir leur études sur des objectifs de développements durables tels que définis par l’ONU. Refactorisation de la base de code, stabilisation des interactions entre les composants, intégration de maquettes, priorisation des résolutions de bugs et d’avancées, suppression et remplacement de fonctionnalités écrites avec du jQuery pour unifier les modules de l’application afin de suivre les bonnes pratiques de VueJS. Intégration de plan OpenStreetMap montrant les projets géolocalisés, avec Leaflet. <br>
                    Versionning git, gitlab, gitlab CI,  SCSS, bootstrap,
	Durée 1 an, 8 personnes, 1/2 remote.
                </span>
                <h2>
                    2020
                </h2>
                <div>
                     Sabaï Thai 91 – maintenance du site web wordpress d’e-commerce du salon de massage Thaïlandais de Juvisy sur Orge et de sa boutique en ligne, et ajout de la possibilité de réservation en ligne. <br>
	Durée 1 semaine.<br>
<br>
	• Will Road – mise en place de la vitrine du Transporteur européen Will road, basé à Dourdan, sur un site wordpress permettant de présenter les services proposés, de discuter de façon intégrée au site avec le service commercial et réaliser des devis en ligne.<br>
	Durée 1 semaine.<br>
	• Le CIL - Club Informatique et Libertés de Gometz le châtel – mise en place du site web wordpress du club associatif de Gometz le Châtel réalisant des cours de python et faisant la promotion de logiciels libres. Formation des membres à l’utilisation d’un gestionnaire de mots de passe utilisant le logiciel libre Bitwarden.<br>
	Durée 1 semaine.<br>
	• Duniter, Cesium – contributions en javascript et scss à l’écosystème de la Monnaie Libre basée sur la théorie relative de la monnaie, mise en place sur la blockchain Duniter (node, express, typescript). Utilisation du framework CSS Bulma, Angular, React. Création d’un générateur de mot de passe pour l’application de portefeuille Cesium en ioniqJS, refonte du front end pour le moniteur de la monnaie libre générant des statistiques sous forme de tableaux dynamique et de graphiques.<br>
	• WeXample – intégration à l’association WeXample, qui est un collectif d’une dizaine de freelances réalisant divers travaux de maintenance et création de sites web éco responsables sur des missions courtes.<br>
	• Engie Direct – cadrage technique de la nouvelle version d’Engie direct qui sortira en 2021. Spécifications d’architecture applicative, communication avec diverses API pour la gestion de matériel et de personnes. POC en React concernant les personnalisations pour chaque Business Unit à l’international avec l’API du gestionnaire de contenu headless ButterCMS.
	Durée 1 mois, 15 personnes, full remote.<br>
	• Restaurant L’arôme – site web wordpress du restaurant l’arôme de Forges les bains.<br>
Mise en forme, gestion du contenu, formation de l’équipe du restaurant à l’utilisation et à l’ajout de contenus sur le site, intégration de webmail avec MailChimp. Maintenance tous les mois.<br>
	Durée : une heure de maintenance tous les mois, Forges Les Bains (Essonne).<br>
	• JoinFediverse.org<br>
Site web libre en VueJs présentant un ensemble de réseaux sociaux fédérés nommé « fédiverse », respectueux des libertés de leurs utilisateurs. Gestion d’API avec diverses sources de réseaux sociaux fédérés (Mastodon, Pleroma, Pixelfed, Peertube, Mobilizon) afin de fournir des informations sur les différentes parties des logiciels du réseau présenté.<br>
	Durée 1 mois.<br>

	• Framadate.org<br>
Refonte d’un logiciel libre de sondage en ligne (suite au passage payant de doodle.com) en utilisant Angular 9 - NgCLI, création d’une API backend en PHP/ Symfony4 complétant les fonctionnalités de l’ancienne version qui était dépourvue de framework.<br> Versionning git, gitlab, gitlab CI, maquettes sur Sketch / Zeplin. Durée 5 mois, 6 personnes.<br>
                </div>
                    <h2>
                    2018 - 2019
                    </h2>
                    <ul>
                        <li>
                            <h3>

                            Crypto Box, Ercom Paris / Vélizy
                            </h3>
                            <p>
                    Recherche et développement sur les technologies front end du gestionnaire de fichier chiffrés en ligne Crypto Box et de son client léger de bureau permettant de syncroniser des dossiers séléctivement. Migration de la messagerie instantanée intégrée aux espaces de travail de CryptoBox, consultation dynamique de l’historique des fichiers, page d’authentification multi facteurs.
                </p>
                </li>
                </ul>
                <strong>
                    2017 and before:   </strong><ul>
                    	<li>Société Générale CIB</li>
                        <li>
                            OpenstreetMap & Mapillary contributions since 2018
                        </li>
                        <li>
                            Distributed computing with Berkley University
                        </li>
                        <li>
                            web dev, specialised in front-end since 2008, freelance since 2012.
                        </li>
                    	<li>JC Decaux - projet ARES</li>
                    	<li>Samsung - jeu concours la BeatyFood</li>
                    	<li>Engie Cofély Ineo - RATP dashboard équipements et travaux </li>
                    	<li>Backelite, La Poste - Viapost</li>
                    	<li>Groupe Vivarte - la halle aux chaussures, minelli</li>
                    	</ul>
                        <ul>
                            <li>
                                <strong>
                                            2014 : </strong>
                                Cipher Bliss debut.
                            </li>
                            <li>
                                <strong>
                                            2008 : </strong>
                                First front end work for an Italian Real Estate website : Rent at Milano.
                        </li>
                            <li>

                                        <strong>
                                            2003 :</strong> My first website


                            </li>
                        </ul>
                </p>
                <p>
                    More details:
                    <br>
                    <a class="btn button is-primary" href="{{ asset('b-lemoine-cv-cipherbliss.doc') }}"
                       target="_blank">
                        my CV document to download.
                    </a>
                </p>

            </span>
            <div class=" column is-4">
                <div>

                    <h3 class="title">Language</h3>
                    <ul class="unstyled listing column is-6">
                        <li>
                            French. (mother tongue)
                        </li>
                        <li>
                            English (fluent)
                        </li>
                        <li>
                            Memes (only the dankest)
                        </li>
                    </ul>
                </div>
                <h2 class="title cv">
                    <i class="fa fa-check-square">

                    </i>{% trans %}Skills{% endtrans %}
                </h2>
                <div class="skills">
                    <div class="">
                        <h3>Dev</h3>
                        <ul class="unstyled listing column is-6">
                            <li>Html</li>
                            <li>JavaScript</li>
                            <li>SCSS</li>
                            <li>PHP</li>
                            <li>mySQL</li>
                        </ul>
                    </div>
                    <div class="">
                        <h3>Frameworks</h3>
                        <ul class="unstyled listing column is-6">

                            <li>Angular</li>
                            <li>Vue</li>
                            <li>React</li>
                            <li>Bootstrap</li>
                            <li>Bulma</li>
                            <li>Symfony 4</li>
                        </ul>
                    </div>

                    <div class="">
                        <h3>O.S.</h3>
                        <ul class="unstyled listing column is-6">
                            <li>Debian</li>
                            <li>Ubuntu</li>
                            <li>Proxmox</li>
                            <li>GlaDos</li>
                            <li>Raspbian</li>
                        </ul>
                    </div>

                    <div class="">
                        <h3>Methodology</h3>
                        <ul class="unstyled listing column is-6">
                            <li>
                                <i>Extreme programming</i>
                            </li>
                            <li>
                                <i>Agile SCRUM</i>
                            </li>
                            <li>
                                <i>Test Driven Developement</i>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <h3>Versionning</h3>
                        <ul class="unstyled listing column is-6">
                            <li>Git</li>
                            <li>Mercurial</li>
                        </ul>
                    </div>

                    <div class="">
                        <h3>Meta languages</h3>
                        <ul class="unstyled listing column is-6">
                            <li>SASS</li>
                            <li>twig</li>
                            <li>typeScript</li>
                            <li>coffee script</li>
                        </ul>
                    </div>
                    <div class="">
                        <h3>Server</h3>
                        <ul class="unstyled listing column is-6">
                            <li>bash</li>
                            <li>apache2</li>
                            <li>htaccess</li>
                        </ul>
                    </div>

                </div>

            </div>
        </section>
        <div class="columns">

            <div class="column">
                <h3 class="title">Leisure and sports</h3>
                <ul>
                    <li>la boustifaille</li>
                    <li>playtime in familly</li>
                    <li>electric rinding
                        <a href="https://tykayn.fr/category/tesla-model-s/">
                            my Tesla
                        </a>
                    </li>
                    <li>electric biking</li>
                    <li>electric reading</li>
                    <li>electric travel</li>
                    <li>electric Badminton (well ok, just badminton)</li>
                    <li>
                        <a href="https://mastodon.cipherbliss.com/@tykayn">
                            flood posting Mastodon
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column">

                <div class="bottom">

                    say hi by email:
                    <a class="btn btn-primary" href="mailto:contact@cipherbliss.com">contact@cipherbliss.com</a>

                    <br>

                    or by
                    <a id="ressources"
                       class="button is-primary {% if page == 'contact' %}
                            is-active
                    {% endif %}"
                       href="{{ path('view_page' , { 'page' : 'contact'}) }}">
                        <strong>{% trans %}other ways.{% endtrans %}</strong>
                    </a>

                </div>
            </div>
        </div>
        <div>
            <img src="{{ asset('img/undraw_status_update_jjgk.svg') }}" alt="">
        </div>

    </div>
    <div>
        <sub>

            illustrations from undev.com </sub>
    </div>
    <hr/>
{% endblock %}
