{% extends "base.html.twig" %}
{% block main %}

    <h1>Dates de vie</h1>
    <div class=columns>
        <div class="col-lg-3">
            <form action="#" method="GET" id="leform">
                <label for="dateinput">
                    Votre date de naissance:
                </label>

                <input id="dateinput" name="dateinput" type="date"/>
                <br/>
                <input id="fumeur" type="checkbox" name="fumeur"/>
                <label for="fumeur">cochez ici si vous êtes fumeur.</label>

                <br/>
                <button class="btn btn-primary" id="calcbutton">calculer</button>
            </form>
            <div class="pull-right">
                Votre âge:
                <div id="calc_6" class="result"></div>
            </div>

            <div class="alert alert-info">
                Y'a pas que l'anniverssaire qui compte dans la vie.
                Découvrez des tas de dates super méga importantes dont vous n'avez jamais soupçonné l'existence.
                Entrez votre date de naissance et soyez émerveillés.
            </div>
            {% include('part/share.html.twig') %}
        </div>
        <div class="col-lg-9">
            <div class=columnsesperance">
                <div class="">
                    <h3> Expiration de votre espérance de vie.</h3>
                </div>
                <div class="">
                    <div class="col-lg-6">

                        pour les hommes de votre âge:

                        <br/>
                        mort estimée à
                        <span id="calc_h_age_mort" class="result"></span> ans en <span id="calc_h"
                                                                                       class="result"></span>
                    </div>
                    <div class="col-lg-6">
                        Il vous reste environ
                        <span id="calc_h_reste" class="result"></span> années à vivre.
                    </div>
                    <div class="col-lg-12">
                        <div>
                            vous en êtes à <span id="calc_h_percent" class="result"></span> %
                        </div>

                        <div class="progress">
                            <div id="calc_h_percent_bar"
                                 class="progress-bar progress-bar-striped progress-bar-success active"
                                 role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        pour les femmes:

                        <br/>
                        mort estimée à
                        <span id="calc_f_age_mort" class="result"></span> ans en <span id="calc_f"
                                                                                       class="result"></span>
                    </div>
                    <div class="col-lg-6">
                        Il vous reste environ
                        <span id="calc_f_reste" class="result"></span> années à vivre.
                    </div>

                    <div class="col-lg-12">
                        Vous en êtes à <span id="calc_f_percent" class="result"></span> %
                        <div class="progress">
                            <div id="calc_f_percent_bar"
                                 class="progress-bar progress-bar-striped progress-bar-success active"
                                 role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="well-sm pull-right">
                    estimations faites à partir du
                    <a href="https://www.insee.fr/fr/themes/tableau.asp?reg_id=0&ref_id=NATnon02229">site de l'insee</a>
                    sur les chiffres de 2014.
                </div>

            </div>
            <div class=columnssome-dates">
                <div class="clearfix"></div>
                <div class="part">
                    vous avez été conçu.
                    <div id="calc_conception" class="result"></div>
                </div>
                <div class="part">
                    votre premier jour.
                    <div id="calc_0" class="result"></div>
                </div>
                <div class="part">
                    votre premier million de secondes.
                    <div id="calc_2" class="result"></div>
                </div>
                <div class="part">
                    votre deuxième million de secondes. ça passe vite.
                    <div id="calc_3" class="result"></div>
                </div>
                <div class="part">
                    votre premier milliard de secondes.
                    <div id="calc_4" class="result"></div>
                </div>
                <div class="part">
                    Votre millième semaine débutera le.
                    <div id="calc_5" class="result"></div>
                </div>
                <div class="part">
                    votre dix millième jour.
                    <div id="calc_1" class="result"></div>
                </div>
                <div class="part">
                    Se réveille le démon de midi.
                    <div id="calc_7" class="result"></div>
                </div>
            </div>
            <div class="columnsalert-success alert">
                J'espère que tout ceci vous a motivé à vivre pleinement le temps qu'il vous reste.
                Have fun!
            </div>
        </div>
    </div>

    <hr/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            $dateinput = $('#dateinput');
            $dateinput.val('1987-09-16');

            // pour traduire les nombres en mois et jours de semaine.
            tabMonths = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"];
            // en javascript le premier jour de la semaine est le dimanche.
            tabDays = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];

            date2StringNoHours = function (d) {
                var jour = tabDays[d.getDay()];
                var mois = tabMonths[d.getMonth()];
                return jour + ' ' + ("0" + d.getDate()).slice(-2) + ' / ' + mois + ' ' + d.getFullYear();
            };
            logToHours = function (microseconds) {
                console.log('log ' + (microseconds / 1000 / 60 / 60) + " heures");
                console.log('log ' + (microseconds / 1000 / 60 / 60 / 24) + " jours")
            };
            // trouver l'age actuel
            currentAge = function () {
                var d = new Date($dateinput.val());
                dtime = d.getTime()
                diffAnnees = (new Date().getTime() - dtime) / 1000 / 60 / 60 / 24 / 365
                console.log("années", diffAnnees)
                age = diffAnnees;
                return diffAnnees;
            };
            /**
             * adoucir les écarts entre deux tranches d'age
             */
            smoothSlice = function (obj) {
                var A1 = obj.a1;
                var A2 = obj.a2;
                var E1 = obj.e1;
                var E2 = obj.e2;
                var A = obj.age;
                var E = E1 + (A - A1) * (E2 - E1) / (A2 - A1);
                console.log('smoothSlice', E);
                return E;
            };

            /**
             * données de l'insee
             **/
            tabSlices = {
                '0a0': {h: 79.5, f: 85.3},
                '0a1': {h: 78.8, f: 84.6},
                '1a20': {h: 60, f: 65.8},
                '20a40': {h: 40.8, f: 46.1},
                '40a60': {h: 23.2, f: 27.5},
                '60a80': {h: 23.2 / 2, f: 27.5 / 2},
                '80a100': {h: 23.2 / 4, f: 27.5 / 4}
            };


            /**
             * donne l'index suivant de celui demandé
             * ou bien retourne le même si y'en a pas de suivant.
             **/
            prevSlice = function (keytoFind, tab) {
                var index = Object.keys(tab).indexOf(keytoFind);
                // si la propriété est la dernière
                if (index >= Object.keys(tab).length) {
                    nextProp = tab[Object.keys(tab).length]  // on donne la dernière
                }
                else {
                    nextProp = Object.keys(tab)[index * 1 - 1]
                }
                console.log("nextProp", nextProp);
                return nextProp;

            };
            /**
             * donne l'espérance de vie selon l'age
             * @returns {Array}
             */
            expiration = function () {
                // source des chiffres: https://www.insee.fr/fr/themes/tableau.asp?reg_id=0&ref_id=NATnon02229
                // 2014 (p) hors Mayotte
                //trouver l'age actuel en années.
                var age = currentAge();
                forMen = 0
                forWomen = 0
                for (var prop in tabSlices) {
                    var boom = prop.split('a');
                    if (age >= boom[0] && age <= boom[1]) {
                        var obj_h = {
                            a1: boom[0],
                            a2: boom[1],
                            e1: tabSlices[prevSlice(prop, tabSlices)].h,
                            e2: tabSlices[prop].h,
                            age: age
                        };
                        var obj_f = {
                            a1: boom[0],
                            a2: boom[1],
                            e1: tabSlices[prevSlice(prop, tabSlices)].f,
                            e2: tabSlices[prop].f,
                            age: age
                        };
                        forMen = smoothSlice(obj_h);
                        forWomen = smoothSlice(obj_f);
                        console.log('l\'age est entre ' + boom[0] + ' et ' + boom[1], obj_h);
                        break;
                    }
                }
                var tab = [forMen, forWomen];
                // mettre moins d'années aux fumeurs
                fumeur = $('#fumeur').is(':checked');
                if (fumeur) {
                    tab = [forMen - 15, forWomen - 15]
                }
                return tab
            };

            calcThings = function () {
                // diminue de 15 ans l'espérance de vie confortable
                fumeur = $('#fumeur').is(':checked');
                var d = new Date($dateinput.val());
                dtime = d.getTime();

                $('#calc_0').html(date2StringNoHours(d));
                var newD = new Date(dtime + 1000 * 60 * 60 * 24 * 10000)
                $('#calc_1').html(date2StringNoHours(newD));
                var newD = new Date(dtime - 1000 * 60 * 60 * 24 * 30 * 9)
                $('#calc_conception').html(date2StringNoHours(newD));

                // million de microsecondes
                mms = 1000 * 1000 * 1000

//                logToHours(mms)
                var newD = new Date(dtime + mms);
                $('#calc_2').html(date2StringNoHours(newD));
                var newD = new Date(dtime + mms * 2);
                $('#calc_3').html(date2StringNoHours(newD));

                megamms = mms * 1000
                var newD = new Date(megamms);
                $('#calc_4').html(date2StringNoHours(newD));

                var newD = new Date(dtime + 1000 * 60 * 60 * 24 * 7 * 1000)
                $('#calc_5').html(date2StringNoHours(newD));


                expirationTable = expiration();
                var age = diffAnnees.toFixed(2);
                bornYear = d.getFullYear();
                estimation = age * 1 + bornYear * 1;
                console.log("age plus tard estimation " + estimation, expirationTable);


                estim_h = expirationTable[0] * 1 + estimation;
                estim_f = expirationTable[1] * 1 + estimation;
                age_mort_h = age * 1 + expirationTable[0] * 1
                age_mort_f = age * 1 + expirationTable[1] * 1

                $('#calc_6').html(age)
                // ajout de 40 ans
                var newD = new Date(dtime + 1000 * 60 * 60 * 24 * 365 * 40)
                $('#calc_7').html(date2StringNoHours(newD))
                $('#calc_h').html(estim_h.toFixed(1));
                $('#calc_f').html(estim_f.toFixed(1));
                $('#calc_h_age_mort').html((age_mort_h).toFixed(2));
                $('#calc_f_age_mort').html((age_mort_f).toFixed(2));
                $('#calc_h_reste').html((age_mort_h - currentAge()).toFixed(2));
                $('#calc_f_reste').html((age_mort_f - currentAge()).toFixed(2));
                percent_h = (currentAge() * 100 / age_mort_h).toFixed(2);
                percent_f = (currentAge() * 100 / age_mort_f).toFixed(2);

                $('#calc_f_percent').html(percent_f);
                $('#calc_f_percent_bar')
                    .attr('aria-valuenow', percent_f)
                    .css('width', percent_f + '%')
                    .children('span').html(percent_f + '% complete');
                $('#calc_h_percent').html(percent_h);
                $('#calc_h_percent_bar')
                    .attr('aria-valuenow', percent_h)
                    .css('width', percent_h + '%')
                    .children('span').html(percent_f + '% complete');

            };

            $('#dateinput, #fumeur').on('change, keyup, click', function (e) {
                calcThings();
            });
            $('#leform').on('submit', function (e) {
                e.preventdefault();
            });
            $('#calcbutton, #fumeur').on('click', function (e) {
                calcThings()
            });


            calcThings();

        });
    </script>

    {% include 'part/links-interactive.html.twig' %}
{% endblock %}
