    {% for img in gal %}
        {% if img != '.' and img != '..' and img != 'thumb' and img != 'grand'%}
            <a rel="galerie" 
               href="{{ asset('bundles/tykaynportfolio/images/gal/' ~ page ~ '/' ~ img) }}" 
               title="{{ img |replace({'_': ' ', '.jpg': ''})}}" />
                <img class="thumbnail" 
                     src="{{ asset('bundles/tykaynportfolio/images/gal/' ~ page ~ '/thumb/' ~ img) }}" 
                     alt="{{ img }}" />
            </a>
        {% endif %}
    {% endfor %}
{#{{ gal | length }} images #}