
{% extends "base.html.twig" %}
{% block main %}


  <div class="columns">
    <div class="column is-8 offset2">
      <h1>{% trans %}Illustrations{% endtrans %}</h1>
      <div class="well">
        On my spare time i draw.
      </div>
      <img class="img-responsive " src="{{ asset('bundles/tykaynportfolio/images/gal/illustrations/parc_monceau.jpg') }}" alt="parc_monceau" />
      <br/>
      {% if gal is defined %}
        <div class="galerie">
          {% include 'TykaynPortfolioBundle:Pages:gal.html.twig' %}
        </div>

      {% endif %}
    </div>
  </div>
  <img class="icon pull-right" src="{{ asset('img/portfolio/deco/cv-bg.jpg') }}" alt="tykayn est content"/>
  {% include('part/links-interactive.html.twig') %}
  <!-- Add jQuery library -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Add mousewheel plugin (this is optional) -->


  <script src="{{ asset('js/fancyapps-fancyBox-18d1712/source/jquery.fancybox.pack.js') }}"></script>


  <script>

    $(".galerie a").addClass("fancybox-button");
    $(".fancybox-button").fancybox({
      maxWidth: 1100,
      maxHeight: 650,
      fitToView: false,
      width: '80%',
      height: '80%',
      autoSize: true,
      closeClick: true,
      openEffect: 'fade',
      closeEffect: 'none'
    });
    $('.fancybox-skin , .fancybox-wrap').css('position', 'fixed');
    console.log(' OOOOOOH');
// TODO fermeturne de la galerie fancybox
    /*     $('.fancybox-overlay').removeAttr('style');

     $('body').on('click' , function(){
     $('.fancybox-overlay , .fancybox-skin').fadeOut();
     console.log( ' OOOOOOH' );
     })*/

  </script>
  <style>

  </style>
  <link rel="stylesheet" type="text/css" href="{{ asset('js/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css') }}" />
{% endblock %}
