{% extends "base.html.twig" %}
{% block main %}

    <div ng-app="tkApp">
        <h1>Graphique des impôts</h1>
        Selon le barême 2015 pour les revenus de 2014.
        {% verbatim %}
    <section ng-controller="MainCtrl">
    <fieldset>
            Essai:
            <div class=columns>
                <div class="col-6">
                    <div class="well">
                                revenus bruts:
                                <input type="number" step="1000"
                                ng-model="revenus" autofocus="autofocus"
                                ng-change="revenusImposablesGuessed = guessImposable(revenus)"
                                >€
                                <br>
                                estimation net imposable:
                                <div class="btn btn-primary" ng-click="revenusImposables = revenusImposablesGuessed;generateTranches(revenusImposables)">
                                 {{revenusImposablesGuessed}} €
                                 <i class="fa fa-arrow-right"></i>
</div>

                    </div>
                </div>
                <div class="col-6">
                <div class="well">
                    <input type="number" step="1000" ng-model="essai" >€
                    <input type="text" ng-model="percentEssai" value="0.4">%

                    total : {{calcPercent(essai, percentEssai/100)}} €
                    </div>
                </div>
            </div>



        </fieldset>
        <!--{{ test }}-->
        <fieldset>

              <div class=columns>
                <div class="col-6">
                <div class="well">

                <strong>


                    revenus imposables :</strong>
                    <input type="number" step="1000" ng-model="revenusImposables" ng-change="setBrutFromImposable(revenusImposables); generateTranches(revenusImposables)">
                    <br>
                    ( {{multipleSmic}} fois le smic)
                    </div>
                </div>
                 <div class="col-6">
                    <strong class="alert alert-info">
                     impots: {{ imposed.toFixed(2) }} €

                    </strong>
                    <div class="badge">
                    <span class="fa-2x">
                    {{ (imposed  / revenusImposables*100).toFixed(2) }}</span> % de l'imposable
                    <span class="fa-2x">{{ (imposed / revenus *100).toFixed(2) }}</span> % du brut
</div>
                </div>
              </div>





        tranches:
        <div ng-repeat="t in tranches" ng-show="tranches.length">
            <div class=columns>
                    <div class="col-2">
                    {{t.numero}} ) {{t.min}} à {{t.max}}.
                    </div>
                    <div class="col-2">
                    {{t.reste}}
                    /
                    {{t.largeur}}€
                     =
                     <span class="badge">{{t.pourcentageRempli.toFixed(0)}}%</span>
                    </div>
                    <div class="col-4">
                    <div class="progress">
                      <div class="progress-bar progress-bar-default" ng-style="{width : t.pourcentageTrancheRempli  + '%'}">{{t.pourcentageTrancheRempli.toFixed(0) }} %</div>
                      <div class="progress-bar progress-bar-warning" ng-style="{width : t.pourcentTrancheImposed    +'%'}">{{t.pourcentTrancheImposed.toFixed(0)}} %</div>
                    </div>
                    <!--{{t.pourcentageRempli}} % rempli-->
                    <!--<progressbar max="100" value="t.pourcentRempli">-->
                      <!--<span style="color:white; white-space:nowrap;">{{t.pourcentRempli}} / {{t.valeur}}</span>-->
                      <!--</progressbar>-->
                    </div>
                    <div class="col-4">
                    <strong>{{t.valeur}} €</strong>
                    ({{t.largeur.toFixed(0)}}€ imposés à {{t.pourcentImposed.toFixed(0)}}%)
                    </div>
            </div>
         </div>
         <!--<pre>-->
         <!--tranches :-->
         	<!--{{tranches|json}}-->
         <!--</pre>-->
    </fieldset>


    </section>
    {% endverbatim %}
    </div>
    <section>
        impots a payer selon les revenus.
        <div id="graph1"></div>
        <div id="chartContainer" style="height: 300px; width: 100%;">
        </div>

        proportion des impots selon les revenus.
        <div id="graph2"></div>
        <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
    </section>

    <section>
        <div class="alert alert-info">
            Ces calculs ne prennent pas en compte les parts de quotien familial.
        </div>
        {#<h2>proportions des salaires en france</h2>#}

        {#<div id="chartContainer3" style="height: 300px; width: 100%;"></div>#}
        {#<div class="alert alert-default">#}
            {#Combien de gens ont tel revenu annuel.#}
        {#</div>#}
        {#<div id="tab"></div>#}
    </section>


    {% include 'part/links-interactive.html.twig' %}
    {% include 'part/js-cdn.html.twig' %}
    <script src="//canvasjs.com/assets/script/canvasjs.min.js"></script>
    {% verbatim %}
    <script>
        (function (CanvasJS) {
            var nope = 0; // désactiver
            if(nope){
                return;
            }
            /**
             * Setup god damn shit thresholds !
             *
             * @type {*[]}
             */
            var threshold = [
                {val: 9690, ratio: 0},
                {val: 26764, ratio: .14},
                {val: 71754, ratio: .30},
                {val: 151956, ratio: .41},
                {val: -1, ratio: .45}
            ];
            // Initialize some shit !
            var max                  = 200000,
                step                 = 100,
                compteur             = 0,
                dataPoints           = [],
                dataPointsProportion = []
                    ;
            /**
             * Make a fucking sum !
             *
             * @param revenus
             * @returns {number}
             */
            var calcImpots = function (revenus) {
                var prevThreshold = 0,
                    impot         = 0,
                    cursor        = 0
                        ;

                // Inspect all fucking thresholds !
                while (revenus > prevThreshold && 'undefined' !== typeof threshold[cursor]) {
                    impot += ((revenus > threshold[cursor].val && threshold[cursor].val > 0 ? threshold[cursor].val : revenus) - prevThreshold) * threshold[cursor].ratio;
                    prevThreshold = threshold[cursor].val;
                    cursor++;
                }

                return impot;
            };

            // Do motherfucking math !
            do {
                var valImpots = calcImpots(compteur);
                dataPoints.push({
                    x: compteur,
                    y: valImpots
                });
                dataPointsProportion.push({
                    x: compteur,
                    y: (valImpots / compteur * 100)
                });
                compteur += step;
            } while (compteur < max);

            // Setup motherfucking charts !
            var chart  = new CanvasJS.Chart("chartContainer", {
                    theme           : "theme2",
                    zoomEnabled     : true,
                    title           : {
                        text: "Impots sur le revenu"
                    },
                    animationEnabled: true,
                    data            : [
                        {
                            type         : "area",
                            lineThickness: 3,
                            dataPoints   : dataPoints
                        }
                    ]
                }),
                chart2 = new CanvasJS.Chart("chartContainer2", {
                    theme           : "theme2",
                    zoomEnabled     : true,
                    title           : {
                        text: "Impots sur le revenu en proportion"
                    },
                    animationEnabled: true,
                    data            : [
                        {
                            type         : "area",
                            lineThickness: 3,
                            dataPoints   : dataPointsProportion
                        }
                    ]
                })
                    ;

            // Draw it bitch !
            chart.render();
            chart2.render();

        })(window.CanvasJS);
// partie angular
        var tkModule = angular.module('tkApp', []);
        tkModule.controller('MainCtrl', ['$scope', function ($scope) {
            var threshold = [
                {val: 9690, ratio: 0},
                {val: 26764, ratio: .14},
                {val: 71754, ratio: .30},
                {val: 151956, ratio: .41},
                {val: -1, ratio: .45}
            ];
            $scope.tranches = [];
            // calcul sur une tranche
            $scope.calcPercent = function(total, pourcentage) {
              return (total *pourcentage);
            };
            $scope.test = "angular works ! ";
            $scope.revenus = 150*1000;
            $scope.guessImposable = function(amount) {
              return amount* 0.75;
            };
            $scope.revenusImposablesGuessed = $scope.guessImposable($scope.revenus);
            $scope.revenusImposables = 150*1000;

            $scope.essai = 9690;
            $scope.percentEssai = 14;

$scope.setBrutFromImposable = function(imposable) {
  var majoration = imposable * (1-0.75) + imposable;
  $scope.revenus = majoration;
};
            $scope.generateTranches = function(revenus){
                $scope.tranches = [];
                var prevThreshold = 0,
                    impot         = 0,
                    cursor        = 0
                        ;
                // Inspect all fucking thresholds !
                while (revenus > prevThreshold && 'undefined' !== typeof threshold[cursor]) {
                    var maxTranche =threshold[cursor].val;
                    var ratioTranche = threshold[cursor].ratio;
                    var largeurTranche = maxTranche - prevThreshold;
                    var reste = 0;
                    if(maxTranche === -1){
                        maxTranche = Infinity;
                    }
                     // si y'a pas de tranche suivante, la largeur de tranche vaut les revenus.
                     if('undefined' === typeof threshold[cursor+1])
                     {
                     largeurTranche = revenus;
                     maxTranche = prevThreshold + revenus;
                     }

                    var revenusDansTranche = (revenus > maxTranche && maxTranche > 0 ? largeurTranche : revenus);
                    var restant = (revenus > maxTranche && maxTranche > 0 ? largeurTranche : revenus);
                    var impotDeTranche = $scope.calcPercent(revenusDansTranche, ratioTranche);
                    impot += impotDeTranche;
                    cursor++;

                    var pourcentRempli =largeurTranche /revenusDansTranche *100 ;
                    if(pourcentRempli != 100){
                        reste = revenus - prevThreshold;
                        pourcentRempli = reste /largeurTranche *100 ;
                          var pourcentTrancheImposed = pourcentRempli * ratioTranche;
                          var pourcentTrancheRempli = pourcentRempli - pourcentTrancheImposed;
                    }else{
                    reste = largeurTranche;
                      var pourcentTrancheRempli = revenusDansTranche /largeurTranche*100 - ratioTranche*100;
                      var pourcentTrancheImposed = pourcentRempli * ratioTranche;
                    }

                    var laTranche = {
                        'numero' : cursor,
                        'min' : prevThreshold,
                        'max' : maxTranche,
                        'largeur' : largeurTranche,
                        'reste' : reste,
                        'ratioTranche' : ratioTranche,
                        'pourcentageRempli' :  pourcentRempli,
                        'pourcentageTrancheRempli' :  pourcentTrancheRempli,
                        'pourcentImposed' :  ratioTranche*100 ,
                        'pourcentTrancheImposed' :  pourcentTrancheImposed ,
                        'valeur' : impotDeTranche
                    };
                    prevThreshold = maxTranche;
                    $scope.tranches.push(laTranche);
                }
                $scope.multipleSmic = ($scope.revenusImposables / 17000).toFixed(1);
                $scope.imposed = impot;
                return impot;
            };
            //init

            $scope.revenusImposables = $scope.revenusImposablesGuessed;
            $scope.generateTranches($scope.revenusImposables);
        }]);
    </script>
     {% endverbatim %}
{% endblock %}
