{% extends "base.html.twig" %}
{% block main %}
    <section
            class="container"
            ng-app="tkTest"
            ng-controller="TestController"
    >
        {% verbatim %}
        <div class="block">
            <h1>Template Mastodon</h1>
                <div class="description">
                    créez votre propre feuille de style pour Mastodon.
                    <a href="https://www.cipherbliss.com/?p=1178&preview=true">
                        Pour les instructions d'installation c'est par ici.</a>
                </div>
                <div class="list-colors">
                    <div>
                        <label for="color1">Couleur 1</label>
                        <input type="color" id="color1" ng-model="a1">
                    </div>
                    <div>
                        <label for="color2">Couleur 2</label>
                        <input type="color" id="color2" ng-model="a2">
                    </div>
                    <div>
                        <label for="color3">Couleur 3</label>
                        <input type="color" id="color3" ng-model="a3">
                    </div>
                    <div>
                        <label for="color4">Couleur 4</label>
                        <input type="color" id="color4" ng-model="a4">
                    </div>
                    <div>
                        <label for="color5">Couleur 5</label>
                        <input type="color" id="color5" ng-model="a5">
                    </div>
                    <div>
                        <label for="color6">Couleur 6</label>
                        <input type="color" id="color6" ng-model="a6">
                    </div>


                    <hr>
                    <div>
                        <label for="color1">Couleur de base</label>
                        <input type="color" id="color1" ng-model="c1">
                    </div>
                    <div>
                        <label for="color2">Couleur de base plus claire</label>
                        <input type="color" id="color2" ng-model="c2">
                    </div>
                    <div>
                        <label for="color3">Couleur principale</label>
                        <input type="color" id="color3" ng-model="c3">
                     </div>
                    <div>
                        <label for="color4">Couleur secondaire</label>
                        <input type="color" id="color4" ng-model="c4">
                    </div>
                    <div>
                        <label for="color4">Couleur d'emphase</label>
                        <input type="color" id="color5" ng-model="c5">
                    </div>
                 </div>
        <h2>SCSS Généré pour votre fichier
        <strong>
        custom.scss
</strong></h2>
<div>

<br>

    <pre>

        // custom sheet made on https://www.cipherbliss.com
        // Commonly used web colors
        $black: {{ a1 }};            // Black
        $white: {{ a2 }};            // White
        $success-green: {{ a3 }} !default;    // Padua
        $error-red: {{ a4 }} !default;        // Cerise
        $warning-red: {{ a5 }} !default;      // Sunset Orange
        $gold-star: {{ a6 }} !default;        // Dark Goldenrod

        // User Interface Colors
        $ui-base-color: {{ c1 }};  // Midnight Express
        $ui-base-lighter-color: {{ c2 }} ;
        $ui-primary-color:  {{ c3 }}; // Echo Blue
        $ui-secondary-color:  {{ c4 }}; // Pattens Blue
        $ui-highlight-color:  {{ c5 }}; // Summer Sky

        // Variables for components
        $media-modal-media-max-width: {{ maxw }};
        // put margins on top and bottom of image to avoid the screen covered by image.
        $media-modal-media-max-height: {{ maxh }};

        // then we import the rest of the world
        @import 'application';
    </pre>
</div>
 {% endverbatim %}

    </section>
    <style>
        .color-block {
            margin-top: 1em;
        }

        .padded, input {
            padding: 1em;
            height: 5em;
            display: block;
            width: 5em;
        }

        label {
            font-size: 2rem;
            margin: 0 auto;
        }

        .list-colors > div {
            width: 30%;
            height: 8em;
            float: left;
            padding: 0.5%;
            border: solid 1px #ddd;
            margin: 0.5%;
            display: flex;
            align-items: center;
        }

        .color-block {
            padding: 2em;
            display: inline-block;
            mergin-right: 1em;

        }
    </style>
{% endblock %}
{% block jsMore %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>

    <script type="text/javascript">
        angular.module('tkTest', [])
          .controller('TestController', ['$scope', function ($scope) {
              $scope.demo = ['a', 'b', 'c'];

              $scope.a1 = "#fff";
              $scope.a2 = "#000";
              $scope.a3 = "#79bd9a";
              $scope.a4 = "#df405a";
              $scope.a5 = "#ff5050";
              $scope.a6 = "#ca8f04";

              $scope.c1 = "#383144";
              $scope.c2 = "#D5BDD6";
              $scope.c3 = "#E6E6FA";
              $scope.c4 = "#DBD3FF";
              $scope.c5 = "#A288BD";

              $scope.maxw = "100%";
              $scope.maxh = "80%";

          }]);
    </script>
{% endblock %}
