{% extends "base.html.twig" %}
            {% block main %}
<h1>Pastie</h1>
{% if pasties is defined%}
    {% for p in pasties %}
        {{ p.title }}
        {{ p.content }}
    {% endfor %}
{% endif %}

<div id="pastie">
    {{ form_widget(form) }}
</div>

            {% endblock %}
