{% extends "base.html.twig" %}
{% block main %}


    <div class="block">
        <h1>Peertube</h1>
        <div class="description">

        </div>
        <div class="main">
            <div class=columns>
                <div class="col-xs-4">
                    <aside>
                        <nav>
                            installation mise à jour
                        </nav>
                    </aside>
                </div>
                <div class="col-xs-8">
                    <div id="installation">
                        <h2>Installation</h2>
                        <div class="bg-warning alert alert-warning">
                            Please don't install PeerTube for production on a device behind a low bandwidth connection
                            (example: your ADSL link). If you want information about the appropriate hardware to run
                            PeerTube, please see the FAQ.
                        </div>
                        <div class="deps">
                            <h2>Install Dependencies</h2>
                            <div class="padded">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dep-debian"
                                                role="tab"
                                                aria-controls="home" aria-selected="true">Debian / Ubuntu and
                                            derivatives
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dep-arch"
                                                role="tab"
                                                aria-controls="profile" aria-selected="false">Arch
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dep-centos"
                                                role="tab"
                                                aria-controls="contact" aria-selected="false">CentOS
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dep-fedora"
                                                role="tab"
                                                aria-controls="contact" aria-selected="false">Fedora
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dep-freebsd"
                                                role="tab"
                                                aria-controls="contact" aria-selected="false">Free BSD
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dep-macos"
                                                role="tab"
                                                aria-controls="contact" aria-selected="false">MacOS
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dep-gentoo"
                                                role="tab"
                                                aria-controls="contact" aria-selected="false">Gentoo
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContentDeps">
                                    <div class="tab-pane fade show active" id="dep-debian" role="tabpanel"
                                            aria-labelledby="home-tab">
                                        <h2>Debian / Ubuntu</h2>
                                        <p>

                                        On a fresh Debian/Ubuntu, as root user, install basic utility programs needed
                                        for the installation
                                        </p>
<pre>

                                        # apt-get install curl sudo unzip vim
</pre>
<p>

                                        It would be wise to disable root access and to continue this tutorial with a
                                        user with sudoers group access

                                        Install certbot (choose instructions for nginx and your distribution) :
</p>
                                        <a href="https://certbot.eff.org/all-instructions">https://certbot.eff.org/all-instructions</a>

                                        Install NodeJS 8.x (current LTS):
                                        <a href="https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions
">https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions
                                        </a>
                                        Install yarn, and be sure to have a recent version (>= 1.5.1, the latest
                                        release):
                                        <a href="https://yarnpkg.com/en/docs/install#linux-tab">https://yarnpkg.com/en/docs/install#linux-tab</a>

                                        Run:

                                        <pre>
                                            sudo apt install certbot nodejs -y
                                            npm i -g yarn
                                        $ sudo apt update $ sudo apt install nginx ffmpeg postgresql postgresql-contrib
                                        openssl g++ make redis-server git $ ffmpeg -version # Should be >= 3.x $ g++ -v
                                        # Should be >= 5.x
                                        </pre>

                                        If you still have a 2.x version of FFmpeg on Ubuntu:
<pre>

                                        $ sudo add-apt-repository ppa:jonathonf/ffmpeg-3 $ sudo apt-get update $ sudo
                                        apt install ffmpeg
</pre>

                                        Now that dependencies are installed, before running PeerTube you should start
                                        PostgreSQL and Redis:
<pre>

                                        $ sudo systemctl start redis postgresql
</pre>

                                    </div>
                                    <div class="tab-pane fade" id="dep-arch" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                        <h3>
                                            Arch Linux
                                        </h3>
                                        Run:

                                        $ sudo pacman -S nodejs yarn ffmpeg postgresql openssl redis git wget unzip
                                        python2 base-devel npm nginx

                                        Now that dependencies are installed, before running PeerTube you should start
                                        PostgreSQL and Redis:

                                        $ sudo systemctl start redis postgresql

                                    </div>
                                    <div class="tab-pane fade" id="dep-centos" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                        <h3>
                                            CentOS 7

                                        </h3>

                                        Install NodeJS 8.x (current LTS):
                                        https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora
                                        Install yarn: https://yarnpkg.com/en/docs/install Install or compile ffmpeg:
                                        Install - https://linoxide.com/linux-how-to/install-ffmpeg-centos-7/ Compile -
                                        https://gist.github.com/mustafaturan/7053900#file-latest-ffmpeg-centos6-sh Run:

                                        $ sudo yum update $ sudo yum install epel-release centos-release-scl $ sudo yum
                                        update $ sudo yum install nginx postgresql postgresql-server postgresql-contrib
                                        openssl gcc-c++ make redis git devtoolset-7

                                        You need to use a more up to date version of G++ in order to run the yarn
                                        install command, hence the installation of devtoolset-7.

                                        $ sudo scl enable devtoolset-7 bash

                                        Later when you invoke any node command, please prefix them with
                                        CC=/opt/rh/devtoolset-7/root/usr/bin/gcc
                                        CXX=/opt/rh/devtoolset-7/root/usr/bin/g++, such as with:

                                        $ sudo -H -u peertube CC=/opt/rh/devtoolset-7/root/usr/bin/gcc
                                        CXX=/opt/rh/devtoolset-7/root/usr/bin/g++ yarn install --production
                                        --pure-lockfile

                                        Now that dependencies are installed, before running PeerTube you should start
                                        PostgreSQL and Redis:

                                        $ sudo service redis start $ sudo service postgresql start

                                    </div>
                                    <div class="tab-pane fade" id="dep-fedora" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                        <h3>
                                            Fedora

                                        </h3>

                                        Upgrade your packages:

                                        dnf upgrade

                                        Add a user with sudoers group access:

                                        useradd my-peertube-user passwd my-peertube-user usermod my-peertube-user -a -G
                                        wheel # Add my-peertube-user to sudoers su my-peertube-user

                                        (Optional) Install certbot (choose instructions for nginx and your distribution)
                                        : https://certbot.eff.org/all-instructions Install NodeJS 8.x (current LTS):
                                        https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora
                                        Install yarn: https://yarnpkg.com/en/docs/install Enable RPM Fusion for Fedora
                                        (available for x86, x86_64, armhfp)

                                        sudo dnf install
                                        https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E
                                        %fedora).noarch.rpm

                                        This is necessary because ffmpeg is not in the Fedora repos.

                                        Run:

                                        sudo dnf install nginx ffmpeg postgresql-server postgresql-contrib openssl
                                        gcc-c++ make redis git ffmpeg -version # Should be >= 3.x g++ -v # Should be >=
                                        5.x

                                        Post-installation

                                        from PostgreSQL documentation:

                                        Due to policies for Red Hat family distributions, the PostgreSQL installation
                                        will not be enabled for automatic start or have the database initialized
                                        automatically.

                                        # PostgreSQL sudo postgresql-setup initdb sudo systemctl enable
                                        postgresql.service sudo systemctl start postgresql.service # Nginx sudo
                                        systemctl enable nginx.service sudo systemctl start nginx.service # Redis sudo
                                        systemctl enable redis.service sudo systemctl start redis.service

                                        Firewall

                                        By default, you cannot acces your server via public IP. To do so, you must
                                        configure firewall:

                                        # Ports used by peertube dev setup sudo firewall-cmd --permanent --zone=public
                                        --add-port=3000/tcp sudo firewall-cmd --permanent --zone=public
                                        --add-port=9000/tcp # Optional sudo firewall-cmd --permanent --zone=public
                                        --add-service=http sudo firewall-cmd --permanent --zone=public
                                        --add-service=https # Reload firewall sudo firewall-cmd --reload

                                        Configure max ports

                                        This is necessary if you are running dev setup, otherwise you will have errors
                                        with nodemon

                                        echo fs.inotify.max_user_watches=582222 | sudo tee -a /etc/sysctl.conf && sudo
                                        sysctl -p

                                        More info
                                        https://stackoverflow.com/questions/34662574/node-js-getting-error-nodemon-internal-watch-failed-watch-enospc#34664097

                                    </div>
                                    <div class="tab-pane fade" id="dep-freebsd" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                        <h3>
                                            FreeBSD

                                        </h3>
                                        On a fresh install of FreeBSD, new system or new jail:

                                        bootstrap pkg, initialize db and install peertube's dependencies, always as root
                                        (sudo not yet installed):

                                        # pkg # pkg update # pkg install -y sudo bash wget git python nginx pkgconf vips
                                        postgresql96-server postgresql96-contrib redis openssl node npm yarn ffmpeg
                                        unzip

                                        Allow users in the wheel group (hope you don't forgot to add your user on wheel
                                        group!) to use sudo

                                        # visudo

                                        Uncomment the line 90

                                        %wheel ALL=(ALL) ALL

                                        Enable nginx, redis, postgresql services and initialize database

                                        # sysrc postgresql_enable="YES" # sysrc redis_enable="YES" # sysrc
                                        nginx_enable="YES"

                                        Initialize database and start services

                                        # service postgresql initdb # service postgresql start # service redis start #
                                        service nginx start

                                    </div>
                                    <div class="tab-pane fade" id="dep-macos" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                        <h3>
                                            macOS

                                        </h3>


                                        Add the packages:

                                        brew install ffmpeg nginx postgresql openssl gcc make redis git yarn

                                        Run the services:

                                        brew services run postgresql brew services run redis


                                    </div>
                                    <div class="tab-pane fade" id="dep-gentoo" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                        <h3>
                                            Gentoo

                                        </h3>

                                        Add this to /etc/portage/sets/peertube:

                                        net-libs/nodejs sys-apps/yarn media-video/ffmpeg[x264] # Optionnally add
                                        vorbis,vpx dev-db/postgresql dev-db/redis dev-vcs/git app-arch/unzip
                                        dev-lang/python:2.7 www-servers/nginx media-libs/vips[jpeg,png,exif]

                                        # Optionnal, client for Let’s Encrypt: # app-crypt/certbot #
                                        app-crypt/certbot-nginx

                                        Compile the peertube set:

                                        emerge -a @peertube

                                        Initialize the PostgreSQL database if you just merged it:

                                        emerge --config postgresql

                                        (For OpenRC) Enable and then start the services (replace with the correct
                                        PostgreSQL slot):

                                        rc-update add redis rc-update add postgresql-10 rc-service redis start
                                        rc-service postgresql-10 start
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Install Peertube</h2>
                            <p>
                                Essayez la façon packagée pour ubuntu/debian
<pre>
    curl -sS https://pkg.rigelk.eu/pubkey.gpg | sudo apt-key add -
    echo "deb https://pkg.rigelk.eu/debian/ stable main" | sudo tee /etc/apt/sources.list.d/peertube.list
    sudo apt-get update && sudo apt-get install peertube -y
</pre>
                            </p>
                            Autrement:
                            <div class="padded">
                                <h3>Peertube User</h3>
                                <ul class="nav nav-tabs" id="myTabInstall" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                                role="tab"
                                                aria-controls="home" aria-selected="true">All systems
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                                role="tab"
                                                aria-controls="profile" aria-selected="false">Free BSD
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContentInstall">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">
                                        Create a peertube user with /var/www/peertube home:

                                        $ sudo useradd -m -d /var/www/peertube -s /bin/bash -p peertube peertube

                                        Set its password:

                                        $ sudo passwd peertube

                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                        On FreeBSD

                                        $ sudo pw useradd -n peertube -d /var/www/peertube -s /usr/local/bin/bash -m $
                                        sudo passwd peertube

                                        or use adduser to create it interactively.
                                    </div>
                                </div>
                            </div>
                            <div class="padded">
                                <div>

                                    <h3>Database</h3>
                                    Create the production database and a peertube user inside PostgreSQL:

                                    $ sudo -u postgres createuser -P peertube $ sudo -u postgres createdb -O peertube
                                    peertube_prod

                                    Then enable extensions PeerTube needs:

                                    $ sudo -u postgres psql -c "CREATE EXTENSION pg_trgm;" peertube_prod $ sudo -u
                                    postgres psql -c "CREATE EXTENSION unaccent;" peertube_prod

                                </div>
                                <div>

                                    <h3>Prepare PeerTube directory</h3>
                                    Fetch the latest tagged version of Peertube

                                    $ VERSION=$(curl -s https://api.github.com/repos/chocobozzz/peertube/releases/latest
                                    | grep tag_name | cut -d '"' -f 4) && echo "Latest Peertube version is $VERSION"

                                    Open the peertube directory, create a few required directories

                                    $ cd /var/www/peertube && sudo -u peertube mkdir config storage versions && cd
                                    versions

                                    Download the latest version of the Peertube client, unzip it and remove the zip

                                    $ sudo -u peertube wget -q
                                    "https://github.com/Chocobozzz/PeerTube/releases/download/${VERSION}/peertube-${VERSION}.zip"
                                    $ sudo -u peertube unzip peertube-${VERSION}.zip && sudo -u peertube rm
                                    peertube-${VERSION}.zip

                                    Install Peertube:

                                    $ cd ../ && sudo -u peertube ln -s versions/peertube-${VERSION} ./peertube-latest $
                                    cd ./peertube-latest && sudo -H -u peertube yarn install --production
                                    --pure-lockfile


                                </div>
                                <div>

                                    <h3>PeerTube configuration</h3>
                                    Copy example configuration:

                                    $ cd /var/www/peertube && sudo -u peertube cp
                                    peertube-latest/config/production.yaml.example config/production.yaml

                                    Then edit the config/production.yaml file according to your webserver configuration.

                                    PeerTube does not support webserver host change. Keep in mind your domain name is
                                    definitive after your first PeerTube start.
                                </div>
                                <div>
                                    <h3>Webserver</h3>
                                    We only provide official configuration files for Nginx.

                                    Copy the nginx configuration template:

                                    $ sudo cp /var/www/peertube/peertube-latest/support/nginx/peertube
                                    /etc/nginx/sites-available/peertube

                                    Then modify the webserver configuration file. Please pay attention to the alias keys
                                    of the static locations. It should correspond to the paths of your storage
                                    directories (set in the configuration file inside the storage key).

                                    $ sudo vim /etc/nginx/sites-available/peertube

                                    Activate the configuration file:

                                    $ sudo ln -s /etc/nginx/sites-available/peertube /etc/nginx/sites-enabled/peertube

                                    To generate the certificate for your domain as required to make https work you can
                                    use Let's Encrypt:

                                    $ sudo systemctl stop nginx $ sudo vim /etc/nginx/sites-available/peertube # Comment
                                    ssl_certificate and ssl_certificate_key lines $ sudo certbot --authenticator
                                    standalone --installer nginx --post-hook "systemctl start nginx" $ sudo vim
                                    /etc/nginx/sites-available/peertube # Uncomment ssl_certificate and
                                    ssl_certificate_key lines $ sudo systemctl reload nginx

                                    Remember your certificate will expire in 90 days, and thus needs renewal.

                                    Now you have the certificates you can reload nginx:

                                    $ sudo systemctl reload nginx

                                </div>
                            </div>
                            <div class="padded">
                                <h3>TCP/IP Tuning</h3>
                                $ sudo cp /var/www/peertube/peertube-latest/support/sysctl.d/30-peertube-tcp.conf
                                /etc/sysctl.d/ $ sudo sysctl -p /etc/sysctl.d/30-peertube-tcp.conf

                                Your distro may enable this by default, but at least Debian 9 does not, and the default
                                FIFO scheduler is quite prone to "Buffer Bloat" and extreme latency when dealing with
                                slower client links as we often encounter in a video server. systemd

                                If your OS uses systemd, copy the configuration template:

                                $ sudo cp /var/www/peertube/peertube-latest/support/systemd/peertube.service
                                /etc/systemd/system/

                                Update the service file:

                                $ sudo vim /etc/systemd/system/peertube.service

                                Tell systemd to reload its config:

                                $ sudo systemctl daemon-reload

                                If you want to start PeerTube on boot:
                                <pre>
                                $ sudo systemctl enable peertube
                                </pre>

                                Run:

                                <pre>
                                $ sudo systemctl start peertube
                                $ sudo journalctl -feu peertube
                                $ sudo service peertube start
                                </pre>


                            </div>
                            <div class="padded">
                                <div>
                                    <h3>Administrator</h3>
                                    The administrator password is automatically generated and can be found in the logs.
                                    You can set another password with:
                                    <pre>

                                    $ cd /var/www/peertube/peertube-latest && NODE_CONFIG_DIR=/var/www/peertube/config      NODE_ENV=production npm run reset-password -- -u root
</pre>

                                </div>
                                <div>
                                    <h3>What now?</h3>
                                    Now your instance is up you can:

                                    Subscribe to the mailing list for PeerTube administrators:
                                    <a href="https://framalistes.org/sympa/subscribe/peertube-admin">
                                        https://framalistes.org/sympa/subscribe/peertube-admin
                                    </a>
                                    Add you instance to the public PeerTube instances index if you want to:
                                    <a href="https://instances.peertu.be/">https://instances.peertu.be/</a>

                                </div>
                            </div>

                        </div>


                    </div>

                    <div id="upgrade">
                        TODO
                        <a href="https://github.com/Chocobozzz/PeerTube/blob/develop/support/doc/production.md#upgrade">
                            https://github.com/Chocobozzz/PeerTube/blob/develop/support/doc/production.md#upgrade
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    </div>
    <style>
        .padded {
            padding: 1em;
        }
    </style>
{% endblock %}
