{% extends "base.html.twig" %}
{% block main %}
    <div class="page-interactive">
        <h2>Générateur de positions de personnages</h2>
        <div class="well">
            TODO: ressuciter le générateur de kamasutra TODO: lien feuille excel de positions
        </div>
        <div class="well">
            Si vous ne savez pas comment imaginer un nouveau personnage voici de quoi vous donner des idées pour en
            créer plusieurs. à la base ce générateur servait pour dessiner des situations smexuelles, mais libre à vous
            de l’utiliser autrement. Merci au random.
        </div>

        {% verbatim %}
                <div ng-app='tk'>
                      <div ng-controller='mainCtrl'>

<div class="personnages">
<h1>Personnages</h1>
<div class="well">

        hommes:
        <input type="number" min="0" max="100" ng-model="compteur_de_gens_hommes" ng-change="recompute()">
        femmes:
        <input type="number" min="0" max="100" ng-model="compteur_de_gens_femmes" ng-change="recompute()">
        autre genre:
        <input type="number" min="0" max="100" ng-model="compteur_de_gens_autres" ng-change="recompute()">

    <div class="btn btn-primary btn-lg" ng-click="regenPeople()">
            Générer les gens
        </div>

        <hr>
        <table>
        <thead>
        <tr>
        <td>genre</td>
        <td>yeux</td>
        <td>cheveux</td>
        <td>corpulence</td>
        <td>pilosité</td>
        <td>taille</td>
        <td>expression</td>
        <td>habits</td>
        <td>peau bronzée %</td>
        <td>poitrine
        </td>
        <td>
        âge
</td>
<td>
échelle kinsey (0: cis, 3: bi, 6: homo)
</td>
        </tr>
</thead>
        <tbody>

<tr class="people" ng-repeat="p in people">
<td>
{{p.genre}}

</td>
<td>

{{p.yeux}}
</td>
<td>

{{p.cheveux}},
{{p.cheveux_longueur}},
{{p.cheveux_genre}}
</td>

<td>

{{p.corpulence}}
</td>
<td>

{{p.pilosite}}
</td>
<td>

{{p.taille}}
</td>
<td>

{{p.sentiment}}
</td>
<td>

{{p.habits}}
</td>
<td>

{{p.peau}}
</td>
<td>
{{p.bonnet}}
</td>
<td>
{{p.age}} ans
</td>
<td>
{{p.kinsey_scale}}
</td>
</tr>
</tbody>
</table>

</div>
</div>
<div class="kamasutra-land">
    <hr>

    <h1>Kamasutra land</h1>

    <div class="btn btn-primary btn-lg" ng-click="newRandom()">
            une autre position!
        </div> ou
         voir la poisition numéro
        <input type="number" min="1" max="100" ng-model="randomValue" ng-change="recompute()">
    <div class="position" ng-if="foundPosition">
        <div class="jumbotron">
            <h2>
             {{position_title}}
            </h2>
            <div class="description">
            {{position_description}}
            </div>
        </div>
    </div>
</div>

                    </div>
                </div>
            {% endverbatim %}


        {% include 'part/js-cdn.html.twig' %}
        <script>
            /**
             * code principal
             */
            angular.module("tk", ['tk.controllers']);
            angular.module("tk.controllers", [])
              .controller('mainCtrl', ['$scope', function ($scope) {
                  $scope.test = 20;
                  $scope.positions = {
                      1 : "1__missionaire h/f__la femme sur le dos, l'homme face à la femme",
                      2 : "2__missionaire f/h__l'homme sur le dos, la femme face à l'homme",
                      3 : "3__bateau ivre__missionaire avec jambes de la Femme sur les épaules de l'homme        ",
                      4 : "4__papillon__missionnaire ou la femme voit les fesses de l'homme en même temps que celui-ci la pénètre        ",
                      5 : "5__l'arche__missionaire où la femme a les jambes très écartées et où l'homme se cramponne à ses hanches pour accompager le mouvement. Ce qui permet de mettre un peu plus de violence dans ce monde de douceur.",
                      6 : "6__union de l'aigle__couchés sur le côté et face à face, la femme passe une jambe par-dessus la hanche de son partenaire pour lui faciliter les mouvements.",
                      7 : "7__la pyramide__missionaire où l'homme tient écartés les jambes tendues de la femme à 45° de chaque côté,8:	",
                      8 : "bienvenue  au samourai__l  'homme debout porte la femme par-dessous les cuisses et elle s'accroche  a son  cou",
                      9 : "9__fellation__stimulation des parties génitales de l'homme par l'action de la langue, de la bouche et des mains combinées de Madame",
                      10: "10__fellation spéléologue__fellation accompagné d'une stimulation anale",
                      11: "11__cunnilingus classique__avec ou sans stimulation de la vulve par les doigts / le menton/ la barbe/ un jouet...",
                      12: "12__l'élèvateur__cunnilingus où la femme allongée sur le ventrea placé un coussin sous ses hanches pour relever son bassin et faciliter le cunnilingus",
                      13: "13__cunnilingus spéléologue__plusse stimulation anale",
                      14: "14__slip glorieux__cunnilingus où l'homme est allongé sous le bassin de la femme assise sur lui. Permet beaucoup de possibilités de stimulation par les mains de l'homme et de la femme, en plus d'offrir une vue imprenable à l'homme.",
                      15: "15__le startup__debouts, l'homme tient une jambe de la femme contre lui. Elle: tient sur son autre jambe à moitié pliée, et ses mains touchent par terre comme pour un départ de course.",
                      16: "16__le pin__fellation ou l'homme à la tête en bas",
                      17: "17__le figuier__cunnilngus où la Femme à la tête en bas",
                      18: "18__le trophée__lhomme debout tient sa partenaireaccrochée à lui, elle lui fait à moitié dos et s'accroche à une épaule d'une main, pendant que l'autre s'active sur son entrejambe pénétrée.",
                      19: "19__amazone__Homme allongé, face a face, Femme au dessus et tournée à un quart sur le côté",
                      20: "20__andromaque__H allongé ,face a face, F au dessus genoux au sol, peut s'appuyer de ses mains sur le torse de 'lhomme pour mieux bouger",

                      21: "21__cavalière__chevauchement de la femme sur l'homme allongé, la femme: jambes accroupies (genoux relevés) profite de sa distance avec l'homme pour l'exciter visuellement (masturbation, caresses)",

                      22: "22__cheval retourné__andromaque (H allongé ,face a face, F au dessus genoux au sol, peut s'appuyer de ses mains sur le torse de 'lhomme pour mieux bouger) où la femme tourne le dos à l'homme",

                      23: "23__union de l'abeille__amazone (Homme allongé, face a face, Femme au dessus et tournée à un quart sur le côté) avec l' Homme assis",

                      24: "24__union de la pieuvre__Allongée sur le dos, la femme attend que l'homme s'agenouille devant elle, entre ses cuisses. La prenant par les hanches, il la soulève et la pénètre ainsi, sans fioritures. La tenant fermement par les côtes (ou au niveau de la taille), l'homme est maître de la position et du va-et-vient. Il peut changer l'inclinaison du bassin de sa partenaire pour varier la profondeur de la pénétration.",

                      25: "25__le canon__levrette où la femme a les jambes qui font le tour du bassin de l'homme à genoux",

                      26: "26__l'enclume__Madame se couche sur le dos tandis que son partenaire se met sur elle. Elle lève les jambes et pose ses pieds sur les épaules de son amant. Qui aura ainsi tout le loisir pour la pénétrer très facilement.  ",

                      27: "27__la harpe__chacun masturbe l'autre allongés sur le côté face a face ",

                      28: "28__la perle__les deux masturbent la Femme, pourquoi pas l'une par devant, l'autre depuis son dos, une main ou deux glissées entre les fesses de mademoiselle. ",

                      29: "29__la tringle__les deux masturbent l'Homme. Lui s'occupe du haut de sa verge pendant que pour Elle, sa langue et ses doigts rivalisent de caresses et de doigté pour satisfaire les testicules ainsi que le scrotum de Monsieur ",

                      30: "30__le T__femme allongée ayant les genoux passant par-dessus l'homme posé perpendiculairement ",

                      31: "31__le moulin__missionaire où la femme fait des mouvements de pédalo pour faire bouger tout l'intérieur de son vagin ",

                      32: "32__tribadisme__deux femmes positionnent leurs jambes en ciseaux afin de frotter leur organes génitaux jusqu'à l'orgasme  ",

                      33: "33__la plante mâle__masturbation d'un homme à l'aide de pieds ",

                      34: "34__la plante femelle__masturbation d'une femme à l'aide de pieds ",

                      35: "35__union du lotus__assis face a face en tailleur, la femme sur l'homme, les bras enlacés pour mieux tenir. L'homme soulève légèrement les cuisses de la femme, qui peut elle aussi choisir de mener la danse. Une position qui met les deux sexe dans un rapport d'égalité vis à vis de l'action, et une grande intimité des deux amants de par sa proximité totale. ",

                      36: "36__union de la sautrelle__assis face a face, chacun en appui sur leur arrière. Seul le contact des sexes et des fesses se fait. Une position qui offre peu d'amplitude de mouvement. ",

                      37: "37__branlette espagnole__pénis en direction de la bouche,  comprimé et secoué par la poitrine de la femme allongée.  ",

                      38: "38__brouette espagnole__branlette espagnole où la femme est au dessus de l'homme allongé ou assis",

                      39: "39__le baiser espagnol__fellation en branlette espagnole, il est préférable pour madame d'avoir un coussin derrière la tête pour facilliter la mise en bouche et adopter une position plus reposante pour le cou. ",

                      40: "40__écart vertical__debout, avec un appui sous les fesses, la femme lève une jambe sur une épaule ",

                      41: "41__écart vertical retourné__debout, avec un appui sous les coudes, la femme lève une jambe sur une épaule de l'homme ",

                      42: "42__coït intercrural écarté__la femme ouvre ses cuisses et l'homme allongé derrière elle frotte son pénis contre sa vulve sans la pénétrer.  Nécessite une bonne lubrification de la part de madame.  ",

                      43: "43__coït intercrural__la femme serre ses cuisses et l'homme placé comme pour un missionaire y frotte son pénis sans la pénétrer. (attention aux poils, des fois ça peut faire mal) Nécessite une bonne lubrification de la part de madame. ",

                      44: "44__soixante neuf__horizontal - le nom de cette position dans le Kama Sutra est « Le congrès du corbeau »",

                      45: "45__soixante neuf Vertical__vertical - l'homme fait le poirier devant la femme debout. Elle s'asseoit presque, appuyée sur un mur, juste assez pour avoir l'entrejambe en face de la bouche de monsieur pendant qu'elle s'occupe de son membre viril. position à ne pas faire durer trèslongtemps pour éviter le mal de tête de monsieur. le nom de cette position dans le Kama Sutra est « Le congrès du corbeau »  ",
                      46: "46__le soixante neuf latéral__les deux amants sont soit allongés l'un à côté de l'autre, soit l'un par-dessus l'autre et se stimulent gentiment les parties génitales par action de leur bouche, de lur langue, de leurs doigts ou de tout ce que vous voulez. L'aspect le plus ludique de cette position réside dans son altruisme. Cherchez donc à donner un maximum de plaisir à l'autre sans vous soucier de vous. Ça peut même être un jeu où à un gage celui ou celle qui jouit le premier.  ",

                      47:
                        "47__brouette__homme debout pénétrant la femme en la tenant par les cuisses , elle est appuyée sur les mains et a les pieds repliés sur les hanches de monsieur. ",

                      48:
                        "48__balançoire__l'homme debout, la femme assise sur une balaçoire offre l'ouverture de ses cuisses et le rythme de la danse à son partenaire qui tient les cordes de la balançoire.",

                      49:
                        "49__l'union du boa__Madame, vous vous allongez sur le dos et attendez que Monsieur se mette en branle, juste à côté de vous. Qu'il soulève vos jambes pour les mettre sur les siennes. Il vous entoure alors chaudement de sa présence. La pénétration n'est pas aisée, mais si Monsieur vous soulève et se rapproche assez bien, il peut viser juste dès le premier coup, et atteindre le vagin au plus profond. Madame, elle, va serrer ses jambes fermement pour comprimer le pénis et offrir à son amant un petit cadeau que Dame Nature lui a donné : un orifice très serré où le serpent pourra se réfugier bien au chaud. ",

                      50:
                        "50__l'union du chat__Vous êtes en plein missionnaire, suant et haletant comme deux petits coquinoux fous de sexe. Un peu trop de fatigue et de surexcitation, il faut calmer le jeu et reprendre doucement le coït. L'amant va donc délicatement basculer sur le côté en emportant sa partenaire avec lui. Le tout doit se faire sans que le pénis sorte du vagin, c'est encore mieux. Cette position ressemble à celle des cuillères (le 99), sauf que les amants sont face à face. Ils se regardent dans le blanc des yeux et peuvent échanger des gentillesses un peu plus facilement. Et l'un de caresser les fesses de l'autres, et l'une de serrer fortement son partenaire. Ainsi enlacés, on peut reprendre une pénétration douce et confortable pour quelques minutes de repos après la tempête. ",

                      51:
                        "51__la charrue__Madame, couchez-vous sur le dos et élevez vos cuisses. Monsieur, penchez-vous sur elle. La manipulation est un peu compliquée : il s'agira de plier une jambe sur le lit, tandis que l'autre pend au bord (inutile, donc, de penser à la posture de la charrue quand le lit se trouve sur le sol). Madame enserre les reins de son partenaire de ses cuisses. Et c'est parti. ",

                      52:
                        "52__l'union du scorpion__La femme se met dos à son partenaire et le chevauche. Lui est tranquillement allongé sur le dos, tandis qu'elle bascule en arrière et se pose complètement sur la poitrine velue (ou pas) de son homme. Le kamasutra veut qu'elle plie les genoux en écartant les cuisses, tandis que l'amant tend les jambes en forme de V. Mais bon, rien ne l'oblige, et Madame peut très bien imiter Monsieur.  ",

                      53:
                        "53__levrette__à 4 pattes, l'homme tient les hanches de sa partenaire pour s'aider à la pénétrer ",

                      54:
                        "54__la rampe__levrette rapprochée où l'homme caresse le clitoris de la femme tout en la pénétrant ",

                      55:
                        "55__le siège de vénus__la femme est debout en appui sur un mur devant elle. Pratique notemment dans une douche à diamètre étroit. (pour votre culture, l'eau d'une douche retire les sécrétions naturelles lubrifiantes, donc pour faciliter le coït, je vous recommande l'utilisation de lubritifant à base de silicone, qui lui ne part pas facilement sous l'eau, ou encore plus malin, éloignez vous du jet d'eau :D) ",

                      56:
                        "56__le siège de mars__debout H en appui sur un mur derrière  lui  ",

                      57:
                        "57__cravatte de notaire__pénis en direction du ventre comprimé et secoué par la poitrine de la femme allongée. ",

                      58:
                        "58__la falaise__la femme est allongée sur le bord du lit et homme agenouillé la pénètre ",

                      59:
                        "59__sodomie en levrette__la personne passive de la sodomie est à quatre pattes pendant que son parenaire le ou la pénètre en étant assis sur les genoux derrière elle/lui. L'actif de la sodomie se tient aux hanches du passif, et peut passer d'un état d'assis sur les genoux à un état à moitié debout pour varier ses mouvements. ",

                      60:
                        "60__sodomie en missionaire__face à face allongé, le passif ou la passive, en dessous de l'actif offre son deuxième sexe à l'autre en l'encourageant par des caresses. ",

                      61:
                        "61__l'union de la grenouille__C'est quand l'amante veut être dessus mais ne veut pas faire les choses toute seule. Pour commencer, couchez-vous sur le ventre sur votre partenaire, lui est allongé sur le dos, face à vous. Il écarte légèrement les jambes, ainsi que Madame, qui pose ses petits petons sur les petons de Monsieur. ",

                      62:
                        "62__l'union du loup__la femme est dos à l'homme, penchée en avant. Monsieur la pénètre par derrière, et elle se tient sur un coussin, un mur ou autre pour garder l'équilibre. Faut dire que certains hommes, des plus zélés, la feront chavirer sous leurs coups de butoir. Sa partenaire pourra donc varier l'angle de la pénétration en se relevant ou en se penchant plus encore. Monsieur peut également se pencher pour varier les sensations.    Idée pratique : touchez Madame, partout, et profitez du fait que son clitoris est libre de toute entrave. Elle vous en saura gré et vous fera un bon gratin.  ",

                      63:
                        "63__la pie__Madame, vous gérez la situation. Votre homme vous attend sur une chaise, à vous donc de le chauffer préalablement par diverses caresses et autres stimulations, qui provoqueront chez lui le désir ardent de vous prendre là, tout de suite. Montez donc sur l'engin, par n'importe quel moyen. A vous ensuite de décider : vous laisserez-vous gentiment faire par celui qui en demande tant, ou déciderez-vous de l'assister ? Si oui, prenez donc appui sur la pointe de vos petits petons et faites votre possible pour trouver une bonne coordination des va et vients et faire en sorte qu'en déplaçant votre bassin de bas en haut ou de gauche à droite, vous puissiez apercevoir sa mine réjouie par votre sens de l'initiative. Monsieur, vous, calez bien votre cul sur la chaise, de sorte à avoir un bon maintien. N'oubliez jamais de la toucher et de l'embrasser pendant l'acte, elles aiment toutes ça. Et un peu d'énergie, ça fait jamais de mal. ",

                      64:
                        "64__l'union du paillon__Dans une posture assise, les partenaires ont les jambes entrelacées. Chacun bascule en arrière en tenant l'équilibre sur ses bras. Madame ramène ses jambes en avant en entourant le bassin de Monsieur, qui reste allongé. On sent alors la proximité du partenaire. La femme comprime le pénis à l'aide de son périnée. Elle peut démultiplier les sensations par des rotations du bassin, auxquelles son partenaire répond en allant dans un sens opposé. Mouvement double = sensations doublées ",

                      65:
                        "65__le saule__Le saule, ça se pratique de très près. Monsieur s'agenouille sur le lit et attend patiemment que Madame vienne s'accroupir sur lui. Elle entoure le bassin de son partenaire avec les cuisses. L'homme, alors, se penche légèrement vevrs l'avant tout en maintenant bien la femme, au niveau des cuisses, des fesses ou du dos. Ainsi prise en charge, Madame peut alors faire le va-et-vient tout en s'appuyant d'une main sur le lit et en tenant la nuque de son partenaire de l'autre.  ",

                      66:
                        "66__rebord instable__femme assise sur le haut du dossier d'une chaise penchée, et homme derrière elle tient la chaise pour donner le rythme.",

                      67:
                        "67__le bambou__Le bambou, c'est un peu cette cuisse généreusement offerte par la dame à l'épaule de monsieur. Son genou se situant sous la cuisse relevée vient soutenir le bassin de la jeune femme. L'autre jambe de l'amant reste posée sur le lit, jusqu'au moment où Madame voudra changer la position. Plaçant son autre jambe sur l'autre épaule de Monsieur (vous suivez ?), elle le pousse à également changer en conséquence. A faire autant de fois que nécessaire ",

                      68:
                        "68__l'union de l'éléphant__Couchée sur le lit (ou la plage, c'est l'été), sur le ventre, elle attend patiemment que son partenaire veuille bien chauffer son petit minou afin de pouvoir la pénétrer. S'allongeant sur elle, l'homme met tout son poids dans la pénétration. Assez confortable et simple, l'union de l'éléphant ne nécessite pas une longue pratique sexuelle derrière soi. Dominée ainsi, Madame peut néanmoins varier le plaisir. En écartant les jambes, elle facilite la pénétration et permet à Monsieur d'accélerer le rythme. En enserrant ses jambes autour du divin vit, elle multiplie les sensations pour elle et pour lui, même si la pénétration devient plus difficile. ",

                      69:
                        "69__la tige__Allongée sur le lit, la femme songe aux conseils de son prof de step (peu importe), le beau Tony. Bassin un peu relevé, vous soulevez vos jambes. Sauf qu'au lieu de faire du vélo dans l'air, c'est votre partenaire qui vous reçoit. Placez votre pied gauche sur son épaule et votre pied droit sur son avant-bras. Cela peut rendre la pénétration peu aisée à atteindre, songez à placer un oreiller sous la croupe de Madame pour aider Monsieur. ",

                      70:
                        "70__l'huïtre__Madame, soulevez donc ce lourdaud missionnaire qui vous empêche de respirer. Restez allongée, repliez vos cuisses contre votre ventre et écartez-les. Ainsi, votre partenaire verra enfin dans le détail l'antre sacrée, le temple des plaisirs. Il peut s'introduire en vous comme il le souhaite et même, se sentir le maître de l'univers. Car, ainsi, Monsieur peut tenir fermement vos cuisses de ses mains et décider du jeu. De la vitesse de la pénétration, de sa profondeur et du rythme. Mais l'huître ne se donne pas aussi facilement. Si elle libère ses cuisses des mains de son partenaire, Madame pourra, en mouvant son bassin, aider son partenaire et trouver un rythme commun qui ne peut qu'exciter plus encore son tendre amant. Pour atteindre l'extase, il suffira ensuite de toucher, car les mains des partenaires sont libres. ",

                      71:
                        "71__la balance__C'est quand la fille se balance sur son partenaire, aussi simple que ça. Mais pas tant que ça : atteindre l'équilibre parfait dans cette position est un art aussi difficile que le marchandage. Sur le bord du lit, ou d'une chaise (un canapé, c'est plus confortable, quand même), l'homme attend sagement que sa partenaire enfourche l'instrument qui fait toute sa fierté. Plus ou moins penchée en avant, elle cherche l'équilibre qui l'empêchera de tomber sans grâce, en avant ou en arrière. Car il s'agit ici de se balancer comme un pendule sur le bassin de Monsieur avec une intensité qui demande beaucoup de dextérité.",

                      72:
                        "72__l'union de l'antilope__la jeune fille, dans cette position, porte en elle l'aspect élégant d'une gazelle bondissante. Au rebord du lit, agenouillée, elle attend fièrement que son partenaire la prenne par la taille ou les hanches, tel un lion en chasse prêt à dévorer sa proie. ",

                      73:
                        "73__le singe__Monsieur, vous vous couchez sur le dos et vous ramenez vos genoux sur votre torse, en espérant que votre partenaire n'est pas un homme caché sous sa perruque avide de sodomie.   Madame, Mademoiselle, vous entrez en scène, ou en selle. Tournez le dos à votre partenaire et là, ça devient dur. Il s'agit de s'asseoir sur sa bite sans la voir et d'utiliser ses pieds comme un dossier, j'imagine que ce n'est pas très confortable.      C'est bon, vous êtes installés ? Alors, c'est parti...Quoique, là, vous allez tomber méchamment. L'union du singe (et Madame comprendra mieux désormais pourquoi elle porte ce nom) requiert une certaine souplesse de l'homme et la femme se doit d'agripper fermement les poignets ou les avant-bras de son partenaire. Le premier essai n'est pas le meilleur et il ne faut pas hésiter à s'y reprendre plusieurs fois pour devenir de vrais petits macaques.  ",

                      74:
                        "74__la lune__\"tous les deux agenouillés l’un en face de l’autre. Madame glisse sur les cuisses de Monsieur et hop ! Vous voilà imbriqués comme des légos.  ensuite Madame s’installe confortablement sur le dos, Monsieur ramène ses jambes vers les épaules de sa douce.\"Vous êtes en place, vous pouvez reprendre vos va-et-vient.",

                      75: "75__le pilier__tous les deux agenouillés l’un en face de l’autre. Madame glisse sur les cuisses de Monsieur et hop ! Vous voilà imbriqués comme des légos.",

                      76: "76__l'indra__Face à face, madame allongée sur le dos, monsieur sur ses genoux, elle place ses pieds sur le torse de son partenaire. Lui, se penche en avant pour comprimer les cuisses de sa partenaire contre ses seins",

                      77: "77__le 69 debout__69 où l'homme debout porte la femme qui lui enserre le visage entre ses cuisses alors qu'elle a la tête en bas, occupée à jouer de son chibre. A essayer uniquement si vous faites trois heures de piscine par jour. - le nom de cette position dans le Kama Sutra est « Le congrès du corbeau »,",

                      78: "78__la fresque__Monsieur, attrapez votre chère et tendre face a face sous les cuisses et maintenez-la contre le mur, ça y est, vous pouvez tester la solidité du mur. ",

                      79: "79__collier de vénus__Gente demoiselle porte ses plus beaux ornements, c'est-à-dire rien du tout. Confortablement installée sur une table ou autre (pensez à l'oreiller), elle attend que Damoiseau, debout, la pénètre. C'est le collier de Vénus : les jambes suspendues au bon vouloir de Monsieur, qui les tient fermement au niveau de ses épaules, Madame se laisse tendrement faire.   l'homme peut écarter les jambes de sa partenaire pour une meilleure pénétration ou les garder autour de sa taille. La femme peut s'accrocher au cou de son partenaire avec les mains. Elle peut même, pourquoi pas, n'avoir aucun point d'appui et se tenir ainsi dans le vide, accrochée à son partenaire par les pieds. Dé quoi redécouvrir l'apesanteur par la voie la plus délicieuse...",

                      80: "80__la courtisane__Faites agenouiller votre homme devant vous pendant que vous restez gentiment assise sur votre chaise. C’est comme ça qu’il vous pénètre et que vous enlacez vos jambes autours de ses reins.",

                      81: "81__l'union des amants__péné-tracion debout face a face, avec les jambes  en position de marche.",

                      82: "82__le cheval fougueux__l'homme allongé avec les genoux relevés pénètre sa cavalière qui lui tourne le dos en se tenant aux jambes de sa monture",

                      83: "83__l'impératrice__l'homme allongé en appui sur les coudes, à pleine vue sur sa belle qui s'est posée sur et face a lui, en appui sur ses bras près des pieds de l'homme, les genoux relevés",

                      84: "84__la chapelle__l'homme debout sur ses genoux tient la croupe de sa dame par dessous ses cuisses, elle, offerte à lui est renversée en arrière en appui sur ses mains",

                      85: "85__le biseau__la femme est allongée sur le dos, le bassin légèrement sur le côté, une jambe levée, l'homme vient la pénétrer en prenant la jambe relevée entre une cuisse et un bras. La dame se stimule manuellement le clitoris",

                      86: "86__Gomorrhe__la femme renversée sur le dos tient ses jambes et son bassin en l'air pendant que l'homme sur les genoux la pénètre en lui tenant les fesses",

                      87: "87__le crochet__la femme à quatre pattes, l'homme dessière elle sur les genoux et renversé et en appui sur ses mains loin derrière ses pieds",

                      88: "88__l'union du tigre__A partir de la position du missionnaire, la femme rapproche les cuisses de son buste. Elle peut facilement varier les sensations et la profondeur de la pénétration en changeant l'angle d'inclinaison de ses jambes. Elle peut aussi facilement prendre appui sur les fesses de son partenaire pour augmenter la pression au niveau du pelvis.",

                      89: "89__la cheminée__La femme s'allonge sur l'homme les jambes écartées pour faciliter la pénétration. Une fois le pénis bien en place, elle resserre les jambes afin que les corps des 2 partenaires se superposent dans un alignement parfait. La femme peut alors commencer la stimulation en frottant son corps latéralement et horizontalement contre celui de son partenaire.",

                      90: "90__la voute céleste__la femme chevauche l'homme qui est entre assis et couché, en face à face. Sans mouvement de hanches, la femme se sert uniquement de ses muscles internes pour stimuler le pénis de l'homme jusqu'à le faire jouir.",

                      91: "91__la chevauchée sylvestre__cunilingus où la femme est allongée sur le dos pendant que l'homme assis devant elle, saisit ses hanches en passant les bras par-dessous ses fesses, et les soulève. Les jambes de la femme sont posées sur les épaules de l'homme, et les bras de la femme peuvent s'activer à caresser les attribus virils de monsieur.",

                      92: "92__la cîme rosée__la femme allongée puis culbutée sur le dos, les genoux près des épaules reçoit la vue en contre plongée de son / sa partenaire qui lui offre la vue d'un cunnilingus voluptueux agrémenté de l'attention de mains expertes. Si vous aimez le sexe dégoulinant cette position vous gratifiera d'un nectar sensuel sur une grande surface du corps.",

                      93: "93__pénélope pénélope__à vous de maîtriser l'art de la double pénétration. Elle peut être obtenue par le coït de deux hommes pour une femme  (en anale + vaginale), avec deux hommes pour un homme , ou bien en pénétration éloignée pour une femme (buccale + vaginale ou buccale + anale), on peut l'obtenir avec un homme et un sextoy vibrant ou non pour madame, d'une simple pénétration vaginale à laquelle s'ajoute un complément digital du côté obscur..., , comme disait un certain poète, Victor Hugo je crois \"si mignonne que tu sois, sache que tu possèdes deux sexes\". Que de poésie pour pénélope.",

                      94: "94__triominos__la triple pénétration fait son entrée dans la kamasutra un beau jour d'hiver (anale + vaginale + buccale). Ça pourrait être un homme qui fait une fellation et qui pénètre une femme alors qu'il est en train de se fire prendre sauvagement par derrière; ça pourrait aussi être une femme qui contente trois hommes à la fois... et encore, un gode ceinture multiplie les possibilités. Si vous arrivez à rendre ça mignon alors franchement bravo.",

                      95: "95__voyeur voyeuse__les deux amants se masturbent l'un et l'autre de façon à offrir un spectacle de premier choix à l'autre. Le but de chacun est d'exciter l'autre au maximum. Cette situation peut être le début de nombreux jeux où s'étend tout l'aspect ludique de votre vie sexuelle. Vous pouvez donner un gage au premier qui jouit et essayer de le faire jouir sans le toucher, si vous connaissez d'autres moyens. Un son ou un souffle bien placés peuvent avoir tellement plus d'effet que n'importe quelle caresse si vous connaissez bien l'autre.",

                      96: "96__l'éponge__la femme se stimule l'entrejambe mais surtout le clitoris par frottement en serrant entre ses cuisses l'une de celles de monsieur, jusqu'à l'extaaaaaase *o* très efficace pour se réchauffer, et en plus permet d'apprendre à se servir de son jeu de hanche, nécessaire quand on veut s'essayer à des positions où madame mène le jeu par dessus.",

                      97: "97__l'étoile__variante de l'éponge, la femme se stimule l'entrejambe par chevauchement frontal de l'homme couché",

                      98: "98__missionaire manuel__missionaire où la femme appuie légèrement sur son bas ventre pour stimuler les parmois internes de son vagin",

                      99: "99__ptites cuillères__Plutôt reposante pour les deux partenaires allongés, les petites cuillères offrent la place au romantisme et à la douceur.   L'homme pénètre la femme en étant placé derrière elle. Cette position n'offre pas une grande amplitude de pénétration mais permet une grande proximité physique (fesses, dos, cuisses) entre les deux partenaires et une stimulation du clitoris et de la poitrine de la part des deux partenaires. Et des bisous dans le cou.",

                      100: "100__le dauphin (dos de missionaire)__le femme est couchée sur le ventre et homme au dessus d'elle la pénètre dans un élan langoureux, joignant ses doigts à ceux de sa belle, ou profitant de sa place pour la parcourir de ses doigts experts."
                  }
                  $scope.randomValue = 1;

                  $scope.age_min = 18;
                  $scope.age_max = 40;
                  $scope.compteur_de_gens_hommes = 1;
                  $scope.compteur_de_gens_femmes = 1;
                  $scope.compteur_de_gens_autres = 0;
                  $scope.cheveux_couleurs = ['noirs', 'bruns', 'châtains', 'blonds', 'platine', 'roux', 'bleus', 'brun à mèches colorées', 'blond à mèches colorées'];
                  $scope.cheveux_genre = ['raides', 'courbes ambles', 'la laine des moutons', 'lisses', 'en vrac', 'crêpus', 'denses', 'structurés'];
                  $scope.cheveux_couleurs_hexa = ['000000', '501111', '8E4E1B', 'FFEF3F', 'F0EBAF', 'FF8328', '0D00BF'];
                  $scope.yeux = ['noirs', 'noisette', 'noisette clair', 'verts', 'bleus', 'marron-verts', 'vairon - bleu, vert', 'vairon - bleu, marron', 'vairon - marron, vert'];
                  $scope.yeux_hexa = ['000000', '501111', '3DA521', '0D00BF', '4F521B', 'vairon - bleu, vert', 'vairon - bleu, marron', 'vairon - marron, vert'];
                  $scope.corpulence = ['svelte', 'ordinaire', 'un brin ronde', 'enrobé', 'athlètique', 'presque musclé', 'musclée', 'fine'];
                  $scope.cheveux_longueur = ['très courts', 'courts', 'mi-longs', 'jusqu\'aux épaules', 'longs', 'très longs', 'jusqu\'aux hanches', 'super longs'];
                  $scope.couleur_peau = ['0', '10', '20', '30', '40', '50', '60', '70', '80', '90', '100']; //pourcentage de bronzage
                  $scope.taille = ['de 150 à 160', 'de 160 à 165', 'de 165 à 170', 'de 170 à 175', 'de 170 à 180', 'de 180 à 185', 'de 185 à 200', 'de 200 à 210'];
                  $scope.pillositey = ['sans poil du tout', 'très peu visible', 'peu visible', 'moyennement visible', 'assez fournie', 'velue'];
                  $scope.habits = ['0 habits', 'a poil', 'rien', 'quasiment nu', 'en sous vêtement', '1 habit', '2 habits', '3 habits', '4 habits', '5 habits', 'plein d\' habits'];
                  // carac féminines
                  $scope.bonnet = ['85 A', '85 B', '90 B', '95 C', '90C', '85D', '90D', '95D', '85E', '90E', '95E', '85F', '90F', '95F'];
                  $scope.sentiment = ['calme', 'à l\'aise', 'amusée', 'serieuse', 'timide', 'bestiale', 'vicieuse', 'joueuse', 'passionée'];
                  $scope.kinsey_scale = ['0/6', '1/6', '2/6', '3/6', '4/6', '5/6', '6/6'];

                  $scope.people = [];

                  $scope.randArr = function (min, max) {
                      return Math.floor(Math.random() * (max - min + 1) + min);
                  }
                  $scope.getRandomInArray = function (arr) {
                      let max = arr ? arr.length : 0;
                      if (!max) {
                          console.error('no array', arr)
                          return 0;
                      }
                      let min = 0;
                      let randomValue = $scope.randArr(min, max);
                      return arr[randomValue];
                  }
                  $scope.makePeople = function (gender) {

                      let people = {
                          // id: $scope.people.length,
                          cheveux         : $scope.getRandomInArray($scope.cheveux_couleurs),
                          cheveux_longueur: $scope.getRandomInArray($scope.cheveux_longueur),
                          cheveux_genre   : $scope.getRandomInArray($scope.cheveux_genre),
                          yeux            : $scope.getRandomInArray($scope.yeux),
                          sentiment       : $scope.getRandomInArray($scope.sentiment),
                          taille          : $scope.getRandomInArray($scope.taille),
                          habits          : $scope.getRandomInArray($scope.habits),
                          pilosite        : $scope.getRandomInArray($scope.pillositey),
                          corpulence      : $scope.getRandomInArray($scope.corpulence),
                          peau            : $scope.getRandomInArray($scope.couleur_peau),
                          kinsey_scale    : $scope.getRandomInArray($scope.kinsey_scale),
                          age             : $scope.randArr($scope.age_min, $scope.age_max),
                      };
                      if (gender === 'femme') {
                          people.bonnet = $scope.getRandomInArray($scope.bonnet)
                      }
                      people.genre = gender;

                      return people;
                  }
                  $scope.regenPeople = function () {
                      $scope.people = [];

                      for (let i = 0; i < ($scope.compteur_de_gens_hommes + $scope.compteur_de_gens_autres); i++) {
                          $scope.people.push($scope.makePeople('homme'));
                      }
                      for (let i = 0; i < $scope.compteur_de_gens_femmes; i++) {
                          $scope.people.push($scope.makePeople('femme'));
                      }
                      console.log($scope.people);
                  };
                  $scope.newRandom = function () {
                      let max = 100;
                      let min = 1;
                      let randomValue = Math.floor(Math.random() * (max - min + 1) + min);
                      $scope.randomValue = randomValue;
                      $scope.recompute();

                  };
                  $scope.recompute = function () {
                      $scope.foundPosition = $scope.positions[$scope.randomValue]; // randomly selected position
                      $scope.position_number = $scope.foundPosition ? $scope.foundPosition.split("__")[0] : 'pas de numéro';
                      $scope.position_title = $scope.foundPosition ? $scope.foundPosition.split("__")[1] : 'pas de titre';
                      $scope.position_description = $scope.foundPosition ? $scope.foundPosition.split("__")[2] : 'pas de description';
                  }
                  ;

                  $scope.newRandom();
                  $scope.regenPeople();
              }])
        </script>

        {% include 'part/links-interactive.html.twig' %}
    </div>
{% endblock %}
