{% extends "base.html.twig" %}


{% block main %}

    <h1><img src="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png"/> Pickup lines</h1>

    <br/>
    <div class=columns>
        <div class="column is-5">
            <p> Dans les phrases de drague pour aborder quelqu'un, ce qui compte ce n'est pas ce que l'on dit, mais la
                façon dont on le dit. Donc autant dire n'importe quoi.</p>
            <button id="phrase" class="btn btn-primary">
                une autre dans le genre !
            </button>
            <button id="phraseRandom" class="btn btn-primary">
                une autre au hasard!
            </button>
            <div id="options">
                <form action="#">
                    <fieldset>
                        Les phrases s'adressent à
                        <span class="badge badge-dafault">
              <label for="dest_f">une femme</label>

              <input id="dest_f" type="radio" value="f" name="destinataire"/>
            </span>
                        <span class="badge badge-dafault">
              <label for="dest_h">un homme</label>

              <input id="dest_h" type="radio" value="h" name="destinataire"/>
            </span>

                        <span class="badge badge-dafault">
              <label for="dest_m"> mixte.</label>

              <input id="dest_m" type="radio" value="m" name="destinataire"/>
            </span>
                        <button class="btn btn-primary" id="stop">
                            pause
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="column is-7">
            <div>
                <cite id="div"> </cite>
            </div>


            <div id="past">
            </div>
        </div>
    </div>

    <br/>

    <br/>
    Auteur:
    <a href="https://cipherbliss.com">
        <img class="icon" style="width: 100px; height: 100px" src="{{ asset('img/avatar_social.jpg') }}"/> Tykayn -
        cipherbliss.com
    </a><br/>
    <sub>Venez causer de sexualité et de sociologie interpersonnelle sur </sub>
    <a href="https://qzine.fr">
        <img class="icon" src="https://qzine.fr/favicon.png"/>Qzine.fr
    </a>
    {% include('part/share.html.twig') %}
    {% include 'part/page-list.html.twig' %}
    <style>
        #div {
            font-size: 2.8em;
            line-height: 1.5em;
        }

        h1 {
        {#      margin: 50px 0;#} border-bottom: 1px solid #ccc;
            color: #472508;
        }

        cite {
            padding: 0 0 20px;
            font-size: 20px;
            font-variant: normal;
            display: block;
            min-height: 100px;
            color: #a1a1a1;
        }

        cite:first-letter {
            text-transform: uppercase;
            font-size: 3em;
            color: #888;

        }

        div.ancienne_phrase {
            padding: 10px 0;
            display: block;
            border-top: 1px solid #ccc;
        }

        button {
            border-radius: 3px;
            width: 100%;
            height: 35px;
            background: #ccc;
            border: none;
            display: block;
            cursor: pointer;
        }

        button:hover {
            margin-top: 2px;
            background: #ddd;
        }

        button:active {
            margin-top: 2px;
            background: #aaa;
        }

        .principal a {
            color: #EA8888;
        }

        .principal a:hover {
            color: #000;
            background: #FFE0E0;
        }

        .principal p {
            color: #A56A6A;
            background: #FFE0E0;
            padding: 10px;
        }

        .icon {
            height: 15px;
            margin: 0 10px;
        }

        h1 img {
            height: 1em;
            margin: 0 20px;
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">


        jQuery(document).ready(function () {

            /**
             * inits
             */
            var show_phrase = true; /* définir si la pause fonctionne */
            var compt_phrases = 0;
            var intervalTemps = 6 * 1000; // secondes entre chaque phrase
            // on peut choisir a qui adresser ses phrases
            var genre_phrases = 'f'; // f pour femme. h, et m pour mixte.
            // quand on choisit homme on a aussi mixte avec.
            // cocher le choix f
            $('#dest_f').trigger('click');
            // déclaration des termes

            interjection_m = new Array("Dites moi donc", "hey", "Holà", "Salut", "Bien le bonjour", "Oh ben oooh!", "Te voilà", "Vous ici", "Mes humbles salutations", "Waaaaah", "Oh", "Heyoooo", "Hey mais sérieux!", "COUCOU!", "Bonjour", "Parbleu");
            surnom_f = new Array("mamwouazelle", "toi là avec les seins!", "chère enfant", "sexy laydy", "belle enfant", "princesse", "ô bouche pulpeuse", "fillette", "ouech grosse", "fille d'Eve", "jouvencelle", "mignonette", "gourgandine");
            surnom_h = new Array("mademoiseau", "toi là avec les pectoraux!", "sexy guy", "bel enfant", "doux prince", "ouech gros", "fils d'Adam", "jouvenceau", "mon mignon");
            surnom_m = new Array("beau cul", "beauté", "bombASS", "monnn petit!", "belle plante", " beauté fatale", "beau châssis", "joli bout de viande");

            action_m = new Array("faire pleurer le séant", "défoncer la rondelle", "secouer fougueusement le cocotier", "chanter un peu d'Elmer Food Beat");

            suppl_f = new Array("laisse moi t'appeler Angellaaaaaa", "tu es plus belle que rainbow dash!", "oh je ne disais pas ça à toi mais à tes seins", "Pour noël, je veux ton huître perlée.", "Je veux nager dans ta cyprine !", "Y à un micro climat dans ta culotte, chaud, et humide ! Oulà c'est la mousson !", "Escalade mon gros tronc et tu atteindras des sommets !");
            suppl_h = new Array("mais en fait les cheveux gras ça te va super bien", "Tu me fais baver, et je parle pas de ma bouche");

            suppl_m = ["Que j'aime tes fesses", "T'as vu?", "Y a moyen de moyenner ?", "Toi même tu sais.", "Ca te plaît ce que tu vois?", " J'ai très envie de te voir en maillot de bain ", "T'as pas un 07?", "...tu veux voir ma bite?", "Je vais t'apprendre la mécanique des fluides", "Je te ferai escalader mon Everest en moins de deux", "j'suis chaud comme une baraque à frites", "jte brancherai bien mon plugin", "j'ai des sextoys à la maison", "pour la visite nocturne c'est quand tu veux", , "il fait bien chaud dans mon slip", "tu veux ou tu veux?", "c'est celui qui allume qui encule", "Tu peux inviter ta grande soeur aussi", "miaouuuuu", "tu es bien foutue comme un meuble ikéa", "tu veux du sirop de corps d'homme?", "i just met you and this is crazy! but here's my number so call me maybe", "oppan gangnam style!", "j'ai des cookies à la maison", "c'est comme ça que j'ai séduit ta mère", "... non rien, en fait je m'entraîne juste à aborder les inconnus", "regarde tout ce qu'on peut faire!", "tu aurais des capotes XXL ?", "Tu veux sentir ma grande magnificence?", "Un king kong size, ça te tente?", "N'aie pas peur, je serais doux, peut être...", "Tu aimes quand ça vibre?", "Tout est démesuré chez moi, mon humour, ma teub...", "Je te présente Jean Popaule.", "J'aime le concombre, et toi?", "Hey, hey, jsuis chaud !!", "Je me suis perdu en cours de rute, tu m'amène chez toi??", "Ça te dit de danser un mambo horizontal ?", "J'aimerais décrocher ta lune ! J'ai un gros télescope pour ça !", "Je suis généreux, jte laisserais jouir en premier !", "Je te refais 20 000 lieux sous les mers avec mon gros tentacule !", "Tu aimes le sport de glisse?", "Ma fiche dans ton slot ! Désactive le firewall, j'arrive ! ", "Mon antivirus, c'est durex !", "Jvais te livrer un gros flux de données bien compressées", "Serre les fesses, j'arrive à toute vitesse", "jvais te chevaucher la croupe façon haute école !","T'as tout ce qu'il faut devant et derrière"];
            virgule = new Array(",");
            que = new Array("que");
            //pour infinitif

            intention_m = new Array("si tu aimes le chocolat je peux te", "avec un seul doigt je peux te", "si je t'offre des fleurs je peux te", "comme j'aimerais", "hoummmmm", "allez viens! je pourrai te", "il faut", "je sais comment", "ça me rend ému du slip quand je me vois te", "j'irai volontiers te", "faut tester si on peut te");
            action_infinitif_m = new Array("faire BOUM BOUM", "polir", "faire HEEEE MACARENA", "papouiller", "palper", "négocier", "brouter", "tringler", "défoncer", "ravager", "redéfinir", "cartographier", "réagencer", "malaxer", "bénir", "liquéfier", "manger", "croquer", "pénétrer", "mesurer", "chalouper", "CULbuter", "cuisiner", "mettre à jour", "repeindre", "fourrer", "farcir", "refaire", "lécher", "boxer", "squeezer");
            intention_imparfait_m = new Array("Je te montre comme j'ai déjà ", "J'suis sûr qu'on ne t'a jamais ", "On t'a déjà", "T'es tu déjà");
            intention_t_m = new Array("ca te branche que je t'", "ça te rend émue du slip si je t'", "si je t'attrape, je t'");
            action_t_m = new Array("agite", "enjambe", "implémente", "honore", "explore", "embroche", "emmène au vent", "éduque", "astique", "englobe");
            action_present_m = new Array("broute", "tringle", "défonce", "ravage", "redéfinisse", "honore", "explore", "réagence", "malaxe", "liquéfie", "mange", "croque");
            action_imparfait_m = new Array("défoncé", "ravagé", "implémenté", "exploré", "fait pleurer", "liquéfié");
            intention_te_m = new Array("viens là que je te vende du rêve et que je te ", "il faut qu'on te", "il faut que je te", "ça ne te dérange pas que je te", "veux tu bien que je te", "ca te branche que je te", "je te", "ça me rendrait ému du slip si je te", "si je t'atrappe, je te");
            action_te_m = new Array("secoue", "tripote", "mate", "branle", "dougoudougoudou", "donne un ou deux orgasmes", "procure jouissance", "BENG BENG", "défonce", "ravage", "découvre", "fasse pleurer", "fasse l'amour", "poke", "farcisse", "sodomise", "fuck", "m'gouloum gouloum", "pouf-bam-pastèque");
            organe_f = new Array("la porte du paradis", "le mont vénus", "le porte jartelle", "ta jupe", "le wonder bra", "la motte", "la X box", "la bonbonnière", "le flan", "la féline de ton entrejambe", "le berlingot", "le minou", "les seins");
            organe_h = new Array("la glissière de ton froc", "le cyclope à roulettes", "la nouille", "Saint Popaul", "Gode - zilla");
            organe_m = new Array("les oreilles", "les poignées d'amour", "les doigts", "la porte de derrière", "l'intelligence", "le séant", "la conversation", "la rondelle");
            organes_f = new Array("les gambettes", "la pomme d'amour", "les escalopes", "les boobs", "les lèvres du bas", "les lèvres du haut");
            organes_h = new Array("les bijoux", "les pokémons", "le triopiqueur", "le frein");
            organes_m = new Array("les cuisses", "les aisselles", "les pieds", "tes steaks", "les fesses", "les cheveux", "les tâches de rousseur");
            qualificatif_m = new Array("allégrement", "goulument", "bestialement", "amoureusement", "chaleureusement", "fougueusement", "sauvagement", "fermement");
            qualified_m = new Array("en rut", "bourré", "qui a ses règles", "en mode berserk", "essouflé", "un jour de pleine lune", "avec un accent Américain", "en latex", "qui vibre", "qui roule les R", "au regard de bourrin", "suant comme un petit goret", "sous exta");
            contexte_m = new Array("durant le yoga", "en pleine méditation", "quand Vénus rencontre Mars", "alors que fleurissent les cerisiers", "après un marathon", "à quatre pattes", "quand la pleine lune éclaire tes fesses", "avec deux battes de Baise Ball", "quand tu faisais la cuisine", "en pleine douche", "avec des boules de geisha", "en murmurant des noms de pokémon", "en fursuit", "à la louche", "l'air de rien", "comme ça", "en pleine rave party", "en apesanteur", "à l'improviste", "sans culotte");
            comparatif_m = new Array("tel", "aussi bien que", "comme", "mieux que", "avec plus de véhémence que", "plus soigneusement que", "moins doucement que");
            compared_m = new Array("le ptit jésus", "robocop", "George Clooney", "ta soeur", "ta mère", "ton père", "Rumbo", "Chtulu", "les sept nains", "Gandalf", "le monstre du lock ness", "Bras d'Bite", "tes doigts");
            comparatif_qu_m = new Array("tel", "aussi bien qu'", "avec plus de véhémence qu'", "aussi langoureusement qu'");
            compared_qu_m = new Array("le ptit jésus", "un poulpe de hentai", "un yéti", "un BOEUF", "un char d'assaut", "un tank", "un vrai homme", "une chose");

            types_phrase = {
                m: [
                    [interjection_m, surnom_m, virgule, intention_te_m, action_te_m, qualificatif_m, organe_m],
                    [comparatif_m, compared_m, virgule, intention_t_m, action_t_m, organes_h],
                    [intention_m, action_t_m, organe_m, virgule, surnom_m],
                    [intention_m, virgule, surnom_m]
                ]
                ,
                h: [{# [interjection_h, surnom_h, virgule, intention_h, action_t_h, qualificatif_h, organe_h] ,
          [interjection_m, surnom, virgule, intention_t, action_t, qualificatif, organe],
          [interjection_m, virgule, intention_imp, action_imparfait, qualificatif, organes, comparatif_qu, compared_qu, qualified, contexte],
          [surnom, virgule, suppl],
          [interjection_m, virgule, organes_h, virgule, suppl],
          [suppl],
          #}
                    [comparatif_m, compared_m, virgule, intention_t_m, action_t_m, organes_h],
                    [intention_m, action_infinitif_m, organe_h, virgule, surnom_h],
                    [interjection_m, virgule, organes_h, virgule, suppl_h],
                    [surnom_m, virgule, suppl_h],
                    [surnom_h, virgule, suppl_h],
                    [suppl_h, virgule, suppl_h],
                    [surnom_h, intention_m, action_infinitif_m, organe_h, comparatif_qu_m, compared_qu_m]
                    {#[intention_imp, action_imparfait, organe, contexte],
                [intention, action_infinitif, organe, contexte]#}
                ],
                f: [
                    [surnom_f, suppl_f],
                    [surnom_m, virgule, suppl_h],
                    [intention_m, action_te_m, organe_f, virgule, surnom_f],
                    [interjection_m, virgule, intention_imparfait_m, action_imparfait_m, qualificatif_m, organes_f, comparatif_qu_m, compared_qu_m, qualified_m, contexte_m],
                    [interjection_m, virgule, organes_f, virgule, suppl_f],
                    [surnom_f, virgule, intention_t_m, action_t_m, qualificatif_m, organe_f],
                    [intention_m, action_infinitif_m, organe_f, contexte_m]
                ]

            };
            // déclaration des phrases
            rendu = ' yay ';

            function r(tableau) {
                var nombre = parseInt(Math.random() * tableau.length);
                {#      console.log(nombre + ' / ' + tableau.length)#}
                return tableau[nombre];

            }

            /**
             * choisir un genre au hasard
             */
            function chooseDestR() {
                destinataires = [
                    'dest_h',
                    'dest_f',
                    'dest_m'
                ]
                var newDest = r(destinataires);
                // auto click sur le destinataire
                $('#' + newDest).trigger('click');
                return newDest;
            }

            /**
             * fabriquer une phrase avec un tableau
             * @param {type} laphrase
             * @returns {String}
             */
            function phraser(laphrase) {
                var renduphrase = '';
                for (termes in phrase) {
                    renduphrase += r(termes) + ' ';
                }
                return renduphrase;
            }

            /**
             * ajouter une phrase
             * @returns {undefined}
             */
            function nouvelle() {
                {#      console.log('nouvelle phrase');#}
                {#          window.console.log(types_phrase[genre_phrases], show_phrase, compt_phrases);#}
                if (show_phrase === true && compt_phrases < 15) {
                    renduphrase = '';
                    phrase = r(types_phrase[genre_phrases]);
                    for (i in phrase) {
                        renduphrase += r(phrase[i]) + ' ';
                    }
                    rendu = renduphrase
                    ancienne_phrase = $('#div').html();
                    $('#div')
                      .html(rendu);
                    $('#past')
                      .prepend('<div class="new_ancienne_phrase" style="display:none;">' + ancienne_phrase + '</div>');
                    $('.new_ancienne_phrase')
                      .hide()
                      .removeClass('new_ancienne_phrase')
                      .addClass('ancienne_phrase')
                      .slideDown();
                    compt_phrases++;
                } else if (compt_phrases > 14) {
                    window.console.log("trop de phrases il suffit!");
                    show_phrase = false;
                    clearInterval(niouzes);
                } else {
                    $('#stop').text('relancer')

                    console.log('phrase désactivée')
                }

                return rendu;

            }

            /**
             * launch the app
             */
            phrase = r(types_phrase[genre_phrases]);
            nouvelle();
            niouzes = setInterval(function () {
                nouvelle();
            }, intervalTemps);

            /**
             * click actions
             */
            $('#phraseRandom').click(function () {
                console.log('une autre au hasard!')
                show_phrase = true;
                chooseDestR();
                nouvelle();
            });
            $('#phrase').click(function () {
                console.log('une autre!')
                show_phrase = true;
                nouvelle();
            });
            $('#stop').click(function () {
                window.console.log("stop");

                show_phrase = !show_phrase;
                if (show_phrase) {
                    $('#stop').text('relancer')
                } else {
                    $('#stop').text('pause')
                }
                return show_phrase;
            });
            /**
             * changer le genre quand on clique sur un destinataire.
             */
            $('#dest_h').on('change', function () {
                genre_phrases = 'h';
                window.console.log(genre_phrases);
            });
            $('#dest_f').on('change', function () {
                genre_phrases = 'f';
                window.console.log(genre_phrases);
            });
            $('#dest_m').on('change', function () {
                genre_phrases = 'm';
                window.console.log(genre_phrases);
            });

        });

    </script>
{% endblock %}
