{% extends "base.html.twig" %}
{% block main %}
    <div class="page-interactive">
        <h2>Générateur de noms d'organes</h2>
        <div class="well">
            TODO: ressuciter le générateur de noms d'organes
        </div>
        {% verbatim %}
                <div ng-app='tk'>
                      <div ng-controller='mainCtrl'>

                    </div>
                </div>
            {% endverbatim %}


        {% include 'part/js-cdn.html.twig' %}
        <script>
            /**
             * code principal
             */
            angular.module("tk", ['tk.controllers']);
            angular.module("tk.controllers", [])
                .controller('mainCtrl', ['$scope', function ($scope) {
                    $scope.test = 20;

                }])
        </script>

        {% include 'part/links-interactive.html.twig' %}
    </div>
{% endblock %}