{% extends "base.html.twig" %}


{% block main %}
    <!-- <link rel="stylesheet" href="{{ asset('TykaynPortfolioBundle/Resources/public/css/style_angular.css') }}"> -->


    {% verbatim %}
<style >
        input, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    min-height: 40px !important;
}

.salaire em{
    color: green;
}
</style>
<div class="principal row-fluid salaire" ng-app="tk">
    <div id="choisir" class="ng-app row">
        <header class="hero-unit">
            <h1>Salaire</h1>
            <div>
                Sélectionnez votre profil pour comparer combien de temps mettrait telle célébrité à gagner de quoi se payer un de ces couteux objets.
                Si vous n'êtes pas salarié, paix à votre âme.
            </div> 
        </header>
        <div id="profilperso"  class="col-5">
            <h2>Votre brut annuel</h2>
            Remplissez les champs selon vos propres valeurs pour voir les estimations.
            <input type="number" ng-model="brutannuel" ng-init="brutannuel=50000" step="1000" ng-change="calculateMensuel()">€<br>

            brut mensuel: <em>{{ brutannuel / 12 | number:0}}</em> €<br>
            net annuel: <em>{{ brutannuel * 0.77  | number:0}}</em> €  soit {{  brutannuel * 0.77 / 13215.23 | number:1 }} fois le smic net<br>
            net mensuel: <em>{{ brutannuel / 12 * 0.77  | number:0 }}</em> €<br>

            <br> <p>
                si vous travaillez 40 ans pour avoir une retraite socialement acceptable, vous aurez accumulé <em>{{ brutannuel *40 * 0.77  | number:0 }}</em> € nets.</p>
            eh oui jammy!
        </div>
        <div  class="col-5">
            <h2>Ou votre brut mensuel</h2>

            <input type="number" ng-model="brutmensuel" ng-init="5000" step="100">€<br>
            Vous pouvez déterminer votre brut annuel en entrant ici votre brut mensuel.<br>
            brut annuel: <em>{{ brutmensuel * 12  | number:0 }}</em> €<br>
            net mensuel: <em>{{ brutmensuel * 0.77  | number:0 }}</em> €<br>
            net annuel: <em>{{ brutmensuel * 0.77 *12 | number:0 }}</em> €<br>

        </div>
        <div class="span12 well" >
            <span class="hero_unit"><h1>Comparons votre profil avec des gens connus</h1></span>
        </div>
        <div class="col-5" >
            <h2>Choisissez votre profil</h2>
            <select id="choix" ng-model="profil" ng-init="profil=1430.22" >
                <option value="{{ brutannuel / 12 }}" selected="selected" ng-selected="{{ brutannuel / 12 }}" >Votre profil perso <em>{{brutannuel / 12 |number:0 }}</em> € brut / mois</option>
                <option value="1430.22">SMIC 1 430,22 € / mois</option>
                <option value="231000">Hugh Laurie 231 000 € / mois</option>
                <option value="477239">Bill Gates 477 239 € / mois</option>
                <option value="50916.69">Barack Obama 50 916,69 € / mois</option>
                <option value="30390">François Hollande 30 390 € / mois</option>
                <option value="5400">député 5 400,00 € / mois</option>
                <option value="10000">Laure Manaudou 10 000 € / mois</option>
                <option value="1380000">Zazie 1 380 000 € / mois</option>
                <option value="112500">Jean Dujardin 112500 € / mois</option>
                <option value="54000">Nikos Aliagas 54000 € / mois</option>
                <option value="40000">Laurent Ruquier 40000 € / mois</option>
                <option value="3280000">Mylène Farmer 3280000 € / mois</option>
            </select>
            <br><abbr title="net calculé en prenant 77% du brut">brut annuel :</abbr><em>{{ profil*12 | number:0 }}</em>€<br>
            <abbr title="net calculé en prenant 77% du brut">net annuel :</abbr><em>{{ profil*12*0.77 | number:0 }}</em>€<br>
            La personne sélectionnée gagne <em>{{ profil / 1000 |number:2 }}</em> Milliers d'euros par an.
        </div>
        <div class="col-5" >
            <h2>Quelques objets de luxe:</h2>
            <select class="input-large" id="objets" ng-model="objets" ng-init="objets=1900">

                <option value="20">Une sortie en bar uppé 20€</option>
                <option value="669">(téléphone portable) Galaxy S 3. 669€</option>
                <option value="1900">Vélo électrique awesome 1900€</option>
                <option value="25000000">(train) Une rame de 500 places de TGV Duplex. 25 M€</option>
                <option value="19000000">(train) Une rame Thalys de 377 places. 19 M€</option>
                <option value="32000000">(train) Une rame Eurostar de 794 places. 32 M€</option>
                <option value="15000">(voiture) Smart. 15 k€</option>
                <option value="320000000">(pont) viaduc de Millau. 320 M€</option>
                <option value="80000">(vélo) The Aurumania Gold Bike Crystal edition</option>
                <option value="38000">(whiskey) The Macallan Fine and Rare Collection, 1926, 60 Years Old</option>
                <option value="700">(bière) Vieille Bon Secours ale, bouteille de 12L 8°</option>
                <option value="30500">Suite royale à l'hôtel Grand Resort Lagonissi d'Athènes</option>
                <option value="390000000">La Villa sprawling Leopolda en Cote d’Azur</option>
                <option value="1200000">Bugatti Veyron , Wolksvagen</option>
                <option value="1200000">livre: "Die Aufgabe" ("la Tâche") par Tomas Alexander Hartmann. 13 pages.</option>

            </select>
            <br>valeur de l'objet: <em>{{ objets | number:0 }}</em>€<br>
            C'est à dire: <em>{{ objets /((brutannuel / 12 * 0.77) / 151.666) |number:1}} h</em> de salaire net pour vous<br>
            et  <em>{{ objets /((profil / 12 * 0.77) / 151.666) |number:1}} h </em> de salaire net pour le profil sélectionné.<br>

            <!--
            Pour le profil sélectionné, c'est envisageable dans {{ futur_selected }}.<br>
               Et pour vous, ce sera possible dans {{ futur_me }}.
            -->
        </div>
        <div id="prixobjet"  class="col-5">
            <h2>Estimation</h2>
            Vous avez envie de vous acheter un truc qui va vous coûter :
            <input ng-model="prixObjet" type="number" size="5" ng-init="prixObjet=100" step="100">
            euros.
            <br>
            <strong>Mais cela vaut il vraiment
                <em>{{ prixObjet /((brutannuel / 12 * 0.77) / 151.666) |number:1}}</em> heures de
                <abbr title="En partant d'une base de {{ hparmois }} heures par mois, et d'un salaire de {{ brutannuel }} € bruts annuels">votre temps de travail</abbr>
                ? (si un an de travail brut vaut: {{ brutannuel }} €) <br>
            </strong>
            Une heure vaut:<br>
            <em>{{ (brutannuel / 12 * 0.77) / 151.666 |number:1}}</em> € net 
            <br> <em>{{ (brutannuel / 12 ) / 151.666 |number:1}}</em> € brut.
        </div>
        <div class="span12 well" >
            <span class="hero_unit">Vous pouvez maintenant faire une demande d'augmentation à vos partrons, ou bien négocier avec vous même si vous êtes auto-entrepreneur. </span>
        </div>
    </div>

    <h2>quelques conseils très pratiques pour faire des économies:</h2>
    <div class="center" >

        <img class="thumbnail" src="https://tykayn.fr/public/i/2012/08aout/mixage/g/valeur_temps_travail.jpg" alt="comment faire des économies selon tykayn. Comparer le temps de travail que coûte un objet qui nous fait envie nous décourage de faire l'achat. Et c'est tant mieux pour gérer son flouze. "/>
        <ul class="well unstyled">
            <li>Comprendre qu'acheter des choses "pour vous sentir mieux" ne résoudra pas vos vrais problèmes.</li>
            <li>Comparer au temps de travail nécessaire à un achat</li>
            <li>Regarder le prix au kilo, même pour les objets non comestibles.</li>
            <li>Payer avec de l'argent liquide pour prendre conscience matériellement du prix</li>
            <li>Prévoir les imprévus tels que le mobilier qui meurt, la machine a laver, le frigo, un pneu qui crève...</li>
            <li>Ne pas se faire avoir par l'illusion que ce qui est le PLUS cher est le mieux.</li>
            <li>Utilisez davantage les objets que vous possédez déjà</li>
        </ul>  

        <br/>


        Si vous avez aimé cette page, partagez là :3<br/>
        D'autres strips de BD sur <a href="https://tykayn.fr">
            <img src="https://tykayn.fr/public/i/2013/07juillet/tk_av_.jpg" alt="profil de tykayn"/>le Tykayn blog</a>
    </div>
{% endverbatim %}

    {% include('part/links-interactive.html.twig') %}
    {% include 'part/js-cdn.html.twig' %}

    <script>
        /**
         * code principal
         */
        angular.module("tk", ['tk.controllers']);
        angular.module("tk.controllers", [])
            .controller('mainCtrl', ['$scope', function ($scope) {
                $scope.test = 12;
                $scope.calculateMensuel = function () {
                    $scope.brutmensuel = $scope.brutannuel / 12;
                }
            }])
    </script>

{% endblock %}
