{% extends 'default/index.html.twig' %}
{% block main %}
<h1>{% trans %}styles du site{% endtrans %}</h1>
<p>Cette page regroupe les styles des principaux éléments d'un site web afin d'avoir un aperçu de leur cohérence et de leur harmonie stylistique.</p>
<h1 >Navbar</h1>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">TyKayn</a></p>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

Table :  table-hover table-striped table-responsive
<table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h1 >Pagination</h1>

<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
Pager
<ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
</ul>
<ul class="pager">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
</ul>

<section id="typography">
    <div class="page-header" >
        <h1 >Typography</h1>
    </div>

    <!-- Headings & Paragraph Copy -->
    <div class=columns>

        <div class="span4">
            <div class="well" >
                <h1 >h1. Heading 1</h1>
                <h2 >h2. Heading 2</h2>
                <h3 >h3. Heading 3</h3>
                <h4 >h4. Heading 4</h4>
                <h5 >h5. Heading 5</h5>
                <h6 >h6. Heading 6</h6>
            </div>
        </div>

        <div class="span4">
            <h3 >Example body text</h3>
            <p >Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p >Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
        </div>

        <div class="span4">
            <h3 >Example addresses</h3>
            <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#" >first.last@gmail.com</a>
            </address>
        </div>

    </div>

</section>


<article> Ceci est un article</article>
<aside> Ceci est une balise aside</aside>
<div class=columns>
    <div class="column is-6">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </div>
    <div class="column is-6"><div class="hero-unit">hero-unit</div></div>
</div>

<h2>Boutons</h2>
<table>
    <tbody>
        <tr>
            <td><a class="btn" href="#" >default</a></td>
            <td><a class="btn btn-large" href="#" >default</a></td>
            <td><a class="btn btn-small" href="#" >default</a></td>
            <td><a class="btn disabled" href="#" >default</a></td>
            <td><a class="btn" href="#" ><i class="icon-cog"></i> default</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn" href="#" >default</a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-primary" href="#" >Primary</a></td>
            <td><a class="btn btn-primary btn-large" href="#" >Primary</a></td>
            <td><a class="btn btn-primary btn-small" href="#" >Primary</a></td>
            <td><a class="btn btn-primary disabled" href="#" >Primary</a></td>
            <td><a class="btn btn-primary" href="#" ><i class="icon-shopping-cart icon-white"></i> Primary</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary" href="#" >Primary</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-info" href="#" >Info</a></td>
            <td><a class="btn btn-info btn-large" href="#" >Info</a></td>
            <td><a class="btn btn-info btn-small" href="#" >Info</a></td>
            <td><a class="btn btn-info disabled" href="#" >Info</a></td>
            <td><a class="btn btn-info" href="#" ><i class="icon-exclamation-sign icon-white"></i> Info</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info" href="#" >Info</a>
                    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-success" href="#" >Success</a></td>
            <td><a class="btn btn-success btn-large" href="#" >Success</a></td>
            <td><a class="btn btn-success btn-small" href="#" >Success</a></td>
            <td><a class="btn btn-success disabled" href="#" >Success</a></td>
            <td><a class="btn btn-success" href="#" ><i class="icon-ok icon-white"></i> Success</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-success" href="#" >Success</a>
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-warning" href="#" >Warning</a></td>
            <td><a class="btn btn-warning btn-large" href="#" >Warning</a></td>
            <td><a class="btn btn-warning btn-small" href="#" >Warning</a></td>
            <td><a class="btn btn-warning disabled" href="#" >Warning</a></td>
            <td><a class="btn btn-warning" href="#" ><i class="icon-warning-sign icon-white"></i> Warning</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-warning" href="#" >Warning</a>
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
        <tr>
            <td><a class="btn btn-danger" href="#" >Danger</a></td>
            <td><a class="btn btn-danger btn-large" href="#" >Danger</a></td>
            <td><a class="btn btn-danger btn-small" href="#" >Danger</a></td>
            <td><a class="btn btn-danger disabled" href="#" >Danger</a></td>
            <td><a class="btn btn-danger" href="#" ><i class="icon-remove icon-white"></i> Danger</a></td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#" >Danger</a>
                    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#" ><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >Action</a></li>
                        <li><a href="#" >Another action</a></li>
                        <li><a href="#" >Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#" >Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </td>
        </tr>
    </tbody>
</table>
<h2>Formulaires</h2>
horizontale
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <p class="form-control-static">email@example.com</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
    <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
    <div class=columns>
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>
</form>

en ligne
<form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail2">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
en hauteur
<form class="form-horizontal" onsubmit="return false;">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="input01">Text input</label>
            <div class="controls">
                <input type="text" class="input-xlarge trololo" id="input01" >
                <p class="help-block" >In addition to freeform text, any HTML5 text-based input appears like so.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="optionsCheckbox">Checkbox</label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" class="trololo" id="optionsCheckbox" value="option1" >
                    Option one is this and that—be sure to include why it's great
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="select01">Select list</label>
            <div class="controls">
                <select id="select01" class="trololo" >
                    <option>something</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multiSelect">Multicon-select</label>
            <div class="controls">
                <select multiple="multiple" id="multiSelect" class="trololo" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="fileInput">File input</label>
            <div class="controls">
                <input class="input-file" id="fileInput" type="file" >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="textarea">Textarea</label>
            <div class="controls">
                <textarea class="input-xlarge trololo" id="textarea" rows="3" ></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button class="btn" >Cancel</button>
        </div>
    </fieldset>
</form>
<hr />
<span class="label" >default</span>
<span class="label label-success" >success</span>
<span class="label label-warning" >warning</span>
<span class="label label-danger" >danger</span>
<span class="label label-important" >important</span>
<span class="label label-info" >info</span>
<h2>Alerts</h2>

<div class=columns>
    <div class="span12">
        <div class="alert alert-block" >
            <a class="close" >×</a>
            <h4 class="alert-heading" >Alert block</h4>
            <p >Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>
    </div>
</div>

<div class=columns>
    <div class="span4">
        <div class="alert alert-danger" >
            <a class="close" >×</a>
            <strong>Error</strong> Change a few things up and try submitting again.
        </div>
    </div>
    <div class="span4">
        <div class="alert alert-success" >
            <a class="close" >×</a>
            <strong>Success</strong> You successfully read this important alert message.
        </div>
    </div>
    <div class="span4">
        <div class="alert alert-info" >
            <a class="close" >×</a>
            <strong>Information</strong> This alert needs your attention, but it's not super important.
        </div>
    </div>
</div>
<figure>
    <img src="https://meluzine.cipherbliss.com/web/melu/couv_fan/rezine/rezine12.jpg" alt="image d'exemple" />
    <figcaption>figure caption</figcaption>
</figure>

<section id="getPage">
    <button class="btn btn-success getIT" >oh the button</button>
</section>
<footer>
    le footer
</footer>
{% endblock %}
