{% extends 'default/index.html.twig' %}
{% block main %}
<section class='support_section'>
	<h1>Soutenir notre activité</h1>
	<p>
		Nous fournissons des services en lignes nécessitant la location de serveurs et du temps de contribution à des logiciels libres. Ces services seront toujours gratuits, sans pub et sans pistage. Vous pouvez apporter votre pierre à l'édifice en nous soutenant financièrement.
	</p>
	<div class='donations recieved'>
		<a href='https://www.patreon.com/cipherbliss' >{{ asset('img/patreon.png') }}</a >
		<a href='https://www.ko-fi.com/cipherbliss' >{{ asset('img/kofi.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/liberapay.png') }}</a >

	</div>
	<p>
		Grâce à vos dons nous récoltons 200 € par an de soutien, merci à vous!
		Pour défrayer complètement nos serveurs pour ces services nous devrions atteindre 400 €.
	</p>
	<h2>Ceux que nous soutnons</h2>
	<p>
		Cipherbliss donne au total 1200 € par an à ces organismes:
	</p>
	<div class='donations emitted'>
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/projet-arcadie.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/amnesty-international.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/mozilla.jpg') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/wikimedia.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/openstreetmap.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/mastodon.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/laquadrature.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/framasoft.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/mobilizon.png') }}</a >
		<a href='https://www.lierapay.com/cipherbliss' >{{ asset('img/peertube.png') }}</a >
	</div>
</section>

{% endblock %}
