<section class="what-we-do container section">
    <h2 class="title-is-2">Ce que l'on fait</h2>
    <div class="tile is-ancestor">
        <div class="tile is-4">
            <!-- 1/3 -->
        </div>
        <div class="tile">
            <div class="title">Recherche et développement</div>
            <p>
                des choses en rapport avec le web. Principalement de l'ingénierie Front end impliquant du
                Javascript et du SCSS.
            </p>
            <span class="demos">
                            {% include 'part/page-list.html.twig' %}
                     </span>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile">
            <div class="title-is-3">
                Des logiciels libres
            </div>
            <ul>
                <li>
                    <a href="https://www.joinmobilizon.org">
                        Mobilizon
                    </a>
                </li>
            </ul>
        </div>
        <div class="tile">

            <div class="title-is-3">
                Des services hébergés
            </div>
            <ul>
                <li>
                    Instance Mastodon
                </li>
                <li>
                    Instance Peertube
                </li>
            </ul>
        </div>
        <div class="tile">
            <div class="coin-land">
                <div class="title-is-3">
                    Cryptomonnaies
                </div>
                <p>
                    <a href="{{ path('view_page', {page: 'cryptocurrencies'}) }}">
                        Levée de millions d'euros avec des bitcoins et de l'ethereum.
                    </a>
                </p>
            </div>
        </div>

    </div>

    <div class="privacy psot">
        {% include 'Pages/privacy/listing.html.twig' %}
    </div>
    <div class="last-projects post content">
        <h3 class="title-is-3">Derniers projets en date</h3>
        <ul class="columns no-list-style">
            <li class="col-xs-12 col-sm-4 project">
                <a href="https://gitlab.com/tykayn1/fanzine-log">
                    <h4 class="title-is-4">Caisse Bliss</h4>
                    <img src="https://www.cipherbliss.com/wp-content/uploads/2018/09/caisse_bliss_descritpion_open_source_cipherbliss.png"
                            alt="caisse bliss logiciel libre"
                            class="img-responsive"
                    >
                    <p>
                        Un logiciel de caisse open source en ligne
                    </p>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 project">
                <a href="https://gitlab.com/tykayn1/ical-generator">
                    <h4 class="title-is-4">Privacy calendar</h4>

                    <p>

                        un générateur de calendrier pour avoir une idée du nombre hallucinant d'infos que l'on
                        laisse en ligne.
                    </p>
                </a>
                {% include 'Pages/privacy/listing.html.twig' %}
            </li>
            <li class="col-xs-12 col-sm-4 project">
                <a href="https://gitlab.com/tykayn1/time-tracker">
                    <h4 class="title-is-4">TimeTracker online</h4>
                    <p>
                        un projet open source pour vaincre la procrastination. Je le finirai plus tard.
                    </p>
                </a>
            </li>
            <li class="col-xs-12 col-sm-4 project">
                <h4 class="title-is-4">Mythbuster de la vie privée</h4>
                <p>
                    voir sur le blog les articles concernant la vie privée, l'hygiène numérique, pour se défaire
                    du capitalisme de surveillance et du marketting de l'attention.
                </p>
            </li>
            <li>
                <h4 class="title-is-4">les listes c'est la vie.</h4>

            </li>
        </ul>
    </div>
    <div>
        <h2 class="entry-title">Sur Mastodon en live</h2>
        <iframe allowfullscreen sandbox="allow-top-navigation allow-scripts" width="400" height="800"
                src="https://www.mastofeed.com/api/feed?url=https%3A%2F%2Fmamot.fr%2Fusers%2Ftykayn.atom&theme=dark&size=100&header=true&replies=true&boosts=true"></iframe>
    </div>
</section>
<div class="container">
    <section class="post">
        <div class="mobilite-electrique-tesla-zeromotorcycles">
            <h2 class="title-is-2">Ambassadeur de la mobilité électrique</h2>

            <p>

                Quand je ne développe pas de site web je promeus la mobilité durable avec Tesla et Zero motorcycles.
                Ce n'est pas la planète qui est en danger, c'est nous qui sommes dessus. Profitez en pour gagner de
                nouveaux clients en installant gratuitement des bornes de recharge électrique à vos points de vente.
            </p>
        </div>
    </section>
<hr>

<div id="accueil_stuff" class="accueil_stuff">

    <div class="acc row-fluid">

        <div class="acc_txt col-xs-6">
            <article class="">
                <div class="jumbotron well" style=" background: url('{{ asset('bg.jpg') }}')">
                    {#<a href="{{ path('view_page' , { page : 'web'}) }}">#}
                    <img class="img-responsive"
                            {#src="{{  asset('img/commerce_localhost.jpg') }}" #}
                         src="https://www.tykayn.fr/wp-content/uploads/i/2015/11novembre/commerce_localhost.jpg"
                         alt="développez le commerce localhost - baptiste lemoine.">
                    {#I build responsive websites.#}
                    {#</a>#}
                </div>


                {% if news.content is defined %}
                    {% autoescape %}
                        {{ news.content | trans | escape }}
                    {% endautoescape %}
                {% endif %}
            </article>
        </div>
        <div class=" col-xs-6">


            {#<a class="acc_img fadeIn animated" href="{{ path('view_page' , {'page' : 'illustrations'}) }}">
                    <div class=" text-center">
                            <img class=" img-responsive" src="{{ asset('img/portfolio/deco/accueil.png') }}" title="accueil" alt="">
                    </div>
            </a>#}

            <div class="links">


                <div class="clearfix"></div>

                <div>
                    <a class="btn btn-primary btn-large btn-block fa-2x"
                       href="{{ path('view_page', {page: 'web'}) }}">
                        Check out my works
                        <i class="fa  fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="padded-v">
                    <a class="btn btn-primary btn-large btn-block fa-2x"
                       href="{{ path('view_page', {page: 'CV'}) }}">
                        My curriculum - will be available for hire in February 2018
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="padded-v">
                    <a class="link btn btn-default btn-block fa-2x" href="mailto:contact@cipherbliss.com">
                        <i class="fa fa-paper-plane"></i>
                        Say hi! <br>
                        <i>contact
                            <i class="fa fa-gear"></i>
                            cipherbliss.com
                        </i>
                    </a>
                </div>
                <div class=columnspadded-v">
                    <div class="col-xs-12">
                        <h2>French Blogs</h2>
                        <div class=columns>
                            <div class="col-xs-6">
                                <div id="cipherblissland">

                                    <a class="link " href="https://www.cipherbliss.com">
                                        <img width="30px"
                                             src="https://avatars3.githubusercontent.com/u/3931245?s=460&v=4"
                                             alt="tk avatar"> CipherBliss.com tech blog
                                    </a>
                                    <div id="latest-cipherbliss">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div id="tykaynland">

                                    <img src="https://www.tesla.com/tesla_theme/assets/img/referral/referral-product-models@2x.png?20171026"
                                         width="30px"
                                         alt="tesla img">
                                    <a class="link " href="https://tykayn.fr">
                                        Tykayn blog - Tesla model S adventures and drawings
                                    </a>
                                    <div id="latest-tykayn">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="well">
                            Utilisez mon lien de parrainage en faisant un devis ou en commandant une Tesla pour
                            économiser 7000€:
                            <a href="https://ts.la/baptiste1677">https://ts.la/baptiste1677</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h2>Social</h2>
                        <a class=" link" href="https://github.com/tykayn/">
                            <i class="fa fa-github"></i>
                            Github/Tykayn.
                        </a>
                        <a class="link" href="https://twitter.com/tykayn/">
                            <i class="fa fa-twitter"></i>
                            @Tykayn.
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <iframe src="https://www.worldcommunitygrid.org/getDynamicImage.do?memberName=tykayn&mnOn=true&stat=1&imageNum=1&rankOn=false&projectsOn=true&special=true"
                                frameborder="0" name="di" scrolling="no" width="405px" height="190px"></iframe>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class=columns>
        <div class="col-xs-6">

            <div class="padded-v">
                <div class=" alert alert-info text-center">
                    slide on the timeline to see what i did.
                    <i class="fa fa-arrow-circle-down"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-default" href="https://www.cipherbliss.com/yeoman-angular-jeej">
                <img class="img-responsive"
                     width="50%"
                     src="https://blog.grayghostvisuals.com/xS6BUjV1g8vgRT/wp-content/uploads/2015/03/Yeoman.png"
                     alt=""> Custom Yeoman generator angular-jeej
            </a>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
</div>
</div>
<div>
    <div class="columns">
        {#{% include ('part:timeline.html.twig') %}#}
    </div>
</div>
