{% block bigBody %}


    <div class="slider">
        <div class="Modern-Slider content-section" id="top">
            <!-- Item -->
            <div class="item item-1">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>CipherBliss EI<br>Baptiste Lemoine</h1>
                            <p>Ingénierie logicielle depuis 2008<br>
{#                                Please share our site link to your friends.#}
                            </p>
                            <div class="white-button button">
                                <a href="#featured">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-2">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Prestation de service<br>en développement web</h1>
                            <p>Nous réalisons des missions basées sur des outils libres depuis 2008
                                <br>Vous avez un projet? Contactez nous.</p>

                            <div class="white-button button">
                                <a href="#contact">Prendre contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-3">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Membre d'une fédération de professionels<br> la FPOSM</h1>
                            <p>La fédération des pros d'OpenStreetMap en renfort pour faire grandir vos services en ligne.</p>

                            <div class="white-button button">
                                <a href="#featured">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>


    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1>Mes <br><em>Clients</em></h1>
                <p>De la petite association aux services publics
                    <br>en passant par les PME.</p>
            </div>
            <div class="section-content">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_1.jpg" alt="">
                            <div class="featured-button button">
                                <a href="/page/CV">Voir l'historique dans le CV</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>SNCF Réseaux</h4>
                            <span>Projet Open Source Railway Designer</span>
                            <p>
                                Développement de fonctionnalités de cartographie interactive sur un simulateur de trajets en train permettant de nombreux paramètres et une visualisation de données vectorielles riche.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_2.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>la DINUM</h4>
                            <span>Framadate version responsive</span>
                            <p>
                                Développement d'une API et du frontend responsive pour une nouvelle version accessible de Framadate.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_3.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Panoramax</h4>
                            <span>Migration en masse de photographies</span>
                            <p>Récupérer en masse des photographies pour les importer dans le premier géocommun porté par l'IGN, Panoramax.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_2.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>In volutpat augue lectus</h4>
                            <span>Elementum</span>
                            <p>#4 Aliquam mollis lacus eget metus efficitur lobortis. Suspendisse libero lacus, accumsan vitae commodo tristique, luctus gravida metus.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_1.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Cras commodo odio</h4>
                            <span>Aliquam</span>
                            <p>#5 Mauris lacinia pretium libero, ut tincidunt lacus molestie ornare. Phasellus a facilisis erat. Praesent eleifend nibh mauris, quis sodales lorem convallis pulvinar.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_3.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Sed at massa turpis</h4>
                            <span>Curabitur</span>
                            <p>#6 Vestibulum tincidunt ornare ligula vel molestie. Curabitur hendrerit mauris mollis ipsum vulputate rutrum. Phasellus luctus odio eget dui imperdiet.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_2.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Aliquam mollis lacus</h4>
                            <span>Suspendisse</span>
                            <p>#7 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_1.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Mauris lacinia pretium</h4>
                            <span>Vestibulum</span>
                            <p>#8 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="img/featured_3.jpg" alt="">
                            <div class="featured-button button">
                                <a href="#projects">Lire d'avantage</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>Proin sit amet fringilla erat</h4>
                            <span>Convallis</span>
                            <p>#9 Suspendisse suscipit nulla sed nisl fermentum, auctor suscipit nunc rhoncus. Proin faucibus metus diam, nec hendrerit purus pharetra in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects" class="content-section">
            <div class="section-heading">
                <h1>Recent<br><em>Projects</em></h1>
                <p>Développement fullstack, intégration, tests, conversion de données, data visualisation.</p>
            </div>
            <div class="section-content">
                <div class="masonry">
                    <div class="row">
                        <div class="item">
                            <div class="col-md-8">
                                <a href="img/portfolio_big_1.jpg" data-lightbox="image"><img src="img/portfolio_1.jpg" alt="image 1"></a>
                            </div>
                        </div>
                        <div class="item second-item">
                            <div class="col-md-4">
                                <a href="img/portfolio_big_2.jpg" data-lightbox="image"><img src="img/portfolio_2.jpg" alt="image 2"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4">
                                <a href="img/portfolio_big_3.jpg" data-lightbox="image"><img src="img/portfolio_3.jpg" alt="image 3"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4">
                                <a href="img/portfolio_big_4.jpg" data-lightbox="image"><img src="img/portfolio_4.jpg" alt="image 4"></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-8">
                                <a href="img/portfolio_big_5.jpg" data-lightbox="image"><img src="img/portfolio_5.jpg" alt="image 5"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'part/page-list.html.twig' %}
            </div>
        </section>
{#        <section id="video" class="content-section">#}
{#            <div class="row">#}
{#                <div class="col-md-12">#}
{#                    <div class="section-heading">#}
{#                        <h1>Une <em>entreprise individuelle</em> qui oeuvre pour la pérennité.</h1>#}
{#                        <p>#}

{#                        </p>#}
{#                    </div>#}
{#                    <div class="text-content">#}
{#                        <p>#}

{#                        </p>#}
{#                    </div>#}
{#                    <div class="accent-button button">#}
{#                        <a href="https://www.cipherbliss.com">Lire d'avantage</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-12">#}
{#                    <div class="box-video">#}
{#                        <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">#}
{#                            <div class="bt-play">Play</div>#}
{#                        </div>#}
{#                        <div class="video-container">#}
{#                            <iframe width="100%" height="520" src="https://www.youtube.com/embed/j-_7Ub-Zkow?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <section id="blog" class="content-section">
            <div class="section-heading">
                <h1>Actualités sur le <br><em>Blog</em></h1>
                <p>Billets d'humeur et veille technologique autour des outils libres que j'utilise
                    <br>ainsi que des comptes rendus d'évènements.</p>
            </div>
            <div class="section-content">
                <div class="tabs-content">
                    <div class="wrapper">
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Janvier 2025</a></li>
{#                            <li><a href="#tab2">June 2018</a></li>#}
{#                            <li><a href="#tab3">May 2018</a></li>#}
{#                            <li><a href="#tab4">April 2018</a></li>#}
                        </ul>
                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_1.jpg" alt="">
                                            <div class="text-content">
                                                <h4> Julia de l'IGN - Elles font le libre - sotmfr 2024</h4>
                                                <span>30-01-2025</span>
                                                <p>
                                                    Julia Vasnier est stagiaire à l'IGN, elle fait des ponts entre les données de Panoramax, de l'IGN et d'OSM afin de créer une base routable des limites de vitesses en France. Interview réalisée pendant le SOTM 2024 à Lyon.
                                                    </p>

                                                <div class="accent-button button">
                                                    <a href="https://www.cipherbliss.com/2024/julia-de-l'ign-elles-font-le-libre-sotmfr-2024/">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_2.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Jeux de données sur DataGouv</h4>
                                                <span>01-12-2024</span>
                                                <p>
                                                    C'est difficile de publier des données ?
                                                    Pour tester la difficulté de la mise en place de publication de données par les administrations qui manquent 99 fois sur 100 à remplir leurs obligations en matière de publication de données (merci la CADA), j'ai voulu tester moi même.
                                                </p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_3.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Interviews pour Elles font le libre</h4>
                                                <span>15-11-2024</span>
                                                <p>
                                                    ulia Vasnier est stagiaire à l'IGN, elle fait des ponts entre les données de Panoramax, de l'IGN et d'OSM afin de créer une base routable des limites de vitesses en France. Interview réalisée pendant le SOTM 2024 à Lyon.
                                                </p>

                                                <div class="accent-button button">
                                                    <a href="https://www.cipherbliss.com/2024/teaser-des-interviews-elles-font-le-libre/">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_3.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Sed at massa turpis</h4>
                                                <span>30 June 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_1.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Lorem ipsum dolor sit</h4>
                                                <span>24 June 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_2.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Cras commodo odio ut</h4>
                                                <span>12 June 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab3">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_2.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Cras commodo odio ut</h4>
                                                <span>26 May 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_1.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Lorem ipsum dolor sit</h4>
                                                <span>22 May 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_3.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Integer ultrices augue</h4>
                                                <span>8 May 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab4">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_1.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Lorem ipsum dolor sit</h4>
                                                <span>26 April 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_3.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Integer ultrices augue eu</h4>
                                                <span>24 April 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <img src="img/blog_2.jpg" alt="">
                                            <div class="text-content">
                                                <h4>Cras commodo odio ut</h4>
                                                <span>20 April 2018</span>
                                                <p>Nam vel egestas nisi. Nullam lobortis magna at enim venenatis luctus. Nam finibus, mauris eu dictum iaculis, dolor tortor cursus quam, in volutpat augue lectus sed magna. Integer mollis lorem quis ipsum maximus finibus.</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Lire d'avantage</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="content-section">
            <div id="map">

                <!-- How to change your own map point
                       1. Go to Google Maps
                       2. Click on your location point
                       3. Click "Share" and choose "Embed map" tab
                       4. Copy only URL and paste it within the src="" field below
                -->
                <p>
                    Basé en ile de France à Massy Palaiseau. Disponible en télétravail partiel ou complet.
                </p>
                <iframe width="800" height="600" src="https://www.openstreetmap.org/export/embed.html?bbox=2.0846557617187504%2C48.583421128723685%2C2.4691772460937504%2C48.857938768171536&amp;layer=hot&amp;marker=48.720867229358085%2C2.27691650390625" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.7209&amp;mlon=2.2769#map=12/48.7209/2.2769&amp;layers=H">Voir la carte en grand</a></small>
{#                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>#}
            </div>
            <div id="contact-content">
                <div class="section-heading">
                    <h1>Contactez-moi!<br><em>CipherBliss</em></h1>
                    <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum.
                        <br>Phasellus luctus odio eget dui imperdiet.</p>

                </div>
                <div class="section-content">
{#                    <form id="contact" action="#" method="post">#}
{#                        <div class="row">#}
{#                            <div class="col-md-4">#}
{#                                <fieldset>#}
{#                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">#}
{#                                </fieldset>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <fieldset>#}
{#                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">#}
{#                                </fieldset>#}
{#                            </div>#}
{#                            <div class="col-md-4">#}
{#                                <fieldset>#}
{#                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">#}
{#                                </fieldset>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <fieldset>#}
{#                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>#}
{#                                </fieldset>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <fieldset>#}
{#                                   #}
{#                                </fieldset>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
                    <img src="{{ asset('img/undraw_status_update_jjgk.svg') }}" alt="">
                    <br>
                    <br>
                    <div class="accent-button button">

                    <a   href="mailto:contact+portfolio@cipherbliss.com" class="button" type="submit" id="form-submit" class="btn">Écrire à contact@cipherbliss.com</a>
                    </div>

                </div>
            </div>
        </section>
        <section class="footer">
            <p>Copyleft &copy; 2025 CipherBliss EI . Design: TemplateMo</p>
        </section>
    </div>






{% endblock %}
