<div class="accueil">

    <section class="section bg-img bg-baneer-tailor "
            style="background-image: url('{{ asset('img/baneer_taylor_bliss.jpg') }}'); ">
        <div class="hero text-center first-heading bg-shadow is-desktop is-vcentered columns flex-row">
            <h1 class="title">
                Mettez la puissance du web à votre service, la voie est libre.
            </h1>
            <div class="subtitle">
                <p>
                    Avec plus de quinze ans d'expertise avec de grands groupes et des PME, faites grandir votre
                    entrepise avec les avantages des solutions libres sur mesure proposées par Cipher Bliss.
                </p>
            </div>
            <div class="columns">
                    <span class="column">
                        <strong class="title">
                        Formation
                        </strong>
                    </span>
                <div class="column">
                    <strong class="title"> Recherche et développement </strong>
                </div>
                <span class="column">
                        <strong class="title">
                        Protection de la vie privée
                        </strong>
                    </span>
            </div>
            <p>
                Vous avez un projet de refonte de site web, besoin d'un service en ligne pour simplifier la vie à
                votre équipe, d'outils graphiques et libres pour prendre des décisions? <br> Ma secrétaire sexy
                prendra rendez-vous pour un devis gratuit.
            </p>
            <p>
                Contactez-nous au
                <a class="button is-primary" href="tel:06 27 13 08 37">06 27 13 08 37</a>
                ou par email:
                <a class="button is-primary" href="mailto:contact@cipherbliss.com">
                    contact@cipherbliss.com
                </a>
            </p>

            <p>
                Mastodon:
                <a href="https://mastodon.cipherbliss.com/@tykayn">@tykayn@mastodon.cipherbliss.com</a>
                Telegram:
                <a href="https://t.me/tykayn">https://t.me/tykayn</a>

                <span class="siret">
                        Siret : 799 424 163 00027
                        </span>
            </p>
        </div>
    </section>
    <div class="container">

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Cipher Bliss
                    </h1>
                    <h2 class="subtitle">
                        Agence de développement web depuis 2014 en île de France, hacking de blockchain grâce à des
                        recherches en Interlligence Artificielle, déploiement de logiciel libre, sauvegarde de vie
                        privée et éducation au pouvoir de la cryptomonnaie.
                    </h2>
                </div>
            </div>
        </section>

    </div>
    <section class="section actus container">
        <div class="col-xs-6">
            <div class="blog-news post">

                <h2 class="title-is-2">Dernières actualités:</h2>
                <nav class="level">
                    <div class="level-item ">
                        <div>
                            <p class="heading">Cipher Bliss</p>
                            {#                                <p class="title"></p>#}
                            <div class="content">
                                <div id="latest-cipherbliss">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="level-item ">
                        <div>
                            <p class="heading">TyKayn</p>
                            <div id="latest-tykayn"></div>
                            {#                                <p class="title"></p>#}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="text-center">
                <iframe src="https://mamot.fr/@tykayn/100508658390904873/embed" class="mastodon-embed"
                        style="max-width: 100%; border: 0" width="400"></iframe>
                <script src="https://mamot.fr/embed.js" async="async"></script>
            </div>
        </div>
    </section>
    <div class="container">


        <div class="section post testimonies content ">
            <h2 class="title-is-2">Témoignages des clients</h2>

            <div class="columns">
                <div class="column">
                    <article class="message is-light">
                        <div class="message-body">
                            Cipher Bliss nous a fait gagner douze milliards d'euros avec notre site web XKCD en
                            développant des solutions libres en moins d'une année. Ils sont incroyablement
                            efficaces, je recommande chaudement. <cite>- un stickman de Randall Monroe, auteur de
                                XKCD</cite>
                        </div>
                    </article>

                    <article class="message is-light">
                        <div class="message-body">
                            <p>
                                C'est génial! je prends mes affaires
                            </p>
                            <cite> - Link, habitant de la contrée d'Hayroule </cite>
                        </div>
                    </article>
                </div>
                <div class="column">
                    <article class="message is-light">
                        <div class="message-body">
                            <p>
                                La pire chose avec la censure c'est ...
                            </p>
                            <cite> - Edward Snowden,
                                <a href="https://en.wikipedia.org/wiki/Whistleblower">
                                    soufleur de sifflet.
                                </a>
                            </cite>
                        </div>
                    </article>
                    <article class="message is-light">
                        <div class="message-body">
                            <p>
                                Hodor
                            </p>
                            <cite> - Hodor </cite>
                        </div>
                    </article>
                </div>
            </div>


        </div>


    </div>
    <div class="container">
        <div class="contact-us">
            <div class="tile">

                <a href="{{ path('view_page',{page: 'contact'}) }}" class="button is-primary">

                    <h2 class="title is-2 card-header-title">Contactez-nous</h2>
                </a>
                <p class="infos-ouverture">
                    horaires contact téléphone: 8h - 18h
                </p>
                <p class="addresse">
                <h2 class="title is-2">Siège social</h2>
                <address>Briis sous forges</address>
                <h2 class="title is-2">Antennes locales</h2>
                <address>Paris 12e</address>
                <address>Lyon 12e</address>
                <address>Bruxelles 12e</address>
                <address>Palaiseau</address>
                <tel>
                    <a href="tel:06 27 13 08 37">
                        06 27 13 08 37
                    </a>
                </tel>
                siret: 799 424 163 00027</p>
            </div>
        </div>
    </div>
</div>
