{% block body %}
    <div id="accueil_switch">
        <div class="body-wrap boxed-container">
            <main>
                <section id="accueil" class="hero">
                    <div class="container">
                        <div class="columns">
                            <div class="column">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by9">
{#                                            <img#}
{#                                                    src="https://www.cipherbliss.com/wp-content/uploads/2018/04/The-Expert-Short-Comedy-Sketch.jpg"#}
{#                                                    alt="The Experts short movie"#}
{#                                            />#}
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image is-48x48">
{#                                                    <img#}
{#                                                            src="https://mastodon.cipherbliss.com/system/accounts/avatars/000/000/001/static/6388tykayn.png"#}
{#                                                            alt="Placeholder image"#}
{#                                                    />#}
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <p class="title is-4">Baptiste Lemoine</p>
                                                <p class="subtitle is-6">CipherBliss EI</p>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <h1 class="">
                                                Mettez la puissance du web à votre service, la voie est libre.
                                            </h1>
                                            {#                                    <blockquote> #}

                                            Avec plus de quinze ans d'expertise avec de grands groupes et des PME, nous
                                            vous accompagnons
                                            grandir votre entrepise avec les avantages des solutions libres sur mesure
                                            proposées
                                            par Cipher Bliss.
                                            <br>
                                            {#                                        <cite>-Baptiste Lemoine, dirigeant</cite> #}
                                            {#                                    </blockquote> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="has-text-centered is-centered logo-column">

                                    <img src="/images/logo.png" alt="logo rond">
                                    <p class="has-text-centered">

                                        <b class="is-bold">
                                            CipherBliss
                                        </b>
                                        <br>
                                        développement web depuis 2014.
                                    </p>


                                </div>
                            </div>
                        </div>

                        <div class="has-text-centered columns">
                            <div class="column"></div>
                            <div class="column">
                                <div class="nos-clients ">

                                    <a id="cv-link" href="{{ path('view_page' , { 'page' : 'CV'}) }}"
                                       class="{% if page == 'CV' %}
                                is-active
                            {% endif %}">
                                        <h2 class="title is-2">
                                            {% trans %}Nos clients{% endtrans %}
                                        </h2>
                                    </a>

                                    <br> SNCF, la DINUM, Ercom, Samsung, Thalès, Engie, la RATP, Société
                                    Générale CIB,
                                    Backélite, HighCo, Lemonway, LCL, Panoramax
                                </div>
                            </div>
                            <div class="column"></div>

                        </div>
                        <div class="columns">
                            <div class="column">


                                <div class="cta">
                                    <a class="button is-primary is-large p-6 m-6"
                                       href="{{ path('view_page', { page: 'contact' }) }}">
                                        <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i>
                                        Contactez moi</a>
                                    <a class="button is-large p-6 m-6"
                                       href="{{ path('view_page', { page: 'CV' }) }}">
                                        <i class="fa fa-id-card-o fa-2x" aria-hidden="true"></i> Voir mon CV
                                    </a>
                                </div>
                            </div>
                            <div class="column">


                                {#                                        <article class="message"> #}
                                {#                                            <div class="message-header"> #}
                                {#                                                <p>Thème</p> #}

                                {#                                            </div> #}
                                {#                                            <div class="message-body"> #}
                                {#                                                <div class="lights-toggle"> #}
                                {#                                                    <input id="lights-toggle" #}
                                {#                                                           type="checkbox" #}
                                {#                                                           name="lights-toggle" #}
                                {#                                                           class="switch" #}
                                {#                                                           checked="checked"> #}
                                {#                                                    <label for="lights-toggle" #}
                                {#                                                           class="text-xs"> #}
                                {#                                                        <span>Changer le thème <span #}
                                {#                                                                    class="label-text">sombre</span></span> #}
                                {#                                                    </label> #}
                                {#                                                </div> #}
                                {#                                            </div> #}
                                {#                                        </article> #}


                            </div>


                        </div>

                        <div class="member-of">

                            <h2 class="title is-2">Membre de</h2>
                            <img class="icone "
                                 src="https://www.openstreetmap.fr/wp-content/uploads/2024/07/cropped-cropped-cropped-Logo-OSM-2024-e1720618276656.png"
                                 alt="osm fr"> OpenStreetMap France
                            <br>
                            <img class="icone "
                                 src="https://fposm.fr/wp-content/uploads/2022/06/Fond-1.png"
                                 alt="fposm logo"> La fédération des pros d'OSM
                            <br>
                            <img class="icone"
                                 src="https://www.sfen.org/app/uploads/2022/01/logo-SFEN.svg"
                                 alt="SFEN logo">
                            La Société Française de l'Énergie Nucléaire


                        </div>


                        <section class="projets-libres px-6">
                            <h2 class="section-title title has-text-centered is-2 my-6" id="projets">
                                Projets libres
                            </h2>
                            <div class="columns">
                                <div class="column is-6 is-full-mobile">
                                    <h3 class="title has-text-centered is-3 mb-4 mt-6">
                                        <a href="https://libre-charge-map.cipherbliss.com">
                                            <img src="https://libre-charge-map.cipherbliss.com/img/prise-de-courant.png"
                                                 alt="icone lcm" class="icon">
                                            Libre Charge Map</a>

                                    </h3>
                                    <p class="project-description">
                                        Carte collaborative des stations de recharge électrique basées sur les données
                                        d'OpenStreetMap.
                                    </p>
                                    <p>
                                        <a href="https://forge.chapril.org/tykayn/libre-charge-map">
                                            Sources
                                        </a>
                                    </p>
                                </div>
                                <div class="column is-6 is-full-mobile">
                                    <a href="https://libre-charge-map.cipherbliss.com">
                                        <img src="{{ asset('/images/LibreChargeMap - OSM Bliss.png') }}"
                                             alt="carte colorée de libre charge map">
                                    </a>
                                </div>
                            </div>
                            <div class="columns">

                                <div class="column is-6 is-full-mobile">
                                    <img src="https://www.cipherbliss.com/wp-content/uploads/2018/09/caisse_bliss_descritpion_open_source_cipherbliss.png"
                                         alt="capture">
                                </div>
                                <div class="column is-6 is-full-mobile">
                                    <h3 class="title has-text-centered is-3 mb-4 mt-6">
                                        <a href="https://caisse.cipherbliss.com">
                                            <img src="/images/logo-light.svg"
                                                 alt="icone lcm" class="icon">
                                            Caisse Bliss</a>
                                    </h3>
                                    <p class="project-description">
                                        Logiciel de caisse auto hébergeable

                                    <blockquote>


                                        live selling and stock update on phone and desktop,
                                        multi user registration,
                                        managing products, categories,
                                        forecast of expenses,
                                        events,
                                        statistics about earnings,
                                        history of client purchases,
                                        import and export your products and selling history,
                                        have a look at where your expenses go during selling events,
                                        all in a libre software in PHP/JS,

                                    </blockquote>
                                    </p>
                                    <p>
                                        <a href="https://forge.chapril.org/tykayn/caisse-bliss">
                                            Sources
                                        </a>
                                    </p>
                                </div>
                            </div>


                            <div class="columns mt-64">
                                <div class="column is-6 is-full-mobile">
                                    <a href="https://forge.chapril.org/tykayn/wololo">
                                        <img src="{{ asset('/images/Où manger et boire - OSM Bliss.png') }}"
                                             alt="libre charge map, carte colorée">
                                    </a>
                                </div>
                                <div class="column is-6 is-full-mobile">
                                    <h3 class="title has-text-centered is-3">
                                        <a href="https://forge.chapril.org/tykayn/wololo">
                                            <img src="/images/logo-dark.svg"
                                                 alt="icone lcm" class="icon">
                                            Wololo - Mapping OSM Geojson</a>
                                    </h3>
                                    <p class="project-description">
                                        Conversion de données ouvertes en geojson vers des tags OpenStreetMap. Permet la
                                        contribution à OpenStreetMap
                                    </p>
                                    <p>
                                        <a href="https://forge.chapril.org/tykayn/wololo">
                                            Sources
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6 is-full-mobile">
                                    <h3 class="title has-text-centered is-3 mb-4 mt-6">
                                        <a href="https://forge.chapril.org/tykayn/book_generator">
                                            <img src="/images/logo-dark.svg"
                                                 alt="icone lcm" class="icon">
                                            Book Generator</a>

                                    </h3>
                                    <p class="project-description">
                                        Générateur d'informations de suivi autour de la rédaction de livre au format
                                        Orgmode.
                                        Ce générateur permet de créer des dossiers dédiés à la rédaction de livres et
                                        vise une
                                        utilisation avec votre éditeur favori de simples fichiers textes au format
                                        orgmode ou
                                        markdown.

                                        Vos écrits, vos données dans un format simple et libre. Il vous permet de
                                        structurer
                                        votre récit en plusieurs documents, et de récolter des informations sur votre
                                        rédaction
                                        avec quelques scripts python. Les fichiers orgmode générés disposent d'un
                                        identifiant
                                        unique généré aléatoirement afin d'être utilisable avec org-roam et d'autres
                                        gestionnaires de wiki personnels.
                                        Intrigues, Personnages, objectifs de rédaction, décompte de lignes, conversion
                                        en ebook
                                        et pdf avec pandoc.
                                    </p>
                                    <p>
                                        <a href="https://forge.chapril.org/tykayn/book_generator">
                                            Sources
                                        </a>
                                    </p>
                                </div>
                                <div class="column is-6 is-full-mobile">
                                    <a href="https://forge.chapril.org/tykayn/book_generator">
                                        <img src="https://forge.chapril.org/tykayn/book_generator/media/branch/main/graphique_gantt_intrigues.png"
                                             alt="plan des intrigues en barre de temps superposées">
                                    </a>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6 is-full-mobile">
                                    <img src="{{ asset('/images/logo-light.svg') }}"
                                         alt="logo">
                                </div>
                                <div class="column is-6 is-full-mobile">
                                    <h3 class="title has-text-centered is-3 mb-4 mt-6">
                                        <a href="https://libre-charge-map.cipherbliss.com">
                                            <img src="/images/logo-dark.svg"
                                                 alt="icone lcm" class="icon">
                                            Rangement js</a>

                                    </h3>
                                    <p class="project-description">
                                        Outil de nommage de fichiers selon la méthode d'organisation de PhD de Karl Voit
                                        et
                                        leurs informations Exif.
                                        Script qui devine comment renommer des fichiers selon un pattern de date trouve
                                        des
                                        infos exif et prend la plus ancienne pour renseigner le nom de fichier. Inspiré
                                        des
                                        travaux de Karl Voit et de ses libs python GuessFileName, append2name,
                                        move2archive.

                                        Ce script s'utilise selon la méthode de rangement détaillée ici: <a
                                                href="https://www.cipherbliss.com/organiser-ses-fichiers-avec-des-tags-avec-filetags">
                                            Organiser ses fichiers avec des tags et filetags</a>

                                    </p>
                                    <p>
                                        <a href="https://forge.chapril.org/tykayn/rangement">
                                            Sources
                                        </a>
                                    </p>
                                </div>
                            </div>


                        </section>
                        <section class="features section">
                            <div class="container">
                                <div class="features-inner section-inner has-bottom-divider">
                                    <div class="features-header has-text-centered">
                                        <div class="container-sm">


                                            <h2 class="section-title mt-0">
                                                <a class="button is-info" href="https://www.cipherbliss.com">
                                                    <i class="fa fa-newspaper-o fa-2x"></i> Actus sur
                                                    www.cipherbliss.com
                                                </a>
                                            </h2>
                                            <p class="section-paragraph">
                                            <div class="columns">
                                                <div class="column">
                                                    <div id="latest-cipherbliss">

                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div id="latest-tykayn">

                                                    </div>
                                                </div>
                                            </div>

                                            </p>

                                        </div>
                                    </div>
                                    <div class="features-wrap">
                                        <div class="feature is-revealing">
                                            <div class="feature-inner">

                                                <div class="feature-content">
                                                    <h3 class="title is-3 feature-title mt-0">Recherche et
                                                        développement</h3>
                                                    <p class="text-sm mb-0">R&D et amélioration continue de vos sites
                                                        web et
                                                        services en ligne</p>
                                                    <p class="text-sm mb-0">
                                                        Contactez-nous au
                                                        <a href="tel:0627130837">06 27 13 08 37</a>
                                                        ou par email:
                                                        <a href="mailto:contact@cipherbliss.com">
                                                            contact@cipherbliss.com
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="feature is-revealing">
                                            <div class="feature-inner">
                                                <div class="feature-icon">
                                                </div>
                                                <div class="feature-content">
                                                    <h3 class="title is-3 feature-title mt-0">Protection de la vie
                                                        privée et
                                                        démos</h3>
                                                    <p class="text-sm mb-0">
                                                        {% include('part/page-list.html.twig') %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="cta section">
                            <div class="container-sm">
                                <div class="cta-inner section-inner">
                                    <div class="cta-header has-text-centered">
                                        <h2 class="section-title mt-0">Sqlalala</h2>
                                        <p class="section-paragraph">Vous avez un projet de refonte de site web, besoin
                                            d'un
                                            service en ligne pour simplifier la vie à votre équipe, d'outils graphiques
                                            et
                                            libres pour prendre des décisions? <br> Ma secrétaire sexy prendra
                                            rendez-vous pour
                                            un devis gratuit.</p>
                                        <div class="cta-cta">
                                            <a class="button button-primary" href="mailto:contact@cipherbliss.com">Nous
                                                sommes
                                                partis!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </section>
            </main>
        </div>
    </div>
{% endblock %}
