<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>CipherBliss</strong>
            Thème: Bloomers
            <a href="{{ path('view_page' , {'page' : 'contact'} ) }}">
                Baptiste Lemoine
            </a>
            2019. Made since 2008 with Symfony and some time.

            {% include 'part/links.html.twig' %}
        </p>
        <p>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('dashboard') }}">Dashboard</a>
            <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="{{ path('dashboard') }}" class="btn btn-info">Login</a>
        {% endif %}


        </p>
    </div>
</footer>

<div class="container post-main">
    {% block postMain %}
    {% endblock %}
</div>
