<title>{% trans %}CipherBliss.com - Baptiste Lemoine - ingénieur logiciel Freelance{% endtrans %}</title>
{% block stylesheets %}
    <link href="{{ asset('build/app.css') }}" rel="stylesheet"/>
{% endblock %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Lemoine Baptiste"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description"
      content="Le portfolio en ligne de Baptiste Lemoine. CipherBliss, Développeur web freelance spécialisé front-end sur Paris."/>
<meta name="keywords"
      content="développeur web, frond end, paris,graphiste, île de france, illustrateur, dessinateur de BD, portfolio Baptiste Lemoine, portfolio tykayn, dessin érotique, dessin de nu, ESA saint luc, webdesign, php, css, xhtml, portfolio, book, illustrations, dessins, tykayn, tykay, baptiste lemoine, expériences, recherche, bac+3"/>
<meta name="reply-to" content="contact@cipherbliss.com"/><!-- Adresse de contact -->
<meta name="author" content="tykayn / Baptiste Lemoine"/>
<link rel="alternate" type="application/rss+xml" title="Cipher Bliss » Flux" href="https://www.cipherbliss.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Cipher Bliss » Flux des commentaires" href="https://www.cipherbliss.com/comments/feed/">
<meta property="og:title" content="Cipher Bliss">
<meta property="og:locale" content="fr_FR">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png">
<meta property="og:image:width" content="700">
<meta property="og:image:height" content="923">
<meta property="og:url"
      content="https://www.cipherbliss.com/?customize_changeset_uuid=edaf29f5-c64c-4b7a-9a7e-b381cb7c312c&amp;customize_autosaved=on">
<meta property="og:site_name" content="Cipher Bliss">
<meta property="og:description" content="Code, nouvelles technologies et entrepreneurariat par B. Lemoine">
<!-- Description de la page -->
<meta name="description" content="Portfolio, dessins illustrations, CV de Tykayn"/>
<link rel="icon" type="image/png" href="{{ asset('img/portfolio/tpl/clair/rond.png') }}">
