{#<div class="masthead-content text-center">#}


{#    <a href="https://portfolio.cipherbliss.com/" class="custom-logo-link" rel="home" itemprop="url">#}
{#        <img#}
{#                src="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" class="custom-logo"#}
{#                alt="Cipher Bliss" itemprop="logo" width="100" >#}
{#    </a>#}
{#    <h1 class="site-title">#}
{#        <a href="https://portfolio.cipherbliss.com/" title="Cipher Bliss" rel="home">Cipher Bliss | Portfolio</a>#}
{#    </h1>#}
{#    <p class="site-description">Code, nouvelles technologies et entrepreneurariat par B. Lemoine</p>#}

{#</div>#}
