<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('accueil') }}">
            <img src="/images/logo.png" alt="logo">

        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ path('accueil') }}"
               class="navbar-item {% if page == 'accueil' %}
                                is-active
                            {% endif %}">
                <i class="fa fa-home"></i>
                Accueil
            </a>
            <a id="cv" href="{{ path('view_page' , { 'page' : 'CV'}) }}"
               class="navbar-item {% if page == 'CV' %}
                                is-active
                            {% endif %}">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                {% trans %}CV{% endtrans %}
            </a>
            <a href="https://www.cipherbliss.com"
               class="navbar-item {% if page == 'actus' %}
                                is-active
                            {% endif %}">
                <i class="fa fa-newspaper-o"></i>
                Actus
            </a>
            <div class="navbar-item ">
                <a class="navbar-item" href="/#projets"  >
                    <i class="fa fa-code-fork" aria-hidden="true"></i>
                    Projets
                </a>
            </div>
        </div>
        <div class="navbar-end">


            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{ path('view_page', {page: 'contact'}) }}">contact</a>
                </div>
            </div>
        </div>
</nav>

{# <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation"> #}
{#    <div class="navbar-brand"> #}
{#        <a class="navbar-item" href="https://portfolio.cipherbliss.com"> #}
{#            <img src="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" class="img-fluid"/> #}
{#        </a> #}

{#    </div> #}

{#    <div id="navbarBasicExample" class="navbar-menu"> #}


{#        </div> #}

{#        <div class="navbar-end"> #}
{#            <div class="navbar-item"> #}
{#                <form role="search" method="get" class="search-form" action="https://www.cipherbliss.com/"> #}
{#                    <label> #}
{#                        <input class="search-field" placeholder="Recherche" value="" name="s" type="search"> #}
{#                    </label> #}
{#                    <input class="is-hidden search-submit" value="{% trans %}Rechercher{% endtrans %}" type="submit"> #}
{#                </form> #}
{#            </div> #}
{#            <div class="navbar-item"> #}
{#                <div class="buttons"> #}
{#                    <a id="ressources" #}
{#                            class="button is-primary {% if page == 'contact' %} #}
{#                            is-active #}
{#                    {% endif %}" #}
{#                            href="{{ path('view_page' , { 'page' : 'contact'}) }}"> #}
{#                        <strong>{% trans %}Contact{% endtrans %}</strong> #}
{#                    </a> #}
{#                    <a class="button is-transparent" href="tel:0627130837"> #}
{#                        Portable #}
{#                    </a> #}
{#                </div> #}
{#            </div> #}
{#        </div> #}
{#    </div> #}
{# </nav> #}
{# #}

{# <div id="navbar"> #}
{#    <nav id="site-navigation" class="navbar is-fixed-top  is-primary" role="navigation"> #}
{#        <div class="tabs is-full"> #}
{#            <ul id="menu-navigation" class="nav-menu"> #}
{#                <li> #}
{#                    <a href="{{ path('accueil') }}" class="{% if page == 'accueil' %} #}
{#                                is-active #}
{#                            {% endif %}"> #}
{#                        <i class="fa fa-home"></i> Accueil #}
{#                    </a> #}
{#                </li> #}
{#                <li> #}
{#                    <div class="dropdown"> #}
{#                        <div class="dropdown-trigger is-hoverable"> #}

{#                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu"> #}
{#                                <span>Services</span> #}
{#                                <span class="icon is-small"> #}
{#        <i class="fas fa-angle-down" aria-hidden="true"></i> #}
{#      </span> #}
{#                            </button> #}
{#                        </div> #}
{#                        <div class="dropdown-menu" id="dropdown-menu" role="menu"> #}
{#                            <div class="dropdown-content"> #}
{#                                <a href="https://mastodon.cipherbliss.com" class="dropdown-item"> #}
{#                                    <strong> #}

{#                                        Mastodon Bliss </strong> #}
{#                                    <p> #}
{#                                        Média social fédéré généraliste #}
{#                                    </p> #}
{#                                </a> #}
{#                                <a class="dropdown-item"> #}
{#                                    <strong> Caisse Bliss </strong> #}
{#                                    <p> #}
{#                                        Compta en ligne pour petits artisans #}
{#                                    </p> #}
{#                                </a> #}
{#                            </div> #}
{#                        </div> #}
{#                    </div> #}
{#                </li> #}


{#                <li id="menu-item-703" class="703"> #}
{#                    <a #}
{#                            href="https://www.cipherbliss.com">Blog #}
{#                    </a> #}
{#                </li> #}
{#                <li id="menu-item-768" class="768"> #}
{#                    <a #}
{#                            href="https://www.cipherbliss.com/feed/">Flux RSS #}
{#                    </a> #}
{#                </li> #}
{#                <li> #}

{#                    <div class="dropdown"> #}
{#                        <div class="dropdown-trigger"> #}
{#                            R & D #}
{#                        </div> #}
{#                        <div class="dropdown-content"> #}
{#                            <a class="dropdown-item" #}
{#                                    id="web" #}
{#                                    href="{{ path('view_page' , { 'page' : 'web'}) }}"> #}
{#                                <i class="fa-map-o fa"></i> #}
{#                                {% trans %}Works{% endtrans %} #}
{#                            </a> #}
{#                            <a #}
{#                                    class="dropdown-item" #}
{#                                    href={{ path('view_page', {page: 'cryptomonnaies'}) }}>CryptoMonnaies #}
{#                            </a> #}
{#                            <a #}
{#                                    class="dropdown-item" #}
{#                                    id="ressources" #}
{#                                    href="{{ path('view_page' , { 'page' : 'liens'}) }}"> #}
{#                                {% trans %}Ressources{% endtrans %} #}
{#                            </a> #}
{#                        </div> #}
{#                    </div> #}
{#                </li> #}
{#                <li> #}
{#                    <a id="cv" href="{{ path('view_page' , { 'page' : 'CV'}) }}" #}
{#                            class="{% if page == 'CV' %} #}
{#                                is-active #}
{#                            {% endif %}"> #}
{#                        {% trans %}CV{% endtrans %} #}
{#                    </a> #}
{#                </li> #}

{#                <li id="menu-item-703" class="703"> #}
{#                    <a #}
{#                            class="{% if page == 'privacy-tools' %} #}
{#                            is-active #}
{#                    {% endif %}" #}
{#                            href={{ path('view_page', {page: 'privacy-tools'}) }}>Vie privée #}
{#                    </a> #}
{#                </li> #}

{#                <li> #}
{#                    <a id="ressources" #}
{#                            class="{% if page == 'contact' %} #}
{#                            is-active #}
{#                    {% endif %}" #}
{#                            href="{{ path('view_page' , { 'page' : 'contact'}) }}"> #}
{#                        {% trans %}Contact{% endtrans %} #}
{#                    </a> #}
{#                </li> #}
{#                <li> #}
{#                    <form role="search" method="get" class="search-form" action="https://www.cipherbliss.com/"> #}
{#                        <label> #}
{#                            <input class="search-field" placeholder="Recherche" value="" name="s" type="search"> #}
{#                        </label> #}
{#                        <input class="search-submit" value="{% trans %}Rechercher{% endtrans %}" type="submit"> #}
{#                    </form> #}
{#                </li> #}
{#            </ul> #}
{#        </div> #}

{#    </nav><!-- #site-navigation --> #}
{# </div> #}
{# #}

