<ul class="footer-social-links list-reset">
    <li>
        <a class="pull-right column is-6" href="https://mastodon.cipherbliss.com/@tykayn/">
            Tykayn
            <i class="fa fa-mastodon"></i>

        </a>
    </li>
</ul>
<ul class="links-list footer-links list-reset">
    <li>
        <a id="cv" href="{{ path('view_page' , { 'page' : 'CV'}) }}"
                class="{% if page == 'CV' %}
                                is-active
                            {% endif %}">
            {% trans %}CV{% endtrans %}
        </a>
    </li>
    <li>
        <a class="" href="https://framagit.org/tykayn/">
            <i class="fa fa-github fa-2x"></i>
            Framagit
        </a>
    </li>
    <li>
        <a href="https://t.me/tykayn" title="telegram">
            <i class="fa fa-telegram fa-2x"></i>
            Telegram
        </a>
    </li>
    <li>
        <a href="mailto:contact@cipherbliss.com">
            <i class="fa fa-phone fa-2x"></i>
            Contact
        </a>
    </li>
    <li>
        <a href="{{ path('view_page' , { 'page' : 'confidentialité'}) }}">Confidentialité</a>
    </li>

</ul>
