<div class="interactive-links">
    {#<div class=columns>#}
    {#Share this page!#}
    {#{% include('part/share.html.twig') %}#}
    {#</div>#}
    <div class="container">
        <h2>
            Autres pages interactives:
        </h2>
        <div class="content columns">
            <div class="column is-6">

                {% include 'part/page-list.html.twig' %}
            </div>
            <div class="column is-6">

                {% include 'part/soutien.html.twig' %}
            </div>
        </div>
    </div>
</div>
