<div id="page-list">
        <a href="{{ path('view_page' , { page : 'mastodon-template'}) }}">Thème Mastodon</a>
    
        <a href="{{ path('view_page' , { page : 'teacher-game'}) }}">Jeu de l'enseignant</a>
    
        <a href="{{ path('view_page' , { page : 'circles'}) }}">Cercles CSS à diviser</a>
    
        <a href="{{ path('view_page' , { page : 'salaire'}) }}">Salaire équivalent</a>
    
        <a href="{{ path('view_page' , { page : '24hbd'}) }}">24hBD chrono</a>
    
        <a href="{{ path('view_page' , { page : 'dettes'}) }}">Dettes entre amis</a>
    
        <a href="{{ path('view_page' , { page : 'note'}) }}">Block note local</a>
    
        <a href="{{ path('view_page' , { page : 'math-resolver'}) }}">Math resolver</a>
    
        <a href="{{ path('view_page' , { page : 'devin'}) }}">Jeu du prédicateur</a>
    
        <a href="{{ path('view_page' , { page : 'dates-de-vie'}) }}">Dates de vie</a>
    
        <a href="{{ path('view_page' , { page : 'impots'}) }}">Impôts en proportion</a>
    
        <a href="{{ path('view_page' , { page : 'calcul-retard-de-paiement'}) }}">Calcul de retard de paiement sur facture</a>
    
        <a href="{{ path('view_page' , { page : 'entreprise'}) }}">Structures d'entreprise</a>
    
        <a href="{{ path('view_page' , { page : 'phrase'}) }}">Phrase de drague JS</a>
    
        <a href="{{ path('view_page' , { page : 'web'}) }}">Démos web</a>
    
        <a href="{{ path('view_page' , { page : 'bni'}) }}">Compteur de temps BNI</a>
    
        <a href="{{ path('view_page' , { page : 'personnages-random-kamasutra'}) }}">Personnages générés</a>

        <a href="{{ path('view_page' , { page : 'free_DL'}) }}">Ressources à télécharger</a>

</div>
