{# Created by tykayn on 27/03/15 #}
{#{% set currentPath = path(app.request.attributes.get('_route'),#}
{#app.request.attributes.get('_route_params')) %}#}

{#<div class="container">#}

{#    <div class="well text-center">#}
{#        partagez cette page: https://portfolio.cipherbliss.com{{ currentPath }}#}
{#    </div>#}
{#</div>#}
