{% extends "TykaynPortfolioBundle:Pages:dashboard.html.twig" %}
            {% block main %}
<h1>
    CRUD land, bienvenue
</h1>
Les propriétés des objets doivent être publiques pour êtres rendues ici.
<div class="well row-fluid">
    <div class="column is-6">
        Objet: {{ objName }}
    </div>
    <div class="column is-6">
        Action: {{ action }}
    </div>

</div>    <hr />
{% if action == 'read' %}

(ici formulaire d'ajout)

{{ obj |length}} objets
    {% for o in obj %}
    <div class="well span5">
        <a class="btn btn-danger pull-right" href="{{ path('crud' , { action : 'delete' , restrict : o.id } )}}" >
        x<b class="icon icon-trash"></b></a>
        <ul class="unstyled ">
            {% for prop, value in o %}
            <li>
                <div class="span2"><strong >{{ prop }}</strong></div>
                <div class="span10">: {{ value }}</div>


            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endif %}


<style >

    [class^="icon-"], [class*=" icon-"] {
background-image: url("img/glyphicons-halflings.png") !important;
    }
</style>
            {% endblock main %}
