<h1>Portfolio\Medias creation</h1>

<form action="{{ path('crud_create' , { obj : 'medias' }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('crud') }}">
            Back to the list
        </a>
    </li>
</ul>
