#accueil{
  .hero-inner{
    min-height:     100vh;
  }
  .content{
    max-width: 80ch;
  }
  .member-of{
    img{
      display: inline-block;
      width: 10rem !important;
      height: 10rem !important;
      margin-right: 5rem;
    }
  }
  .logo-column{
    margin-top: 14rem;
    img{
      margin-bottom: 2rem;
    }
  }
  .nos-clients{
    max-width: 40ch;
    padding-top: 33vh;
    padding-bottom: 33vh;
  }
}