#page-list{
  a {
    margin: 2rem;

    font-weight: 600;
    color: #fff;
    //text-transform: capitalize;
    background-color: #45489a;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0px 25px;
    letter-spacing: 0.25px;
    text-decoration: none;
    transition: all 0.3s;
  }
}