@import 'variables';

body {
  font-family: $fonts !important;
  background: #ccc;
}
.boxed-container{
  max-width: 70rem;
  margin: 4rem auto;
  border-radius: 0.5rem;
}

#content {
  min-height: 85vh;
  padding-top: 2rem;
}

#accueil_switch,
.boxed-container {
  background: $clair !important;
}

#masthead {
  background: $bgcolor !important;
  color: $white;
}


ul {
  margin: 0.5em;
  display: block;
}

.ccc-widget {
  width: 400px;
  display: inline-block;
  float: left;
}

.resume-cryptomonnaies {
  margin: 0 auto;
  display: block;
  width: 600px;
}

.graphs {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cryptocurrencies {
  margin-bottom: 5em;
}

.well {
  background: $grey;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;

  .site-info & {
    background: transparent;
  }

  a {
    // @extend .button, .is-primary;
  }
}

#accueil {
  margin-top: 5em;
  padding: 5em 2rem 2rem;

}

.entry-content {
  background: white;
}

#main {
  padding-bottom: 10em;
}