.projets-libres{
  .columns{
    margin-top: 4rem;
  }
  .column{
    min-height: 40vh;
  }
  .title{
     margin-bottom: 4em;
   }
  a{
    display: block;
  }
  .project-description{

  }
}

.feature-content {
  a.button {
    padding: 0.5em !important;
  }
}
.interactive-links{
  margin-top: 5rem;
  border-top: 1px solid #ccc;
}
.navbar-item {
  padding-right: 2rem;
  min-width: 10rem;
  &.is-active{
    background: $primary;
  }
  .search-submit {
    line-height: 1.8em;
    margin-left: -6px;
  }
}

.bottom-of-post {
  font-size: 0.85rem;
  li {
    display: block;
    word-wrap: break-word !important;
  }
}
