$bgcolor : #E9EDF3;
$rose : #ffe8e8;
$bleu: #4a6390;
$grey: #dedede;
$dark: #111;
$bleu_f: #203f76;
$noir: #02023d;
$clair: #eee;
$white: #fff;
$fonts: 'Heebo', 'IBM Plex Sans', Raleway, Calibri, Arial, sans-serif;
$fonts_title: 'IBM Plex Sans', 'Heebo', Raleway, Calibri, Arial, sans-serif;

$primary: $bleu_f;
$secondary: $bleu;
