<!DOCTYPE html>
<html class="has-navbar-fixed-top no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ asset('img/baneer_taylor_bliss.jpg') }}">
    <meta name="twitter:image" content="{{ asset('img/baneer_taylor_bliss.jpg') }}">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:description" content="Code, nouvelles technologies et entrepreneurariat par Baptiste Lemoine">
    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
    <meta property="og:url" content="https://portfolio.cipherbliss.com{{ currentPath }}">
    <meta property="og:site_name" content="Cipher Bliss">
    <link rel="alternate" type="application/rss+xml" title="Cipher Bliss » Flux"
          href="https://www.cipherbliss.com/feed/">
    <link rel="stylesheet" href="https://mastodon.cipherbliss.com/@tykayn" rel="me">
    <link rel="stylesheet" href="https://cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://www.cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://portfolio.cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://twitter.com/@tykayn" rel="me">
    <link rel="author" href="https://github.com/tykayn" rel="me">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
{#    <link rel="stylesheet" href="https://www.cipherbliss.com/style.css">#}
    <link rel="icon" href="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" sizes="32x32">
    <link rel="icon" href="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" sizes="192x192">
    <meta name="msapplication-TileImage" content="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png">
    <title>{% block title %}Cipher Bliss - Baptiste Lemoine - ingénieur site web freelance{% endblock %}</title>

    {% include 'default/head.html.twig' %}
    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        <!-- built js -->
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>

{% block masterhead %}
<header id="masthead" class="site-header">
    {% include 'default/masthead.html.twig' %}
    {% endblock masterhead %}
    {% block main_menu %}
        {% include 'default/nav.html.twig' %}
    {% endblock %}
    {% block sub_menu %}

    {% endblock %}
</header>

<body id="page"
      class="is-boxed has-animations dark-mode">
{% block bigBody %}

    <div class="body-wrap boxed-container">
        {% block body %}
            <main id="main" class="container">
                {% block main %}{% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block preFooter %}
    {% endblock %}
{% endblock %}
<footer class="site-footer has-background-black p-6">
    <div class="container">
        <div class="site-footer-inner">

            {% block footer %}{% endblock %}
            {% block jsMore %}{% endblock %}
            {% include 'part/share.html.twig' %}

            <div class="brand footer-brand">
                <a href="#">
                    <img class="logo" src="images/logo.png" alt="Logo"> CipherBliss EI.
                </a>
            </div>
            {% include 'part/links.html.twig' %}
        </div>
    </div>
</footer>
</body>
</html>
