{% set currentPath = path(app.request.attributes.get('_route'),         app.request.attributes.get('_route_params')) %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ asset('img/baneer_taylor_bliss.jpg') }}">
    <meta name="twitter:image" content="{{ asset('img/baneer_taylor_bliss.jpg') }}">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:description" content="Code, nouvelles technologies et entrepreneurariat par Baptiste Lemoine">
    <meta property="og:url" content="https://portfolio.cipherbliss.com{{ currentPath }}">
    <meta property="og:site_name" content="Cipher Bliss">
    <link rel="alternate" type="application/rss+xml" title="Cipher Bliss » Flux"
          href="https://www.cipherbliss.com/feed/">
    <link rel="stylesheet" href="https://mastodon.cipherbliss.com/@tykayn" rel="me">
    <link rel="stylesheet" href="https://cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://www.cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://portfolio.cipherbliss.com" rel="me">
    <link rel="stylesheet" href="https://twitter.com/@tykayn" rel="me">
    <link rel="author" href="https://github.com/tykayn" rel="me">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="https://www.cipherbliss.com/style.css">#}
    <link rel="icon" href="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" sizes="32x32">
    <link rel="icon" href="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png" sizes="192x192">
    <meta name="msapplication-TileImage" content="https://www.cipherbliss.com/wp-content/uploads/2016/12/rond.png">
    <title>{% block title %}Cipher Bliss - Baptiste Lemoine - ingénieur site web freelance{% endblock %}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/fontAwesome.css">
    <link rel="stylesheet" href="/css/light-box.css">
    <link rel="stylesheet" href="/css/owl-carousel.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>
    {#    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>#}
    <style type="text/css">
        .part:first-letter {
            text-transform: uppercase;
        }

        .result {
            font-size: 2em;
            display: inline-block;
            color: green;
        }

        .part {
            transition: all ease 0.5s;
            padding: 0.5em;
        }

        .some-dates .part:hover {
            background: #ccc;
            color: #fff;
            transition: all ease 0.5s;
        }
    </style>
    {% include 'default/head.html.twig' %}
    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        <!-- built js -->
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>

{% block masterhead %}
<header id="masthead" class="site-header">
    {% include 'default/masthead.html.twig' %}
    {% endblock masterhead %}
    {% block main_menu %}
        {% include 'default/nav.html.twig' %}
    {% endblock %}
    {% block sub_menu %}

    {% endblock %}
</header>

<body id="page"
      class="is-boxed has-animations">
<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="/#top">Accueil</a></li>
{#                <li><a href="/#featured">Featured</a></li>#}
{#                <li><a href="/#video">Presentation</a></li>#}
                <li><a href="/#blog">Actualités</a></li>
                <li><a href="/#projects">Recent Projects</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="sidebar-navigation hidde-sm hidden-xs">
    <div class="logo">
        <a href="/#">Baptiste <em>Lemoine</em></a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/#top">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Accueil
                </a>
            </li>
            <li>
                <a href="/#featured">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Clients
                </a>
            </li>
            <li>
                <a href="/#projects">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Travaux récents
                </a>
            </li>
{#            <li>#}
{#                <a href="/#video">#}
{#                    <span class="rect"></span>#}
{#                    <span class="circle"></span>#}
{#                    Presentation#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="/#blog">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Blog
                </a>
            </li>
            <li>
                <a href="/#contact">
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Contact
                </a>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
{#        <li><a href="/#"><i class="fa fa-facebook"></i></a></li>#}
{#        <li><a href="/#"><i class="fa fa-twitter"></i></a></li>#}
{#        <li><a href="/#"><i class="fa fa-linkedin"></i></a></li>#}
{#        <li><a href="/#"><i class="fa fa-rss"></i></a></li>#}
        <li><a href="https://mastodon.cipherbliss.com"><i class="fa fa-mastodon"></i></a></li>
    </ul>
</div>

{% block bigBody %}

    <div class="body-wrap boxed-container ">
        {% block body %}
            <main id="main" class="container page-content">
                {% block main %}{% endblock %}
            </main>
        {% endblock %}
    </div>

    {% block preFooter %}
    {% endblock %}
{% endblock %}
<footer class="site-footer has-background-black p-6">
    <div class="container">
        <div class="site-footer-inner">

            {% block footer %}{% endblock %}
            {% block jsMore %}{% endblock %}
{#            {% include 'part/share.html.twig' %}#}

{#            <div class="brand footer-brand">#}
{#                <a href="/#">#}
{#                    <img class="logo" src="images/logo.png" alt="Logo"> CipherBliss EI.#}
{#                </a>#}
{#            </div>#}
{#            {% include 'part/links.html.twig' %}#}
        </div>
    </div>
</footer>
</body>
</html>
