{% extends "TykaynPortfolioBundle:default:index.html.twig" %}
{% block main %}
<h1 class="well">
    <img width="30px" class="logo" src="{{ asset('img/portfolio/medias/apps/random-picture/icon_random_picture.png')}}" alt="Télécharger" />Random picture <img src="{{ asset(randompic.0) }}/{{randompic.3}}"/ alt="image aléatoire" />
</h1>


<div class="columns">
<div class="column is-8 offset2">
    Après avoir téléchargé la fonction, Renommez le .txt en .php et mettez le dans le dossier hébergé avec les images que vous voulez afficher au hasard.
<br/>
<a class="btn" href="{{ asset('img/portfolio/medias/apps/random-picture/random_picture.txt')}}">
    <img width="30px" class="logo icon" src="{{ asset('img/portfolio/deco/')}}dl.png" alt="Télécharger" />
    Télécharger Random_picture.
</a><br/>
 <h3>Mode d'emploi:</h3>
Pour pouvoir utiliser la fonction d'image aléatoire il vous faut l'inclure en php.<br/>
<code><?php <br/>
    include('random_picture.php');<br/>
    make_random_pic(); <br/>
    ?>
</code>
    <h3>Dossier scanné:</h3>
{{ randompic.0 }}<br/>
<div class="columns">
    <div class="span7">
        <h3>Tableau d'images:</h3>
{{ dump(randompic.1) }}
    </div>
    <div class="span5">
        <h3>Rendu de trois fonctions <i>make_random_pic()</i>:</h3>
        <img class="random_picture" src="{{ asset(randompic.0) }}/{{randompic.2}}" />
        <img class="random_picture" src="{{ asset(randompic.0) }}/{{randompic.3}}" />
        <img class="random_picture" src="{{ asset(randompic.0) }}/{{randompic.4}}" />
    </div>
</div>
    <h2>Choisir le dossier</h2>
Vous pouvez prendre une image au hasard dans un sous dossier en donnant son chemin en argument<br/>
<code>< ?php <br/>make_random_pic("sous_dossier/");<br/>
    ? ></code><br/>
Ceci permet de ne pas avoir besoin de copier le script dans plusieurs dossiers.<br/>
<h2>En cas d'erreur</h2>
Si vous n'avez pas d'image dans le dossier où cherche le script il vous écrira ceci:
<strong>(pas d'image dans ce dossier)</strong>
<h2>Style des images aléatoires</h2>
chaque image est retournée avec une classe "<i>random_picture</i>" que vous pouvez personnaliser en css.
{% include 'TykaynPortfolioBundle:Apps:apps.html.twig'%}
<script src="{{ asset('js/prettify.js') }}" type="text/javascript"></script>
            <link href="{{ asset('@TykaynPortfolioBundle/Resources/public/css/help-timeline.css')}}" type="text/css">

            <script type="text/javascript">
                prettyprint();
                $(document).ready(function() {
                    if (prettyPrint() !== undefined) {
                        $('code, textarea').addClass('prettyprint linenums');
                        $('.prettyprint').prettyPrint();
                    }
                });

                </script>
</div>

{% endblock %}
