{% extends "TykaynPortfolioBundle:default:index.html.twig" %}


{% block main %}
<link rel="stylesheet" href="{{ asset('TykaynPortfolioBundle/Resources/public/css/style_angular.css') }}">
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/lib/angular/angular.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/controllers.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/directives.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/filters.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/services.js') }}"></script>
<script type="text/javascript" src="{{ asset('TykaynPortfolioBundle/Resources/public/js/angular/main.js') }}"></script>

{% verbatim %}
<div id="choisir" class="ng-app">
    <div>
        Sélectionnez votre profil pour comparer combien de temps mettrait telle célébrité à gagner de quoi se payer un de ces couteux objets.
    </div>
        
    <fieldset>
			<h2>Choisissez votre profil</h2>
			<select id="choix" ng-model="profil">
				<option value="{{ brutannuel / 12 }}" selected='selected'>Votre profil perso {{brutannuel / 12 |number:0 }} € brut / mois</option>
				<option value="1430.22">SMIC 1 430,22 € / mois</option>
				<option value="231000">Hugh Laurie 231 000 € / mois</option>
				<option value="477239">Bill Gates 477 239 € / mois</option>
				<option value="50916.69">Barack Obama 50 916,69 € / mois</option>
				<option value="30387">François Hollande 30 387 € / mois</option>
				<option value="5400">député 5 400,00 € / mois</option>
				<option value="10000">Laure Manaudou 10 000 € / mois</option>
				<option value="1380000">Zazie 1 380 000 € / mois</option>
				<option value="112500">Jean Dujardin 112500 € / mois</option>
				<option value="54000">Nikos Aliagas 54000 € / mois</option>
				<option value="40000">Laurent Ruquier 40000 € / mois</option>
				<option value="3280000">Mylène Farmer 3280000 € / mois</option>
			 </select>
            <br/><abbr title="net calculé en prenant 77% du brut">Salaire net annuel :</abbr>{{ profil*12*0.77 | number:2 }}€<br>
            {{ millions(profil) }}
			</fieldset>
		<fieldset>
			<h2>Quelques objets de luxe:</h2>
			<select id="objets" ng-model="objets">
				
				<option value="20">Une sortie en bar uppé 20€</option>
				<option value="669">(téléphone portable) Galaxy S 3. 669€</option>
				<option value="1900">Vélo électrique awesome 1900€</option>
				<option value="25000000">(train) Une rame de 500 places de TGV Duplex. 25 M€</option>
                <option value="19000000">(train) Une rame Thalys de 377 places. 19 M€</option>
				<option value="32000000">(train) Une rame Eurostar de 794 places. 32 M€</option>
				<option value="15000">(voiture) Smart. 15 k€</option>
				<option value="320000000">(pont) viaduc de Millau. 320 M€</option>
				<option value="80000">(vélo) The Aurumania Gold Bike Crystal edition</option>
				<option value="38000">(whiskey) The Macallan Fine and Rare Collection, 1926, 60 Years Old</option>
				<option value="700">(bière) Vieille Bon Secours ale, bouteille de 12L 8°</option>
				<option value="30500">Suite royale à l'hôtel Grand Resort Lagonissi d'Athènes</option>
				<option value="390000000">La Villa sprawling Leopolda en Cote d’Azur</option>
				<option value="1200000">Bugatti Veyron , Wolksvagen</option>
				<option value="1200000">livre: "Die Aufgabe" ("la Tâche") par Tomas Alexander Hartmann. 13 pages.</option>
				
			</select>
            <br/>valeur de l'objet: {{ objets | number:0 }}€<br/>
			C'est à dire: <em>{{ calcul( objets, brutannuel )}}</em> de salaire net pour vous<br/>
            et  <em>{{ calcul(objets, (profil*12) )}}</em> de salaire net pour le profil sélectionné.<br/>
            
            Pour le profil sélectionné, c'est envisageable en l'an {{ futur }}.<br/>
			</fieldset>
	<fieldset id="prixobjet">
        <h2>Estimation</h2>
        Vous avez envie de vous acheter un truc qui va vous coûter :
<input  ng-model="prixObjet" type="number" size="5">
euros.
<br>
<strong>Mais cela vaut il vraiment <em>{{ calcul(prixObjet, brutannuel )}}</em> de <abbr title="En partant d'une base de 151heures par mois, et d'un salaire de {{ brutannuel }} € bruts annuels">votre temps de travail</abbr> ?<br></strong>
Une heure vaut:<br/>
{{(brutannuel / 12 * 0.77)/151 |number:2}}€ net
<br/> {{(brutannuel / 12)/151 |number:2}}€ brut.
</fieldset>
		
</div>

<fieldset id="profilperso">
    <h2>Votre brut annuel</h2>
            <input type="number" ng-model=" brutannuel ">
             <br/>
            {{ brutannuel }}  €<br/>
            mensuel: {{ brutannuel / 12 | number:2}} €<br/>
            net annuel: {{ brutannuel * 0.77  | number:2}} €<br/>
            net mensuel: {{ brutannuel / 12 * 0.77  | number:2 }} €<br/>
            
            <br/>
            eh oui jammy!
            </fieldset>
{% endverbatim %}

{% endblock %}