{% extends "TykaynPortfolioBundle:default:index.html.twig" %}
{% block stylesheets %}
        {% stylesheets
                
                filter='cssrewrite' %}
    {{ parent() }}

<link href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" type="text/css">
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('textarea, code').prettyPrint();
        
        
    });
    </script>
    {{ parent() }}

{% endblock %}



{% block main %}
    
    Si vous avez des améliorations de ce script à me proposer, envoyez les moi à contact@cipherbliss.com<br/><br/>
    <a href="function_timeline.zip">
        <img alt="télécharger l'application random picture" src="https://cipherbliss.com/decoration/dl.png"/>
        Télécharger la classe php</a>
    <br/>
{% endblock %}