{% extends "TykaynPortfolioBundle:default:index.html.twig" %}
{% block main %}
<div class="{{ name }}">



        <div class="well row-fluid">
            <img class="random_picture hero-unit span4" src="
{{ asset('img/portfolio/tpl/clair/heures/') }}{{ timeshow.0 }}" title="{{ timeshow.0 }}" alt="image {{ timeshow.0 }}">
                  <div class="column is-6 offset1">
                             <h1> Time Show</h1>
                             Bienvenue dans l'aide de Time show, la classe PHP permettant de retourner un contenu différent en fonction de l'heure qu'il est.
        </div>




        </div>
    <div class="columns">
    <div class="span10 offset1">
    Il suffit de créer un tableau associant une plage horaire séparée par un tiret (<i>heureMin-heureMax</i>) et un contenu.<br>
    La plage horaire est testée en incluant l'heure la plus petite et en excluant la plus grande.<br>
    <div class="pull-right btn">
            <a id="dl" href="function.timeshow.zip"><img width="30px" class="logo icon" src="{{ asset('img/portfolio/deco/')}}dl.png" alt="Télécharger" />
                Télécharger la classe php
            </a>
        </div>
    <h2 id="exemple">Exemple</h2>
    Ce message change en fonction de l'heure.<br>
    <span class="timeshow">{{ timeshow.1 |raw }}</span><br>

    Time Show utilise un tableau qui affiche:
    <br><i>"c'est la nuit, va te coucher!"</i> entre minuit et 7h du matin,
    <br><i>"bon matin!"</i> entre 7h et midi,
    <br><i>"bien l'bonjour!"</i> entre midi et 18h,
    <br><i>"bonsoir, va falloir aller dormir là"</i> entre 18h et 23h,<br>

    Avec ce code php:
    <code class="prettyprint lang-php">

        <br>include('function.timeshow.php');
        <br>$tableau = array(
        <br>	"00-07" =&gt; "c'est la nuit, va te coucher!",
        <br>	"07-12" =&gt; "bon matin!",
        <br>	"12-18" =&gt; "bien l'bonjour!",
        <br>	"18-23" =&gt; "bonsoir, va falloir aller dormir là",
        <br>		);
        <br>$timeshow = new timeshow();
        <br>	echo $timeshow-&gt;build($tableau);
        <br>

    </code>
    <h2>Flexibilité</h2>
    <div class="well row-fluid">

        <img class="random_picture hero-unit span4" src="
{{ asset('img/portfolio/tpl/clair/heures/') }}{{ timeshow.0 }}" title="{{ timeshow.0 }}" alt="image {{ timeshow.0 }}">
             <div class="column is-6 offset1">
             Vous pouvez vous en servir afin d'afficher une image, une bannière, une feuille de style, tout ce que vous voulez, selon l'heure.
    Ainsi, cette image utilisée aussi en page d'accueil change en fonction de l'heure grâce à un tableau affichant des noms d'images rangées dans un dossier.
             </div>
        <div class="column is-8 offset2">
            <hr/>
            Voici les images qui s'affichent tout au long de la journée:<br/>
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}lune-nuit.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}lune-ronde.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}lune_claire.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}lune_sombre.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}lune_verte.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}miam.png" alt="image">
        <img class="icon" src="{{ asset('img/portfolio/tpl/clair/heures/') }}sun.png" alt="image">
        </div>




    </div>

    <h2 id="options">Options</h2>
    <code class="prettyprint lang-php"><strong>build</strong>($array,$more=0)</code>
    Une option "more" définie à "1" vous permet d'afficher de nombreuses infos supplémentaires qui vous renseigneront sur l'heure, le jour, le timestamp courant et le fuseau du serveur où le script est exécuté. Utile pour débugguer. Souvent, l'heure donnée par le serveur est différente de votre heure locale, ce qui peut surprendre et renvoyer une réponse qui semble décalée. Veuillez alors définir la timezone en PHP.<br>
    Il faudra l'écrire en PHP comme ceci:
    <code class="prettyprint lang-php">
        echo $timeshow-&gt;build( $tableau , 1);
    </code>
    Ce qui donne:
		{{ timeshow.2 |raw}}

    <h2 id="style">style</h2>
    Le style CSS appliqué à chaque contenu retourné est une classe nommée "<strong>timeshow</strong>" sur une balise span.<br>
    Avec l'activation de l'option pour en voir plus, c'est une classe nommée "<strong>timeshow_more success</strong>" appliquée sur une balise fieldset.<br>
    J'ai défini ces styles cSS pour ces deux classes:<br>

    <code class="prettyprint  lang-css">
        .timeshow{
        <br>	color:#222;
        <br>	font-weight:bold;
        <br>	border-radius:5px;
        <br>	}
        <br>	.timeshow_more{
        <br>	background:#AFE2FF;
        <br>	border-radius:5px;
        <br>	}
    </code>
    Et voilà, bon fun à vous!
</div>
    <div class="span2"></div>
</div>
    <footer>
		{% include 'TykaynPortfolioBundle:Apps:apps.html.twig'%}
            <script src="js/prettify.js" type="text/javascript"></script>
            <link href="{{ asset('@TykaynPortfolioBundle/Resources/public/css/help-timeline.css')}}" type="text/css">

            <script type="text/javascript">
                prettyprint();
                $(document).ready(function() {
                    if (prettyPrint() !== undefined) {
                        $('code, textarea').addClass('prettyprint linenums');
                        $('.prettyprint').prettyPrint();
                    }
                });

                </script>
                <style>.timeshow{
                            color:#222;
                            font-weight:bold;
                            border-radius:5px;
                        }
                        .timeshow_more{
                            background:#AFE2FF;
                            border-radius:5px;
                        }

                    fieldset{
                    border: solid 1px #ccc;
                    padding: 10px;
                    }
                    code{
                        display: block;
                        padding-left: 10px;
                        }
                    footer{
                        display: block;
                        }
                    </style>

                </footer>
{% endblock %}
